<template>
  <div v-if="fileData" class="mb-auto relative w-full">
    <div class="flex flex-row gap-x-4 h-20 w-full mb-4">
      <div class="[ tile ] px-4">
        <div class="[ tile-headline ]">TASK</div>
        <h1 class="text-2xl font-semibold select-none mb-0 mx-2">{{ fileData.title }}</h1>
      </div>

      <div class="[ tile ] w-36">
        <div class="[ tile-headline ]">STEP</div>
        <div class="flex items-center mt-0.5">
          <span class="circle-filled">{{ experimentStep }}</span>
        </div>
        <!-- Easter Egg -->
        <div
          v-if="experimentStep === 1"
          class="absolute right-0 top-0 w-3 h-3 cursor-pointer"
          @click="$nuxt.$emit('easterEgg_moveToExperimentStep2')"
        ></div>

        <div v-if="showRestoredInHeader" class="[ tile-footer-restored ]">restored</div>
        <div class="[ tile-footer ]">of 2</div>
      </div>

      <div
        v-if="settings.show_marker_counter_in_step_one || experimentStep === 2"
        class="[ tile ] w-132"
        :class="[settings !== 'TEST' ? 'mr-auto' : '']"
      >
        <div class="[ tile-headline ]">MARKERS</div>

        <div class="flex flex-row items-baseline w-full mt-4.5 text-sm">
          <div class="w-1/2 flex flex-col gap-y-1">
            <div class="flex w-full items-baseline">
              <div class="[ tile-label ]">Maximum markers allowed</div>
              <div class="w-1/4">{{ maxAmountOfMarkers }}</div>
            </div>
            <div class="flex w-full items-baseline">
              <div class="[ tile-label ]">Currently set markers</div>
              <div class="w-1/4">{{ allNonDeletedMarkers.length }}</div>
            </div>
          </div>

          <div class="w-1/2 flex flex-col gap-y-1">
            <!--
              <div
                v-if="allMarkers.length >= maxAmountOfMarkers"
                class="flex flex-wrap w-full items-baseline text-crimson-700"
              >
                <div class="w-full font-bold">Attention!</div>
                <div class="w-full">Max. number of markers reached.</div>
              </div>
            -->
            <div
              class="flex w-full items-baseline"
              :class="[(maxAmountOfMarkers - allNonDeletedMarkers.length) > 5 ? 'positive' : '',
              (maxAmountOfMarkers - allNonDeletedMarkers.length) <= 5 ? 'warning' : '',
              (maxAmountOfMarkers - allNonDeletedMarkers.length) < 1 ? 'negative' : '']"
            >
              <div class="[ tile-label ]">
                <span v-if="allNonDeletedMarkers.length < maxAmountOfMarkers">No. of markers left</span>
                <span v-else-if="allNonDeletedMarkers.length === maxAmountOfMarkers">No markers left</span>
                <span v-else>No. of markers in excess</span>
              </div>
              <div class="w-1/4">{{ Math.abs(maxAmountOfMarkers - allNonDeletedMarkers.length) }}</div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="settings.phase === 'TEST_TRIAL'" class="[ tile ] w-96">
        <div class="[ tile-headline ]">File Data</div>
        <div class="flex relative w-full pl-16 h-16 overflow-hidden">
          <pre class="h-full w-full overflow-y-scroll text-3xs font-thin">{{ fileData }}</pre>
        </div>
      </div>

      <div v-if="settings.phase === 'TEST_TRIAL'" class="[ tile ] w-96 mr-auto">
        <div class="[ tile-headline ]">Settings</div>
        <div class="flex relative w-full pl-16 h-16 overflow-hidden">
          <pre class="h-full w-full overflow-y-scroll text-3xs font-thin">{{ settings }}</pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  props: {
    fileData: {
      type: Object,
      default: () => { }
    },
    experimentStep: {
      type: Number,
      default: 0
    },
    maxAmountOfMarkers: {
      type: Number,
      default: 60
    },
    allMarkers: {
      type: Array,
      default: () => []
    },
    allNonDeletedMarkers: {
      type: Array,
      default: () => []
    },
    settings: {
      type: Object,
      default: () => { }
    },
    showRestoredInHeader: {
      type: Boolean,
      default: false,
      reuqired: false
    }
  },
  // mounted() {
  // console.log('%cHEADER (props)settings =', 'cont-size: 24px; color:red; padding: 20px 0', this.settings);
  // }
}
</script>

<style scoped lang="postcss">
.circle-filled {
  @apply relative inline-block px-5 z-20;
  @apply text-xl text-green-700 font-semibold;

  &:after {
    content: "";
    @apply absolute inset-0 flex -z-1;
    @apply mx-auto w-8 h-8;
    @apply rounded-full bg-green-100 bg-opacity-80;
    @apply transform -translate-y-0.5;
  }
}
</style>