<template>
  <div
    class="[ player-controls ]"
    :class="[soundContext === 'audioTrack' ? 'audio-track' : 'click-track']"
  >
    <div
      v-if="!isPlaying"
      class="btn-mediaplayer"
      @click="$nuxt.$emit('trackAudioStart', $event, soundContext)"
    >
      <font-awesome-icon :icon="['fas', 'play']" class="cursor-pointer" />
    </div>

    <div
      v-if="isPlaying && experimentStep !== 1"
      class="btn-mediaplayer"
      @click="$nuxt.$emit('trackAudioPause', $event, soundContext)"
    >
      <font-awesome-icon :icon="['fas', 'pause']" class="cursor-pointer" />
    </div>

    <div
      v-if="soundContext === 'audioTrack' && experimentStep !== 1"
      class="btn-mediaplayer"
      @click="$nuxt.$emit('trackAudioStop', $event, soundContext)"
    >
      <font-awesome-icon :icon="['fas', 'stop']" class="cursor-pointer" />
    </div>

    <div class="btn-mediaplayer" @click="volumeOff">
      <font-awesome-icon :icon="['fas', 'volume-off']" class="cursor-pointer" />
    </div>

    <div class="volume-bar">
      <div class="volume-number">
        <span>{{ soundContext }} volume</span>
        <span>{{ currentVolume }}</span>
      </div>
      <div
        v-if="soundContext === 'audioTrack'"
        ref="volume-level-bar"
        class="volume-level-bar-audio-track"
      ></div>
      <div
        v-if="soundContext === 'clickTrack'"
        ref="volume-level-bar"
        class="volume-level-bar-click-track"
      ></div>
      <div ref="volume-bg" class="volume-bg" @mousedown="setVolumeBar"></div>
    </div>

    <div class="btn-mediaplayer" @click="volumeFull">
      <font-awesome-icon :icon="['fas', 'volume-up']" class="cursor-pointer" />
    </div>

    <!-- <div>Waveform {{ waveformLocked ? 'draggable' : 'locked' }}</div> -->
    <div class="hidden">Step: {{ experimentStep }}</div>
    <div class="hidden">is playing: {{ isPlaying }}</div>
  </div>
</template>

<script>
const consCol = 'font-weight: bold; color: darkmagenta'

export default {
  props: {
    isPlaying: {
      type: Boolean,
      default: false
    },
    setCurrentVolume: {
      type: Number,
      default: 0.5
    },
    soundContext: {
      type: String,
      default: ''
    },
    experimentStep: {
      type: Number,
      default: 0
    },
    waveformLocked: {
      type: Boolean,
      default: false
    },
  },
  data: () => ({
    volumeBarTotalWidth: 0,
    currentVolume: 0
  }),
  computed: {
    soundContextClass() {
      return this.soundContext === 'audioTrack' ? 'audio-track' : 'click-track'
    }
  },
  watch: {
    setCurrentVolume(newVal) {
      // console.group('%cPEAKS-AUDIO-CONTROL watch setCurrentColume invoked', consCol)
      // console.log('curentVolume newval =', newVal);
      this.adjustVolume(newVal)
      // console.log('this.soundContext =', this.soundContext);
      if (this.soundContext === 'audioTrack') {
        this.$store.commit('status/setAudioTrackVolume', newVal)
      } else {
        this.$store.commit('status/setClickTrackVolume', newVal)
      }
      // console.log('curentVolume newval =', newVal);
      // console.groupEnd()
    }
  },
  mounted() {
    // console.log('PeaksAudioControls MOUNTED(): this.waveformLocked =', this.waveformLocked);
    this.volumeBarTotalWidth = this.$refs['volume-bg'].getBoundingClientRect().width

    // set props to data
    this.currentVolume = this.setCurrentVolume

    // Set initial volume

    if (this.soundContext === 'audioTrack') {
      document.documentElement.style.setProperty('--audio-track-volume-bar-scale-x', parseFloat(this.currentVolume))
      // this.$nuxt.$emit('setAudioTrackVolume', parseFloat(curentVolume))
    }
    else {
      document.documentElement.style.setProperty('--click-track-volume-bar-scale-x', parseFloat(this.currentVolume))
      // this.$nuxt.$emit('setClickTrackVolume', parseFloat(curentVolume))
    }
  },
  methods: {
    setVolumeBar(e) {
      const _that = this
      document.addEventListener('click', _that.resize, { once: false, passive: true });
      document.addEventListener('mousemove', _that.resize, { once: false, passive: true });
      document.addEventListener('mouseup', function () {
        document.removeEventListener('mousemove', _that.resize, false);
      }, { once: true, passive: true });
    },

    removeVolumeBarListener(e) {
      const _that = this
      document.removeEventListener('mousemove', _that.resize, false);
    },

    resize(e) {
      if (e.offsetX <= this.volumeBarTotalWidth && e.target === this.$refs['volume-bg']) {
        // calculate scale value
        const scaleXVal = (100 / this.volumeBarTotalWidth) * (e.offsetX / 100)
        this.adjustVolume(scaleXVal.toFixed(2))
      }
      else {
        // console.log("AudioControls Methods - resize(): OffsetX of mousemove on volume-bg is out of bounds.")
      }
    },

    /**
      volumeUp() {
        console.log('volume up');
        this.adjustVolume('up')
      },
    */

    volumeDown() {
      // console.log('volume down');
      this.adjustVolume('down')
    },

    volumeOff() {
      // console.log('volume off');
      this.adjustVolume('off')
    },

    volumeFull() {
      // console.log('volume full');
      this.adjustVolume('full')
    },

    /**
     * Wrap this one in "if(this.notMuted)" in case "muted" will be used one day
     * @param <string|number> mode   Either "up", "down", "off" or a float
     */
    adjustVolume(mode) {
      // console.group('%cPEAKS-AUDIO-CONTROLS adjustVolume: mode =', consCol, mode);
      let newVolume = null

      if (mode === 'up' && this.currentVolume < 1) {
        const newVol = parseFloat(parseFloat(this.currentVolume + 0.05).toFixed(2))
        newVolume = Math.min(Math.max(newVol, 0.00), 1.00)
      }
      else if (mode === 'down' && this.currentVolume > 0) {
        const newVol = parseFloat(parseFloat(this.currentVolume - 0.05).toFixed(2))
        newVolume = Math.min(Math.max(newVol, 0.00), 1.00)
      }
      else if (mode === 'off') {
        newVolume = 0
      }
      else if (mode === 'full') {
        newVolume = 1
      }
      else if (mode != null) {
        // console.log('mode for volume is a number (not "on", "off", "up" ...');
        newVolume = mode
      }

      // console.log('newVolume =', newVolume);
      this.currentVolume = newVolume

      /**
       * Handle the width of the volume level bar via a css variable
       */
      if (newVolume >= 0 && newVolume <= 1) {
        if (this.soundContext === 'audioTrack') {
          document.documentElement.style.setProperty('--audio-track-volume-bar-scale-x', parseFloat(newVolume))
          $nuxt.$emit('setAudioTrackVolume', parseFloat(newVolume))
        } else {
          document.documentElement.style.setProperty('--click-track-volume-bar-scale-x', parseFloat(newVolume))
          $nuxt.$emit('setClickTrackVolume', parseFloat(newVolume))
        }
      }

      // console.groupEnd()
    },
  }
}
</script>