<template>
  <div v-if="isLoaded" class="[ view-controls ]">
    <div v-if="showIsPlayheadSeekable" class="flex row align-center justify-center gap-x-2 mr-2">
      <div class="flex flex-row">
        <font-awesome-icon
          v-if="!playheadSeekable"
          :icon="['fas', 'toggle-off']"
          class="cursor-pointer"
          @click="setPlayheadSeekable(true)"
        />
        <font-awesome-icon
          v-else
          :icon="['fas', 'toggle-on']"
          class="cursor-pointer"
          @click="setPlayheadSeekable(false)"
        />
      </div>

      <p class="text-xs mb-0">Playhead follows right and left mouse click</p>
    </div>

    <button
      v-if="toggleSettings.show_waveform_btn"
      class="btn-view-toggle"
      @click="$nuxt.$emit('toggleWaveformLayer', view, 'waveform')"
    >
      <svg role="img" class="w-6 h-6">
        <use v-if="!toggles['waveform'].status" xlink:href="#hide-wave" />
        <use v-if="toggles['waveform'].status" xlink:href="#show-wave" />
        <title>Toggle waveform of view: {{ view }}</title>
      </svg>
    </button>

    <button
      v-if="toggleSettings.show_marker_btn"
      class="btn-view-toggle"
      @click="$nuxt.$emit('toggleWaveformLayer', view, 'points')"
    >
      <svg role="img" class="w-6 h-6">
        <use v-if="!toggles['points'].status" xlink:href="#hide-marker" />
        <use v-if="toggles['points'].status" xlink:href="#show-marker" />
        <title>Toggle marker of view: {{ view }}</title>
      </svg>
    </button>

    <button
      v-if="toggleSettings.show_time_btn"
      class="btn-view-toggle"
      @click="$nuxt.$emit('toggleWaveformLayer', view, 'axis')"
    >
      <svg role="img" class="w-6 h-6">
        <use v-if="!toggles['axis'].status" xlink:href="#hide-axis" />
        <use v-if="toggles['axis'].status" xlink:href="#show-axis" />
        <title>Toggle axis / timeline of view: {{ view }}</title>
      </svg>
    </button>

    <button
      v-if="toggleSettings.show_playhead_btn"
      class="btn-view-toggle"
      @click="$nuxt.$emit('toggleWaveformLayer', view, 'playhead')"
    >
      <svg role="img" class="w-6 h-6">
        <use v-if="!toggles['playhead'].status" xlink:href="#hide-playhead" />
        <use v-if="toggles['playhead'].status" xlink:href="#show-playhead" />
        <title>Toggle playhead & current time</title>
      </svg>
    </button>

    <button
      v-if="view === 'overview' && toggleSettings.show_highlight_btn"
      class="btn-view-toggle"
      @click="$nuxt.$emit('toggleWaveformLayer', view, 'highlight')"
    >
      <svg role="img" class="w-6 h-6">
        <use v-if="!toggles['highlight'].status" xlink:href="#hide-highlight" />
        <use v-if="toggles['highlight'].status" xlink:href="#show-highlight" />
        <title>Toggle highlight</title>
      </svg>
    </button>
  </div>
</template>

<script>
// All emits handles in mixin/waveformLayerToggle.js, implemented by components/peaks/Waveform.vue

const consCol = 'font-weight: bold; color: darkyellow'

export default {
  props: {
    view: {
      type: String,
      default: 'zoomview'
    },
    toggles: {
      type: Object,
      default: () => { }
    },
    toggleSettings: {
      type: Object,
      default: () => { }
    },
    isPlayheadSeekable: {
      type: Boolean,
      required: false,
      default: false
    },
    showIsPlayheadSeekable: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  data: () => ({
    isLoaded: false,
    playheadSeekable: false
  }),
  watch: {
    isPlayheadSeekable: {
      immediate: true,
      handler(newVal) {
        this.playheadSeekable = newVal;
      }
    },
  },
  mounted() {
    console.group('%cPeaksWaveformControls mounted invoked', consCol)
    // console.log('this.view =', this.view)
    // console.log('toggleSettings =', this.toggleSettings);

    this.$nextTick(() => {
      this.isLoaded = true
    })
    console.groupEnd()
  },
  methods: {
    setPlayheadSeekable(bool) {
      // console.log('setPlayheadSeekable invoked: bool =', bool);
      $nuxt.$emit('setPlayheadIsSeekable', bool)
    }
  }
}
</script>