<template>
	<section class="peaks-section" :class="experimentStepCssClass">
		<PeaksHeader :file-data="fileDataToPassOn" :experiment-step="experimentStep" :max-amount-of-markers="maxCuesAllowed"
			:all-markers="getCues" :all-non-deleted-markers="allNonDeletedMarkers" :settings="getSettings"
			:show-restored-in-header="showRestoredInHeader" />

		<!-- OVERVIEW CONTROLS: Layer visibilities -->
		<div class="[ overview-controls-container ] toggle-buttons mb-1">
			<PeaksWaveformControls v-if="experimentStep === 2" ref="overview-waveform-ctrl-btns" view="overview"
				:toggles="overviewToggles" :toggle-settings="getSettings.overview_toggles" :is-playhead-seekable="false"
				:show-is-playhead-seekable="false" class="ml-auto" />
		</div>

		<!-- OVERVIEW WAVEFORM -->
		<div ref="overview-waveform-wrapper" class="[ peaks-container ] peaks-container-border mb-4"
			:class="[experimentStep === 2 ? 'opacity-100 pointer-events-auto' : 'opacity-0 h-0 max-h-0 pointer-events-none']">
			<div ref="overview" class="[ waveform-overview ] waveform"></div>
		</div>

		<!-- ZOOMVIEW CONTROLS 1: Click controls, Layer visibility -->
		<div class="[ zoomview-controls-container ] toggle-buttons mb-1">
			<div class="[ click-player ] flex flex-row flex-nowrap items-center justify-between gap-x-1"
				:class="[experimentStep < 2 ? 'invisible' : '']">
				<svg role="img" alt="Adjust click track volume" class="w-6 h-6 text-gray-600 cursor-pointer"
					@click="toggleClickTrackVisibility">
					<use xlink:href="#metronome" />
					<title>Adjust click track volume</title>
				</svg>

				<div ref="click-track-cover-el" class="click-track-cover">
					<audio v-if="taskFileData !== null" ref="click-track" :src="clickUrl" controls class="w-0 h-0 overflow-hidden"
						@ended="clickTrackEnded($event)"></audio>
					<PeaksAudioControls ref="zoomview-audio-ctrls" class="flex flex-row" sound-context="clickTrack"
						:is-playing="clickTrackIsPlaying" :set-current-volume="clickTrackVolume" />
				</div>
			</div>

			<div v-show="waveformIsLoading"
				class="[ loading ] flex flex-row items-center gap-x-2 text-gray-400 text-2xs leading-none pr-10">
				<!-- <div class="text-right">{{ percentComplete }}% downloaded</div> -->
				<LoadingIndicator class="mr-auto" />
			</div>

			<PeaksWaveformControls v-if="experimentStep === 2" ref="zoomview-waveform-ctrl-btns" view="zoomview"
				:toggles="zoomviewToggles" :toggle-settings="getSettings.zoomview_toggles"
				:is-playhead-seekable="playheadIsSeekable" :show-is-playhead-seekable="false" />
		</div>

		<!-- ZOOMVIEW CONTAINER -->
		<div class="[ zoomview-container ] peaks-container-wrapper waveform-zoomview gap-x-1">
			<div class="[ peaks-container ] peaks-container-border"
				:class="[experimentStep === 2 ? 'pointer-event-auto' : 'pointer-events-none']">
				<div ref="zoomview" class="waveform"></div>
			</div>

			<div ref="zoomview-amplitude-ctrls" class="[ amplitude-controls ]" :class="[(experimentStep === 2 && getSettings.zoomview_toggles.show_waveform_btn)
			? 'opacity-100 pointer-event-auto'
			: 'opacity-0 pointer-events-none']">
				<button class="btn-zoom-control" @click="increaseAmplitude($event)">+</button>
				<input id="amplitude-scale-slider" ref="amplitude-scale-slider" type="range" min="0"
					:max="getAmplitudeScalesLength" step="1" orient="vertical" @input="onAmplitudeSliderInput($event)" />
				<button class="btn-zoom-control" @click="decreaseAmplitude($event)">-</button>
			</div>
		</div>

		<!-- ZOOMVIEW CONTORLS 2 (Play controls, SAVE, [1,2,3], Zoom-in/out) -->
		<div ref="zoomview-toggle-buttons" class="[ zoomview-toggle-buttons ] toggle-buttons mt-1"
			:class="[experimentStep !== 1] ? 'mb-auto' : 'mb-1'">
			<div class="flex flex-row flex-nowrap items-center justify-between gap-x-1">
				<PeaksAudioControls v-if="!waveformIsLoading" sound-context="audioTrack" :experiment-step="experimentStep"
					:is-playing="audioTrackIsPlaying" :set-current-volume="audioTrackVolume"
					:waveform-locked="enableWaveformDragging" />
				<audio v-if="taskFileData !== null" ref="audio-track" controls class="w-0 h-0 overflow-hidden" :src="audioUrl"
					@ended="audioTrackEnded"></audio>
			</div>

			<div v-if="!waveformIsLoading" class="flex flex-row flex-nowrap items-center justify-between gap-x-1 mx-auto">
				<div class="btn btn-medium cursor-pointer key-color-1" @click="addNewMarker('1')">1</div>
				<div class="btn btn-medium cursor-pointer key-color-2" @click="addNewMarker('2')">2</div>
				<div class="btn btn-medium cursor-pointer key-color-3" @click="addNewMarker('3')">3</div>

				<div v-if="experimentStep === 1" class="flex flex-nowrap gap-x-1 ml-4">
					<div class="btn btn-green btn-medium" @click="$nuxt.$emit('showContentModal', {
						domain: 'TASK_ONE',
						nonstrict: true
					})">Instructions for Step 1</div>

					<font-awesome-icon :icon="['fas', 'info-circle']" class="cursor-pointer select-none" @click="$nuxt.$emit('showInfoModal', {
						modal_domain: 'INFORMATION_ABOUT_BUTTONS',
						content_domain: 'TASK_INSTRUCTION_BUTTON'
					})" />
				</div>

				<div v-if="experimentStep === 1 && (getSettings.development || !getIsExperiment)"
					class="flex flex-nowrap gap-x-1 ml-4">
					<div class="btn btn-secondary btn-medium" @click="proceedToNextExperimentStep()">Next Step</div>

					<font-awesome-icon :icon="['fas', 'info-circle']" class="cursor-pointer select-none" @click="$nuxt.$emit('showInfoModal', {
						modal_domain: 'INFORMATION_ABOUT_BUTTONS',
						content_domain: 'NEXT_STEP_BUTTON'
					})" />
				</div>

				<div v-if="experimentStep === 2" class="flex flex-nowrap gap-x-1 ml-4">
					<div class="btn btn-green btn-medium" @click="$nuxt.$emit('showContentModal', {
						domain: 'TASK_TWO',
						nonstrict: true
					})">Instructions for Step 2</div>

					<font-awesome-icon :icon="['fas', 'info-circle']" class="cursor-pointer select-none" @click="$nuxt.$emit('showInfoModal', {
						modal_domain: 'INFORMATION_ABOUT_BUTTONS',
						content_domain: 'TASK_INSTRUCTION_BUTTON'
					})" />
				</div>

				<div v-if="experimentStep === 2" class="flex flex-nowrap gap-x-1 ml-4">
					<button class="btn btn-medium"
						:class="[(allMarkersValidated && allNonDeletedMarkers.length > 2 && maxCuesNotExceeded) ? 'btn-green cursor-pointer' : 'btn-secondary cursor-not-allowed']"
						@click="allMarkersValidated && allNonDeletedMarkers.length > 2 && maxCuesNotExceeded && saveTask()">
						<span v-if="allMarkersValidated && allNonDeletedMarkers.length > 2 && maxCuesNotExceeded">Save Task</span>
						<span v-else>
							<span v-if="!allMarkersValidated && allNonDeletedMarkers.length > 2" class="text-red-500">
								Descriptor(s) missing
								<br />
							</span>
							<span v-if="allMarkersValidated && allNonDeletedMarkers.length < 3" class="text-red-500">Markers
								missing</span>
							<span v-if="!maxCuesNotExceeded" class="text-red-500">Too many markers</span>
						</span>
					</button>
					<font-awesome-icon :icon="['fas', 'info-circle']" class="cursor-pointer select-none" @click="$nuxt.$emit('showInfoModal', {
						modal_domain: 'INFORMATION_ABOUT_BUTTONS',
						content_domain: 'SAVE_EXPERIMENT_BUTTON'
					})" />
					<div v-if="!allMarkersValidated || allNonDeletedMarkers.length < 3" class="text-xs text-gray-400">
						<strong>Saving Task</strong>
						<br />not available
					</div>
				</div>
			</div>

			<div class="flex flex-row flex-nowrap items-center justify-between gap-x-1 ml-auto" :class="[(experimentStep === 2)
			? 'opacity-100 max-w-none pointer-event-auto'
			: 'opacity-0 max-w-0 pointer-events-none']">
				<button class="btn-zoom-control" tabindex="-1"
					:class="[currZoomLevelIsSetToFit ? 'pointer-events-none cursor-not-allowed opacity-50' : '']"
					@click="zoomInWaveform($event)">
					<font-awesome-icon :icon="['fas', 'search-plus']" class="cursor-pointer" />
				</button>

				<input id="waveform-zoom-slider" ref="waveform-zoom-slider" type="range" min="0" :max="zoomLevels.length - 1"
					step="1" orient="horizontal"
					:class="[currZoomLevelIsSetToFit ? 'pointer-events-none cursor-not-allowed opacity-50' : '']"
					@input="onZoomSliderInput($event)" />

				<button class="btn-zoom-control"
					:class="[currZoomLevelIsSetToFit ? 'pointer-events-none cursor-not-allowed opacity-50' : '']"
					@click="zoomOutWaveform($event)">
					<font-awesome-icon :icon="['fas', 'search-minus']" class="cursor-pointer" />
				</button>
			</div>

			<div ref="fitToContainerBtn" class="flex flex-row items-center transition-all duration-500 relative" :class="[(experimentStep === 2 && getSettings.zoomview_toggles.show_waveform_btn)
			? 'opacity-100 pointer-event-auto'
			: 'opacity-0 w-0 pointer-events-none']">
				<button :class="[currZoomLevelIsSetToFit ? 'btn-zoom-control-active' : 'btn-zoom-control']"
					@click="toggleFitZoom()">fit</button>
			</div>
		</div>

		<!-- Show a warning that audio playback cannot be started with space key in expertiment step 1 -->
		<div class="[ warning ] flex items-center justify-center w-full text-center text-sm mb-auto h-4">
			<p v-if="!audioTrackIsPlaying && experimentStep === 1">{{ warning }}</p>
			<p v-if="markerPlacementWarning" class="error">{{ markerPlacementWarning }}</p>
		</div>

		<div class="absolute bottom-1 left-4 border-l-2 border-black border-opacity-10 h-4"
			@click="devDataVisible = !devDataVisible"></div>

		<vue-simple-context-menu ref="vueSimpleContextMenu" :element-id="'myUniqueId'" :options="options"
			@option-clicked="optionClicked" @contextmenu.prevent="handleRightClick($event)"></vue-simple-context-menu>

		<div
			class="absolute bottom-1 left-6 text-2xs text-gray-200 flex flex-row transition-all overflow-hidden whitespace-nowrap"
			:class="[devDataVisible ? 'w-56' : 'w-0']">comingFrom: {{ comingFrom }} | isExperiment: {{ isExperiment }}</div>
	</section>
</template>

<script>
import Vue from 'vue'
/* eslint-disable no-console */
import { mapGetters } from 'vuex'
import VueSimpleContextMenu from 'vue-simple-context-menu'
// SCRIPTS
import SimplePointMarker from './scripts/SimplePointMarker.js'
import CustomPointMarker from './scripts/CustomPointMarker.js'
// COMPONENTS
import PeaksAudioControls from './PeaksAudioControls.vue'
import PeaksWaveformControls from './PeaksWaveformControls.vue'
import PeaksHeader from './PeaksHeader.vue'
import LoadingIndicator from '@/components/loadingIndicators/bouncingRectangles.vue'
// MIXINS
import amplitudeZoomAndScale from '@/mixins/amplitudeZoomAndScale.js'
import audioPlayerMethods from '@/mixins/audioPlayerMethods.js'
import keyEvents from '@/mixins/keyEvents.js'
import waveformLayerToggles from '@/mixins/waveformLayerToggles.js'
import waveformLayerVisibility from '@/mixins/waveformLayerVisibility.js'
import updatePoints from '@/mixins/updatePoints.js'
import contextMenu from '@/mixins/contextMenu.js'
// DB
import db from '@/db/dexie'

Vue.component('VueSimpleContextMenu', VueSimpleContextMenu)

const consCol = 'font-weight:bold;color:blue'
const consColWarn = 'font-weight: bold; color: crimson;'

/**
 * The loading status also emits to `setEditingMode` to call `setIsEditing`
 * on the parent. This method toggles a `isEditing` vaiable which is responsible
 * for alerting a warning, when the route changes (which can happen
 * unintentionally because of a swipe on MacBook touch pads)
 */
export default {
	components: {
		PeaksAudioControls,
		PeaksWaveformControls,
		PeaksHeader,
		LoadingIndicator
	},

	mixins: [
		amplitudeZoomAndScale,
		audioPlayerMethods,
		keyEvents,
		waveformLayerToggles,
		waveformLayerVisibility,
		updatePoints,
		contextMenu
	],

	props: {
		// "fileData" is ONE item of the audioFileList create in "[playground|pilot|experiment].vue"
		// using "createAudioList('audio', ...)"
		fileData: {
			type: Object,
			default: () => { }
		},
		comingFrom: {
			type: String,
			default: 'noWhere'
		},
		isExperimentProp: {
			type: Boolean,
			default: undefined
		},
		restoreTask: {
			type: Boolean,
			default: false,
			required: false
		},
		showRestoredInHeader: {
			type: Boolean,
			default: false,
			reuqired: false
		}
		// "cues" come from computed
	},

	data: () => ({
		// also see mixins!

		devDataVisible: false,
		playheadIsSeekable: true,

		/**
		 * We need to move fileData from Props to taskFileData, otherwise we cannot
		 * handle a potential page reload (which looses all data); props cannot be
		 * overridden!
		 */
		taskFileData: {},

		// isLoading: false,
		waveformIsLoading: false,
		isExperiment: undefined,
		experimentStep: 0,
		activateSaveButton: false,
		peaksInitialised: false,

		// Destroyed states
		peaksDestroyed: false,
		zoomviewDestroyed: false,
		overviewDestroyed: false,

		// "1" and "2" are the "experimentSteps", there is no "0" (0 = reserved for
		// segement startTime marker)
		pointColors: {
			1: [null, 'rgb(239,68,68,1.0)', 'rgb(59,130,246,1.0)', 'rgba(34,197,94,1.0)'], // red/500, blue/500, // emerald/500: rgba(16, 185, 129, 1.0) // green/500: rgba(34, 197, 94, 1.0),
			2: [null, 'rgba(185,28,28,1.0)', 'rgba(29,78,216,1.0)', 'rgba(4,120,87,1.0)'], // red/700, blue/700, // emerald/700: rgba(21, 128, 61, 1.0) // green/700: rgba()
		},
		pointHeights: [null, 20, 14, 10],

		/**
		 * Set peaksOptions as reactive $data object; some are set later, because DOM
		 * is not ready yet. See "initialiseStepOne()"
		 */
		peaksOptions: {
			waveformColor: 'rgba(97,134,141,0.25)',
			playedWaveformColor: 'rgba(97,134,141,0.65)',
			playheadColor: 'rgba(97,134,141,0.85)',
			playheadTextColor: 'rgba(97,134,141,0.85',
			// If not defined on a view, but globally, showPlayheadTime is only used
			// in zoomview
			// showPlayheadTime: true,
			draggable: true,
			emitCueEvents: true,
			keyboard: true,
			pointMarkerColor: 'rgba(30, 139, 195, 1)',
			fontFamily: 'Verdana',
			fontSize: 10,
			padding: 3,
			experimentStep: 1
		},

		zoomLevels: [128, 256, 512, 1024, 2048],

		offsetStartTime: 0,
		offsetEndTime: 0,

		// Needed for waveform.toggleMarkerVisibility toggle
		markerVisible: true,

		// In experimentStep 1 the waveform must not be dragable / scrollable
		enableWaveformDragging: false,

		// A warning text: shown, when ???
		warning: '',
		markerPlacementWarning: '',

		// Rightclick menu (showing on "click" - this is before peaks integrate contextmenu)
		contextmenuActive: false,

		// Local var to set env to testing mode
		getIsTesting: false,

		// Progressive mp3 download
		// percentComplete: 0,
		// audioBufferFromDb: []
	}),

	computed: {
		...mapGetters('experiment', ['getCues']),
		...mapGetters('status', ['getSettings', 'getIsExperiment']),
		experimentStepCssClass() {
			return 'experiment-step-' + this.experimentStep
		},
		fileDataToPassOn() {
			return this.taskFileData
		},
		maxCuesAllowed() {
			return this.taskFileData.totalAmountOfCues
		},
		maxCuesNotExceeded() {
			return (this.allNonDeletedMarkers.length <= this.maxCuesAllowed)
		},
		allNonDeletedMarkers() {
			return this.getCues.filter(item => item.deleted === false)
		},
		allMarkersValidated() {
			if (this.allNonDeletedMarkers.find(item => item.markerDegree !== 3 && !item.validated)) {
				return false
			}
			return true
		},
		clickUrl() {
			let url = this.taskFileData.clickSoundUrl
			if (url && url.slice(0, 1) === '/') {
				url = `http://localhost:1337${this.taskFileData.clickSoundUrl}`
			}
			return url
		},
		audioUrl() {
			let url = this.taskFileData.mediaUrl
			if (url && url.slice(0, 1) === '/') {
				url = `http://localhost:1337${this.taskFileData.mediaUrl}`
			}
			return url
		},
		dataUri() {
			let url = this.taskFileData.datFileUrl
			if (url && url.slice(0, 1) === '/') {
				url = `http://localhost:1337${this.taskFileData.datFileUrl}`
			}
			return url
		},
		routeToAudioFileList() {
			if (this.getSettings.isExperiment && this.getSettings.phase === 'PILOT') {
				return '/pilot'
			}
			else if (this.getSettings.isExperiment && this.getSettings.phase === 'EXPERIMENT') {
				return '/experiment'
			}
			return '/playground'
		},
		appSection() {
			let section = 'playground'
			if (this.isExperiment && this.getSettings.phase === 'PILOT') {
				section = 'pilot'
			}
			if (this.isExperiment && this.getSettings.phase === 'EXPERIMENT') {
				section = 'experiment'
			}
			return section
		}
	},

	watch: {
		waveformIsLoading(newVal) {
			if (newVal === false) {
				this.$nuxt.$emit('waveformLoadingFinished')
			}
		},
	},

	async mounted() {
		// See Mixins!!!

		console.group('%cWAVEFORM mounted', consCol);
		// console.log('this.fileData (props) =', this.fileData);

		const status = await db.status.toArray()
		this.isExperiment = this.isExperimentProp

		/**
		 * A page reload would loose VueX data. So if `this.isExperiment` is
		 * undefined, get it from indexedDB and save it to VueX.
		 */
		if (this.isExperiment === undefined) {
			this.isExperiment = status[0].isExperiment
		}

		console.log('this.restoreTask (props) =', this.restoreTask);

		// restore task from snapshot
		if (this.restoreTask) {
			await this.restoreSnapshot()
		}
		else {
			console.group('%cWAVEFROM - do NOT restore task', consCol);

			if (Object.keys(this.taskFileData).length < 1) {
				// Copy from props
				this.taskFileData = this.fileData
				// "this.taskFileData" could be empty due to page reload; must be "await"!!!
				// "checkTaskFileData" fetches data from [pilot|experiment]_info table, if empty
				await this.checkTaskFileData()
			}

			/**
			 * Offset Markers
			 *
			 * The backend lets editors define a offsetStart and a offsetEnd value in seconds
			 * which inidicate that there is a certain "rest" (silence) in the recording
			 * that must not be part of the experiment.
			 * Save the to "data", so we can later check in addNewMarkers, whether those
			 * new markers are set within these time constraints
			 */
			this.offsetStartTime = this.taskFileData.offsetStartMarker.time || parseFloat(0.1)
			this.offsetEndTime = this.taskFileData.offsetEndMarker.time || parseFloat(10.0)

			const offsetStartMarker = {
				id: 'peaks.point.1',
				editable: false,
				time: this.offsetStartTime,
				labelText: '  ',
				markerDegree: 1,
				color: '#808080',
				pointerHeight: 20,
				deleted: false,
				validated: true,
				remarks: 'Offset Start Time Marker',
				descriptors: [],
				descriptorBeforeActive: false,
				descriptorAfterActive: false
			}
			const offsetEndMarker = {
				id: 'peaks.point.9999',
				editable: false,
				time: this.offsetEndTime,
				labelText: '  ',
				markerDegree: 1,
				color: '#808080',
				pointerHeight: 20,
				deleted: false,
				validated: true,
				remarks: 'Offset End Time Marker',
				descriptors: [],
				descriptorBeforeActive: false,
				descriptorAfterActive: false
			}

			// Add the 2 offsetMarkers to vuex vues store
			// TODO: only do this, when there was NO restore!
			this.$store.commit('experiment/addCue', offsetStartMarker)
			this.$store.commit('experiment/addCue', offsetEndMarker)

			console.groupEnd()
		}

		console.groupEnd()

		// Initialise non-reactive variables
		this.peaks = null
		this.overview = null
		this.zoomview = null

		/* ------------ NUXT Busses ------------ */

		// Called from "keyEvents" ("Do not use spacebar in step 1")
		$nuxt.$on('warning', message => { this.showWarning(message) })

		// This is for the easter egg in pilot / experiment
		$nuxt.$on('easterEgg_moveToExperimentStep2', () => {
			this.proceedToNextExperimentStep()
		})

		// Right click on marker opens menu
		$nuxt.$on('showContextMenu', (event, item) => {
			if (event.e && item === undefined) {
				this.handleClick(event.e, event.p)
			}
			else {
				this.handleClick(event, item)
			}
		})

		// Listen to changes of the font resizer in "Logo.vue"
		$nuxt.$on('resizeFont', () => {
			this.resizeCanvas()
		})

		$nuxt.$on('setPlayheadIsSeekable', bool => {
			this.playheadIsSeekable = bool
			// Since this.zoomview is not reactive, we must handle it manually
			this.zoomview.enableSeek(bool)
		})

		// Start loading the audio files
		this.initializePeaks()
		// this.loadMP3()
	},

	beforeDestroy() {
		// Remove listeners
		$nuxt.$off('warning')
		$nuxt.$off('showContextMenu')
		$nuxt.$off('easterEgg_moveToExperimentStep2')
		$nuxt.$off('resizeFont')
		$nuxt.$off('setPlayheadIsSeekable')

		$nuxt.$emit('removeKeyEventListeners')

		// If [url]/peaks was reloaded or entered directly, peaks is not available
		if (this.peaks) {
			this.peaks.destroy()
		}
	},

	methods: {
		// LoadMP3 currently not in use. The idea is to load the mp3 while displaying
		// a percentage downloader. Then save the arraybuffer to indexedDB. This
		// arraybuffer is then used in peaks' mediaUrl... (WIP). It is also checked
		// whether data is already available so that another download can be
		// prevented.
		/*
			async loadMP3() {
				console.log('this.audioUrl =', this.audioUrl);
				const currentData = await db.current_file.get({
					url: this.audioUrl
				})
				console.log('currentData =', currentData);
				if (currentData.url === this.audioUrl) {
					console.log('...matching');
					resolve(currentData.data)
				}
				else {
					console.log('...not matching');
					reject(new Error('url not matching'))
				}
				this.waveformIsLoading = true // unset in onWaveformLoaded
				const request = new XMLHttpRequest();
				request.responseType = 'arraybuffer';
				request.addEventListener('progress', e => {
					this.percentComplete = Math.floor((e.loaded / e.total) * 100);
				});
				request.addEventListener('readystatechange', e => {
					if (request.readyState === 2 && request.status === 200) {
						// console.log('Download is being started');
					}
					else if (request.readyState === 3) {
						// console.log('Download is under progress');
					}
					else if (request.readyState === 4) {
						// console.log('Download has finished');
						// console.log("request.response =", request.response);
						db.current_file.put({ url: this.audioUrl, data: request.response })
						this.waveformIsLoading = false
					}
				});
				// Download MP3 file
				request.open('get', this.audioUrl);
				request.send();
			},
		*/

		async getDuration() {
			const duration = await this.peaks.player.getDuration()

			if (isNaN(duration)) {
				console.log('call getDuration again...');
				this.getDuration()
			}
			else {
				console.log('Finally return duration', duration);
				return duration
			}
		},

		initializePeaks() {
			console.group('%cWAVEFOM initializePeaks invoked', consCol)
			this.waveformIsLoading = true // unset in onWaveformLoaded

			// Show Modal
			this.$nuxt.$emit('showModalForExperimentStepOneWithPreloader')

			// Extend peaksOptions with info that is only now available
			this.peaksOptions = Object.assign({}, this.peaksOptions, {
				mediaElement: this.$refs['audio-track'],
				mediaUrl: this.audioUrl,
				zoomLevels: this.zoomLevels, // see mixins
				containers: {
					overview: this.$refs.overview,
					zoomview: this.$refs.zoomview,
				},
				zoomview: {
					container: this.$refs.zoomview,
					showPlayhead: true,
					playheadClickTolerance: 20
				},
				overview: {
					container: this.$refs.overview,
					showPlayhead: true,
					wheelMode: 'scroll',
					highlightOffset: 11
				},
				keyboard: true,
				createPointMarker: this.createCustomPointMarker,
				points: this.getCues
			})

			console.log('this.taskFileData.datFileUrl =', this.taskFileData.datFileUrl);

			if (this.taskFileData.datFileUrl) {
				console.log('%cDAT file available', 'font-size: 40px; color: green;');

				let url = this.taskFileData.datFileUrl
				if (url.slice(0, 1) === '/') {
					url = `http://localhost:1337${this.taskFileData.datFileUrl}`
				}

				console.log('url =', url);

				this.peaksOptions = Object.assign({}, this.peaksOptions, {
					dataUri: {
						arraybuffer: url
					}
				})
			}
			else {
				console.log('%cNO DAT file available, use Web Audio API to generate Waveform', 'font-size: 40px; color: red;');
				console.log('this.audioUrl =', this.audioUrl);

				this.peaksOptions = Object.assign({}, this.peaksOptions, {
					webAudio: {
						audioContext: new AudioContext(),
						scale: 128,
						multiChannel: true,
					},
				})
			}

			console.groupEnd()

			// "this.$peaks" is defined as plugin (required for Nuxt)
			this.$peaks.init(this.peaksOptions, this.onWaveformLoaded)
		},

		async onWaveformLoaded(error, peaks) {
			console.group('%cWAVEFOM onWaveformLoaded invoked', consCol)
			console.log('peaks =', peaks);

			// Disable loading indicator
			this.waveformIsLoading = false

			if (error) {
				throw new Error('An error loading peaks occured:', error, ' - message:', error.message)
			}

			// When "isEditing" is true, autosave starts
			this.$emit('setEditingMode', true)

			this.peaks = peaks

			/* ---------------- Point Mouse Events ----------------  */

			// Contextmenu event of a point
			this.peaks.on('points.contextmenu', event => {
				// Here we simply suppress the "normal" rightclick menu; the real action
				// happens in the click event, where button 2 is detected
				event.evt.preventDefault();
				event.evt.stopPropagation()
				event.evt.stopImmediatePropagation()
			})

			this.peaks.on('points.click', event => {
				if (event.point.id !== 'peaks.point.1' && event.point.id !== 'peaks.point.9999') {
					if (event.evt.button === 2) {
						const e = event.evt
						const p = event.point
						$nuxt.$emit('showContextMenu', { e, p })
					}
				}
			})

			this.peaks.on('points.dblclick', event => {
				if (event.point._id !== 'peaks.point.1' && event.point._id !== 'peaks.point.9999') {
					$nuxt.$emit('showModalForDescriptors', event.point)
				}
			})

			// Update time attribute of point after dragging
			this.peaks.on('points.dragend', event => {
				const id = event.point._id
				const newTime = parseFloat(event.point._time.toFixed(4))
				this.$store.commit('experiment/cueUpdate', { id, time: newTime })
			})

			// Play click when playhead enters
			this.peaks.on('points.enter', point => {
				if (this.experimentStep !== 1 && point.id !== 'peaks.point.1' && point.id !== 'peaks.point.9999' && !point.deleted) {
					if (!this.$refs['click-track'].paused) {
						$nuxt.$emit('trackAudioStop', null, 'clickTrack')
					}
					$nuxt.$emit('trackAudioStart', null, 'clickTrack')
				}
			})

			/* -------------- Peaks Configurations --------------- */

			this.overview = this.peaks.views.getView('overview')
			this.zoomview = this.peaks.views.getView('zoomview')

			console.log('this.peaks.player =', await this.peaks.player);

			const duration = await this.getDuration();
			console.log('duration =', duration);

			this.zoomview.setWheelMode('scroll')
			this.zoomview.enableSeek(this.playheadIsSeekable)

			this.zoomview.setZoom({ seconds: duration })
			// this.peaks.zoom.setZoom({ seconds: duration })

			this.peaksInitialised = true

			// Set volume of audio track and click sound
			this.$refs['audio-track'].volume = this.audioTrackVolume
			this.$refs['click-track'].volume = this.clickTrackVolume

			// Set initial value of amplitude scale slider
			this.$refs['amplitude-scale-slider'].value = this.currentAmplitudeScaleKey
			this.$refs['waveform-zoom-slider'].value = this.peaks.zoom.getZoom()

			// Activate experimentStep 1
			this.proceedToNextExperimentStep()

			console.groupEnd()
		},

		/**
		 * Experiment Steps
		 */
		proceedToNextExperimentStep() {
			console.group('%cWAVEFORM proceedToNextExperimentStep() invoked', consCol)

			if (this.experimentStep === 0) {
				console.log('...move to experimentStep 1');
				this.experimentStep = 1

				// see mixins/waveformLayerToggles.js
				this._manageStepOneWaveformLayers()

				// Restore Task
				if (this.restoreTask) {
					console.group('%cInitiate playback from lastest cue, also set audio volume', 'font-weight: bold; color: darkorange');
					const cues = this.$store.getters['experiment/getCues']
					const lastCue = cues[this.$store.getters['experiment/getCues'].length - 1];
					$nuxt.$emit('trackAudioStart', null, 'audioTrack', lastCue.time)
					console.log('%cUNSET RESTORE TASK IN STEP 1 (AFTER AUTOPLAYBACK STARTED:', 'padding:20px 0; color:crimson; font-weight:bold');
					$nuxt.$emit('resetRestoreTask')
					setTimeout(() => {
						this.$vfm.hideAll()
					}, 100)
					console.groupEnd()
				}
			}
			else if (this.experimentStep === 1) {
				console.log('...move to experimentStep 2');

				this.experimentStep = 2
				this.enableWaveformDragging = true

				// TODO: replace with $nuxt.$on Bus events? (see above)
				this.$refs['click-track'].volume = 0.35
				this.clickTrackVolume = 0.35

				// Hide modals (important, when restore jumps to experimentStep 2)
				this.$vfm.hideAll()

				if (!this.restoreTask) {
					setTimeout(() => {
						this.$nuxt.$emit('showContentModal', {
							domain: 'TASK_TWO',
							nonstrict: true
						})
					}, 350)
				}

				/**
				 * 1. Enable layers for step 2 (see mixins/waveformLayerToggles.js)
				 * 2. Save current cues to a copy, where the time is modified to an array.
				 * 3. Does this need a this.$nextTick()?
				 */
				this._manageStepTwoWaveformLayers()

				// Only copy, when we are NOT restoring a task
				if (!this.restoreTask) {
					console.log('%c> copy cues of step one:', 'font-eight: bold; color: green');
					this.$store.dispatch('experiment/copyCuesOfStepOne')
					console.log('   this.restoreTask =', this.restoreTask);
				}
				else {
					console.log('%c> do NOT copy cues of step one, because we are restoring a task', 'font-eight: bold; color: crimson');
					console.log('   this.restoreTask =', this.restoreTask);
					console.log('%cUNSET RESTORE TASK IN STEP 2:', 'padding:20px 0; color:crimson; font-weight:bold');
					// unset
					$nuxt.$emit('resetRestoreTask')
				}

				/**
				 * Redraw all peaks points. This is done, so we can pickup the
				 * "experimentStep = 2" variable, which makes the additional marker
				 * drawings (question mark, checkbox) visible
				 */
				this.peaks.points.removeAll()
				this.getCues.forEach(item => {
					console.log('reassigned item =', item);
					this.peaks.points.add(item)
				})
			}

			console.groupEnd()
		},

		/**
		 * Depending on the key event 3 different objects (3 colors) should be created
		 * "cue" is what peaks calls "Point", "opts" is a Marker object
		 * This is actually what the MarkerFactory does...
		 *
		 * @param {object} opts   The options object assigned to a peaks point
		 * @return {CustomPointMarker|SimplePointMarker}
		 */
		createCustomPointMarker(opts) {
			let pm = null
			opts.view === 'zoomview'
				? pm = new CustomPointMarker(opts, this.experimentStep)
				: pm = new SimplePointMarker(opts)

			return pm
		},

		/**
		 * Add a new Peaks point with additional params (like deleted, descriptors, ...)
		 *
		 * @param {string|int} key   The key event (1,2 or 3) that defines the marker degree
		 */
		addNewMarker(key) {
			console.log('')
			console.log('--------------------');
			console.group('%cWAVEFORM addNewMarker invoked', consCol)
			// console.log('this.getCues.length (before adding) =', this.getCues.length);
			// console.log('this.maxCuesAllowed =', this.maxCuesAllowed);
			// console.log('this.peaks.player =', this.peaks.player);
			// console.log('this.offsetStartTime =', this.offsetStartTime);
			// console.log('this.offsetEndTime =', this.offsetEndTime);
			// console.log('this.warning =', this.warning);

			// Check if marker is placed outside of offset markers
			if (this.peaks.player.getCurrentTime() <= this.offsetStartTime || this.peaks.player.getCurrentTime() >= this.offsetEndTime) {
				console.error('Markers cannot be placed outside of offset markers.');
				this.markerPlacementWarning = 'Markers cannot be placed outside of offset markers.'
				setTimeout(() => {
					this.markerPlacementWarning = null
				}, 3000)
				return
			}

			const pointOpts = {
				time: this.peaks.player.getCurrentTime(),
				id: `peaks.point.${this.getCues.length + 1}`,
				labelText: key,
				editable: true,
				color: this.pointColors[this.experimentStep][parseInt(key)],
				// new attrs
				markerDegree: parseInt(key),
				pointerHeight: this.pointHeights[parseInt(key)],
				deleted: false,
				activated: false,
				descriptorBeforeActive: false,
				descriptorAfterActive: false,
				descriptors: [],
				itemsInAfterCol: 0,
				itemsInBeforeCol: 0,
				activeColumns: 0,
				remarks: '',
				validated: false // check, if degree 2 & 3 markers have descriptors and etc
			}

			// In STEP 1, only set Marker when audio is already playing
			if ((this.experimentStep === 1 && this.audioTrackIsPlaying) || this.experimentStep === 2) {
				this.$store.commit('experiment/addCue', pointOpts)
				this.peaks.points.add(pointOpts)
			}

			console.log('this.peaks.points =', this.peaks.points);
			console.log('"peaks.point." + (this.getCues.length) =', "peaks.point." + (this.getCues.length));
			console.log('this.peaks.points.getPoint(peaks.point.$this.getCues.length) =', this.peaks.points.getPoint("peaks.point." + this.getCues.length));

			console.groupEnd()
			console.log('--------------------');
			console.log(' ');
		},

		setAudioTrackVolume(val) {
			console.log('setAudioTrackVolume val =', val);
			this.audioTrackVolume = val
		},

		setClickTrackVolume(val) {
			console.log('setCLickTrackVolume val =', val);
			this.clickTrackVolume = val
		},

		/**
		 * Once an analysis is done, set the file's analysed property to true
		 *
		 * UPDATE:
		 * Save to a new IndexedDB database as backup. In the review this saving
		 * shall be used to compare local and server state and detect
		 */
		async saveTask() {
			console.group('%cWAVEFORM saveTask', consCol);

			if (process.server) return // Do not call on Nuxt's server side

			// Stop any potentially playing audio (see mixin!)
			this.trackAudioStop(null, 'audioTrack')

			// Remove Key listeners(1, 2, 3, 0, SPACE ...)
			$nuxt.$emit('removeKeyEventListeners')

			// Delete snapshot (do this here before next step)
			await db[`snapshot_${this.appSection}`].clear()
			console.log('cleared databse snapshot of', `snapshot_${this.appSection}`);

			// Setting isEditing in Peaks.vue to false will stop autosaving (and also
			// delete snapshot [again] via web worker)
			this.$emit('setEditingMode', false)
			console.log('set editing mode to false again (stops autosave and similar)');

			// Get Registration Data
			const regData = await db.registrationData.toArray()
			console.log('Get regData =', regData);

			try {
				// Vuex action will in turn save to strapi
				const res = await this.$store.dispatch('experiment/saveTask', {
					fileData: this.taskFileData,
					phase: this.getSettings.phase,
					isExperiment: this.getIsExperiment,
					// reg[istration]Data may not be available in Playground yet
					regData: (regData && regData.length > 0) ? regData[0] : ''
				})

				console.log('try this.$store.dispatch(experiment/saveTask): res =', res);

				// Delete all points from peaks ("saveTask" also deletes cues in vuex)
				// console.log('...delete this.peaks.points =', this.peaks.points);
				if (this.peaks.points.length > 0) {
					this.peaks.points.removeAll()
				}

				/**
				 * Open modal with button to redirect to list with audio files
				 * (see 'layout/default' for modal)
				 * regData may not be available in Playground yet
				 */
				// console.log('... calling showModalForAnalysisComplete with: ');
				// console.log('    this.taskFileData.id =', this.taskFileData.id);
				// console.log('    regData =', regData[0]);
				// console.log('    this.getIsExperiment =', this.getIsExperiment);
				// console.log('    this.getSettings.phase =', this.getSettings.phase);

				this.$nuxt.$emit('showModalForAnalysisComplete', {
					taskFileId: this.taskFileData.id,
					taskFileData: this.taskFileData,
					participantId: (regData[0] && regData[0].id !== undefined) ? regData[0].id : null,
					isExperiment: this.getIsExperiment,
					phase: this.getSettings.phase,
					groupId: (regData && regData.length > 0) ? regData[0].group_id : null,
					pilotId: (regData && regData.length > 0) ? regData[0].pilot_id : null
				})
			}
			catch (error) {
				console.error('Error saving task: error =', error)
			}
			finally {
				// console.info('`saveTask` final state.')
			}

			console.groupEnd()
		},

		/**
		 * Shows e.g. "You cannot use the spacebar in Step 1"
		 *
		 * @param {string} msg        The message to be displayed
		 * @param {number} duration   The duration the warning shall be displayed
		 */
		showWarning(msg, duration = 3750) {
			this.warning = msg
			setTimeout(() => {
				this.warning = ''
			}, duration)
		},

		/**
		 * Check if we have taskFileData
		 * If there was a page reload, taskFileData would be empty, so we have to refill
		 * it with the data saved to the [playground|pilot|experiment]_info table
		 *
		 * @return {boolean}
		 */
		async checkTaskFileData() {
			console.group('%cWAVEFORM saveTask', consCol);
			console.log('this.taskFileData =', this.taskFileData);

			if (this.taskFileData === undefined || Object.keys(this.taskFileData).length < 1) {
				// get the last saved file from indexedDB
				const info = await db[this.appSection + '_info'].toArray()
				this.taskFileData = await info[0].active_audio

				if (!this.taskFileData) {
					console.error('taskFileData has not been populated with data, neither from vuex nor from the server.')
				}
			}

			console.groupEnd()

			return true
		},

		/**
		 * Restore task
		 */
		async restoreSnapshot() {
			console.group('%cWAVEFROM restoreSnapshot() invoked', consCol);

			const snapshotData = await db[`snapshot_${this.appSection}`].toArray()
			console.log('1. get snapshotData[0] =', snapshotData[0]);

			this.offsetStartTime = snapshotData[0].cues[0].time
			this.offsetEndTime = snapshotData[0].cues[1].time

			// Assign cues from snapshotData to VueX
			console.log('2. invoke store.commit(experiment/restoreTaskFromSnapshot) with snapshotData');
			this.$store.commit('experiment/restoreTaskFromSnapshot', snapshotData)

			// Set experimentStep from props
			// Remember: the experimentStep will be increased by 1 in "proceedToNextExperimentStep"
			console.log('3. set this.experimentStep to the stap of the snapshotData:')
			this.experimentStep = snapshotData[0].cuesOfStepOne.length > 0 ? 1 : 0
			console.log('     snapshotData[0].cuesOfStepOne.length =', snapshotData[0].cuesOfStepOne.length);
			console.log('     this.experimentStep =', this.experimentStep);
			console.log('     (will be increased by one in "proceedToNextExperimentStep")');

			this.taskFileData = JSON.parse(JSON.stringify(snapshotData[0].activeAudio))
			console.log('4. set this.taskFileData from snapshotData[0].activeAudio =', this.taskFileData);

			// Unset restore data in parent
			// console.log('5. emit to parent to unset "restore ExperimentStep"')
			// this.$nuxt.$emit('unset RestoreExperimentStep')

			// Delete (old) snapshot data - UPDATE: keep it, it will be overwritten anyway
			// await db.snapshot.clear()
			// console.log('6. remove snapshotData via db.snapshot cleared - UPDATE: no, keep it');

			// Set Audio from dexie status to vuex status
			console.log('7. set audio and click track volumes from dexie to vuex')
			const dexieStatus = await db.status.toArray()
			this.$store.commit('status/setAudioTrackVolume', dexieStatus[0].audioTrackVolume)
			this.$store.commit('status/setClickTrackVolume', dexieStatus[0].clickTrackVolume)

			/**
			 * Unset restoreTask: When in step 1, unset is done after auto-play was
			 * invoked. For step 2, unset here (remember: will be increased in
			 * "proceedToNextExperimentStep")
			 */
			// if (this.experimentStep === 1) {
			// 	$nuxt.$emit('resetRestoreTask')
			// }

			/**
			 * TODO:
			 * We still need to set
			 * - OK experimentStep
			 * - OK peak.cues (we even have to add them)
			 * - unset: this.restoreTask = false
			 * - what else?
			 */

			console.groupEnd()
			console.log('*****************')
			console.log(' ');
		},

		/* -------------- HELPER -------------- */

		capitalize(str) {
			return str.charAt(0).toUpperCase() + str.slice(1);
		}
	},
}
</script>

<!--
/**
	* If the file was reloaded directly, it is unclear whether we are in
	* playground or pilot / experiment; so redirect
	* HERE we should first check, if an active task is available. If there is,
	* it must also be checked, whether this task tells us, if it is from play-
	* ground or pilot or experiment.
	* QUESTION: Should this actually be done here??? - Afer a test, yes, it
	* obviousely must be done here, otherwise, there is no redirecting happening
	*/
	/*
	 * if (this.comingFrom === 'noWhere') {
	 * 	if (!this.isExperiment) {
	 * 		this.$router.push('/playground')
	 * 	}
	 * 	else if (this.appSection === 'pilot') {
	 * 		this.$router.push('/pilot')
	 * 	}
	 * 	else {
	 * 		this.$router.push('/experiment')
	 * 	}
	 * 	return
	 * }
	 * REFACTOR: get "isExperiment" from props;
	 * UPDATE: Already done in peaksjs - needed here, too?
	 * this.$store.commit('status/updateIsExperiment', this.isExperiment)
	 */
	/**
		* 1. clear all cues
		*    This is also done in Peaks.js in beforeDestroy, so: do we need to do
		*    destroy cues here, too?
		*/

	// this.$store.commit('experiment/resetCues')
	// console.log('   > resetCues invoked');

	// Click events of a point
	this.peaks.on('point.click', event => {
		console.log('point.click event =', event);
		// set this point to activated, then listen to keyEvents 1,2,3 and x
		// point.activated = !point.activated
		// console.log('ACTIVATED point =', point);
		// $nuxt.$emit('toggleActivatedMarker', {
		// 	activated: point.activated,
		// 	id: point._id
		// })

		// if (this.contextmenu) {
		// 	console.log('a context menu is already open');
		// }
		// else {
		// 	console.log('open contextmenu');
		// 	console.log('this.$refs.vueSimpleContextMenu1 =', this.$refs.vueSimpleContextMenu1);
		// 	this.contextmenu = true

		// 	this.$refs.vueSimpleContextMenu1.showMenu(event, {
		// 		elementId: point.id,
		// 		options: {
		// 			name: 'A name',
		// 			class: 'border-red-500',
		// 			type: ''
		// 		},

		// 	})
		// }
		// if (point.id !== 'peaks.point.1' && point.id !== 'peaks.point.2') {
		// 	$nuxt.$emit('showModalForDescriptors', point)
		// }
	})

	/// Menu to test contextmenu
	<div class="item-wrapper">
		<div
			v-for="item in items"
			:key="item.id"
			class="item-wrapper__item"
			@click.prevent.stop="$nuxt.$emit('showContextMenu', $event, item)"
		>{{ item.name }}</div>
	</div>

	$nuxt.$emit('showContextMenu', $event, item)
	/// Make sure you add the `ref` attribute, as that is what gives you the ability
	/// to open the menu.

-->