<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    :click-to-close="params.nonstrict ? true : false"
    :esc-to-close="params.nonstrict ? true : false"
    v-on="$listeners"
  >
    <header v-if="infoTxt.title" class="relative flex flex-col h-12 mx-2 mb-6 pb-2 select-none">
      <span class="modal__title">{{ infoTxt.title }}</span>
      <span v-if="infoTxt.subtitle" class="modal__subtitle">{{ infoTxt.subtitle }}</span>
    </header>

    <button class="absolute top-4 right-5" @click="close">
      <svg
        class="block w-5 h-5 cursor-pointer select-none"
        role="button"
        aria-label="Close this modal"
      >
        <use href="#cross" />
      </svg>
    </button>

    <div
      class="flex flex-row flex-nowrap flex-grow h-full max-h-full mx-2 pr-4 overflow-x-hidden overflow-y-scroll"
    >
      <div class="relative flex flex-col flex-nowrap flex-grow w-full h-full max-h-full min-w-2xl">
        <div v-for="c in infoTxt.blocks" :key="c.id" class="block mb-6">
          <header class="mb-6">
            <div v-if="c.header_styled" v-html="c.header_styled"></div>
            <h2 v-else class="relative font-semibold mb-2 text-lg">{{ c.header }}</h2>
            <h3 v-if="c.subheader" class="relative mb-6">{{ c.subheader }}</h3>
          </header>

          <div class="block list-with-styled-numbers" v-html="c.content"></div>
        </div>
      </div>
    </div>
  </vue-final-modal>
</template>

<script>
import db from '@/db/dexie.js'

export default {
  name: 'ContentModal',
  data() {
    return {
      showModal: false,
      loading: false,
      infoTxt: {},
      params: {}
    }
  },
  async mounted() {
    console.log(' ');
    console.log('CONTENT MODAL mounted()');

    // Access params:
    this.params = this.$children[0].params
    console.log('   this.params =', this.params);

    // Get content
    const getModalTxts = await db.modals.get({ type: 'MODAL_CONTENT' })
    this.infoTxt = getModalTxts.blocks.find(item => item.modal_domain === this.params.domain)
  }
}
</script>