<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    :esc-to-close="params.strict ? false : true"
    :click-to-close="params.strict ? false : true"
    v-on="$listeners"
  >
    <div
      class="text-2xs uppercase text-gray-300 mb-4"
    >Feedback [{{ params.strict ? 'strict' : 'non-strict' }}]</div>
    <header
      v-if="infoTxt.header"
      class="relative flex flex-col items-start justify-start w-full h-12 mb-12 px-4 select-none"
    >
      <span class="modal__title">
        <slot name="title">{{ infoTxt.header }}</slot>
      </span>
      <span v-if="infoTxt.subheader" class="modal__subtitle">
        <slot name="subtitle">{{ infoTxt.subheader }}</slot>
      </span>
    </header>

    <div class="flex flex-col flew-nowrap w-full max-h-full p-4">
      <div class="block w-full mb-8" :class="txtColor">{{ params.message }}</div>

      <div class="block w-full mb-8" v-html="infoTxt.content"></div>

      <div
        v-if="infoTxt.buttons && Object.keys(infoTxt.buttons).length > 0"
        class="flex flex-row items-center gap-x-4"
        :class="btnPositionClass"
      >
        <div
          v-for="(btn, index) in infoTxt.buttons"
          :key="index"
          class="btn btn-medium cursor-pointer"
          :class="`btn-${btn.btn_type}`"
          @click="changeRoute(btn.route)"
        >{{ btn.btn_txt }}</div>
      </div>
    </div>

    <button v-if="!params.strict" class="absolute top-4 right-4" @click="close">
      <svg
        class="block w-5 h-5 cursor-pointer select-none"
        role="button"
        aria-label="Close this modal"
      >
        <use href="#cross" />
      </svg>
    </button>
  </vue-final-modal>
</template>

<script>
/**
 * Important: In specific cases this modal must not be closeable by click outside
 * nor ESC nor via a close btn.
 */
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'

export default {
  name: 'FeedbackModal',
  data() {
    return {
      showModal: false,
      loading: false,
      infoTxt: {},
      params: {}
    }
  },
  computed: {
    ...mapGetters('status', ['getSettings']),
    phaseDependentRoute() {
      return this.getSettings.phase === 'PILOT' ? '/pilot' : '/experiment'
    },
    btnPositionClass() {
      if (this.infoTxt.buttons && Object.keys(this.infoTxt.buttons).length > 1) {
        return 'justify-between'
      }

      return 'justify-center'
    },
    txtColor() {
      switch (this.params.message_type) {
        case 'success': {
          return 'text-green-500'
        }
        case 'info': {
          return 'text-blue-500'
        }
        case 'warn':
        case 'danger': {
          return 'text-yellow-600'
        }
        case 'error': {
          return 'text-red-500'
        }
        case 'primary': {
          return 'text-primary-500'
        }
        case 'secondary': {
          return 'text-secondary-500'
        }

        default:
          return 'text-green-500'
      }
    }
  },
  async mounted() {
    // console.log(' ');
    // console.log('FEEDBACK MODAL: MOUNTED()');

    // Access params:
    this.params = this.$children[0].params
    // console.log('   this.params =', this.params);

    // Get content
    const getModalTxts = await db.modals.get({ type: 'MODAL_FEEDBACK' })
    const getFeedbacks = getModalTxts.blocks.find(item => item.modal_domain === this.params.modal_domain)
    this.infoTxt = getFeedbacks.blocks.find(item => item.content_domain === this.params.content_domain)

    // Delete route to pilot or experiment depending on current app phase
    if (this.getSettings.phase === 'PILOT') {
      this.infoTxt.buttons?.experiment && delete this.infoTxt.buttons.experiment
    } else {
      this.infoTxt.buttons?.pilot && delete this.infoTxt.buttons.pilot
    }
  },
  methods: {
    changeRoute(route) {
      this.$router.push({
        path: route
      })
    }
  }
}
</script>