<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    :esc-to-close="true"
    v-on="$listeners"
  >
    <header
      class="relative flex flex-col items-start justify-start w-full h-12 mb-12 px-4 select-none"
    >
      <span class="modal__title">{{ infoTxt.header }}</span>
      <span v-if="infoTxt.subheader" class="modal__subtitle">{{ infoTxt.subheader }}</span>
    </header>

    <button class="absolute top-4 right-4" @click="close">
      <svg
        class="block w-5 h-5 cursor-pointer select-none"
        role="button"
        aria-label="Close this modal"
      >
        <use href="#cross" />
      </svg>
    </button>

    <div class="flex flex-col flew-nowrap w-full max-h-full p-4">
      <div class="block w-full mb-8" v-html="infoTxt.content"></div>
    </div>
  </vue-final-modal>
</template>

<script>
import db from '@/db/dexie.js'

export default {
  name: 'InfoModal',
  data() {
    return {
      showModal: false,
      loading: false,
      infoTxt: {}
    }
  },
  async mounted() {
    // console.group('INFO MODAL mounted()');
    // Access params:
    const params = this.$children[0].params
    // console.log('   params =', params);
    const getModalTxts = await db.modals.get({ type: 'MODAL_INFORMATION' })
    // console.log('   getModalTxts =', getModalTxts);
    const txts = getModalTxts.blocks.find(item => item.modal_domain === params.modal_domain)
    // console.log('   txts =', txts);
    this.infoTxt = txts.blocks.find(item => item.content_domain === params.content_domain)
    // console.log('   this.infoTxt =', this.infoTxt);
    console.groupEnd()
  }
}
</script>