<template>
  <vue-final-modal
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    :esc-to-close="params.strict ? false : true"
    :click-to-close="params.strict ? false : true"
    v-on="$listeners"
  >
    <header
      class="relative flex flex-col items-start justify-start w-full h-12 mb-12 px-4 select-none"
    >
      <span class="modal__title">Online Registration Verification Failed</span>
      <span class="modal__subtitle">Your registration data could not be found.</span>
    </header>

    <div class="flex flex-col flew-nowrap w-full max-h-full p-4">
      <div class="block w-full mb-8" :class="txtColor">
        <p>This can happen, when the grace period, within which a PoD experiment has to be accomplished, has expired. In that case all data related to your registration is deleted from our servers.</p>
        <p>Your current local data is useless and is therefore deleted. You can now register again, if you like, by clicking the button below.</p>
      </div>

      <div class="flex flex-row items-center justify-between gap-x-4">
        <div
          class="btn btn-small btn-secondary cursor-pointer"
          @click="changeRoute('/introduction')"
        >Introduction</div>

        <div
          class="btn btn-medium btn-green cursor-pointer"
          @click="changeRoute('/registration-form')"
        >Register</div>

        <div
          class="btn btn-small btn-secondary cursor-pointer"
          @click="changeRoute('/playground')"
        >Playground</div>
      </div>
    </div>
  </vue-final-modal>
</template>

<script>
/**
 * Important: In specific cases this modal must not be closeable by click outside
 * nor ESC nor via a close btn.
 */
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'

export default {
  name: 'FeedbackModal',
  data() {
    return {
      showModal: false,
      loading: false,
      infoTxt: {},
      params: {}
    }
  },
  computed: {
    ...mapGetters('status', ['getSettings']),
  },
  async mounted() {
    console.group('REREGISTER Modal: mount()');
    // Delete local registration data
    const del = await db.registrationData.clear()
    console.log('del =', del);
    console.groupEnd()
  },
  methods: {
    changeRoute(route) {
      this.$router.push({
        path: route
      })
    }
  }
}
</script>