<template>
  <header class="mb-12 border-b">
    <h1 class="text-2xl">{{ title }}</h1>
  </header>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: '',
		},
	},
}
</script>

<style scoped>
header {
  border-color: rgba(var(--anthrazit-rgb-base), var(--border-alpha));
}
</style>