<template>
  <header class="mb-6" :class="[small ? 'hidden' : '']">
    <h1 :class="[small ? 'text-lg font-thin' : 'text-xl font-medium']">{{ quizData.question }}</h1>
    <p
      v-if="quizData.question_addon"
      class="text-gray-500 mt-0"
      :class="[small ? 'font-thin' : '']"
    >{{ quizData.question_addon }}</p>
  </header>
</template>

<script>
export default {
  props: {
    quizData: {
      type: Object,
      default: () => { },
      required: true,
    },
    small: {
      type: Boolean,
      default: false,
    },
  },
}
</script>