<template>
  <vue-final-modal
    v-slot="{ params }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    :click-to-close="false"
    :esc-to-close="false"
    v-on="$listeners"
  >
    <header
      class="relative flex flex-col items-start justify-start w-full h-12 mb-12 px-4 select-none"
    >
      <span class="modal__title">
        <slot name="title">{{ infoTxt.header }}</slot>
      </span>
      <span v-if="infoTxt.subheader" class="modal__subtitle">
        <slot name="subtitle">{{ infoTxt.subheader }}</slot>
      </span>
    </header>

    <div class="flex flex-col flew-nowrap w-full max-h-full p-4">
      <div class="block w-full mb-8">
        Your participant ID:
        <strong>{{ params.result }}</strong>
      </div>
      <div class="block w-full mb-8" v-html="infoTxt.content"></div>

      <div class="flex flex-row items-center justify-between gap-x-4">
        <div
          class="btn btn-medium btn-green cursor-pointer"
          @click="changeRoute('/introduction')"
        >Back to Introductions</div>
        <div
          class="btn btn-medium btn-green cursor-pointer"
          @click="changeRoute('/experiment')"
        >Start with experiment</div>
      </div>

      <!--
      <div class="text-xs text-gray-300">
        <pre>{{ JSON.stringify(params, null, 2) }}</pre>
      </div>
      -->
    </div>
  </vue-final-modal>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'

export default {
  name: 'PilotCodeNotFoundModal',
  data() {
    return {
      showModal: false,
      loading: false,
      infoTxt: {}
    }
  },
  computed: {
    ...mapGetters('status', ['getSettings']),
  },
  async mounted() {
    const getModalTexts = await db.modal_texts.toArray()
    this.infoTxt = getModalTexts[0].blocks.find(item => item.which_button === 'PILOT_CODE_NOT_FOUND')
  },
  methods: {
    changeRoute(route) {
      this.$router.push({
        path: route
      })
    }
  }
}
</script>