<template>
  <vue-final-modal v-slot="{}" v-bind="$attrs" classes="modal-container" content-class="modal-content"
    :click-to-close="false" :esc-to-close="false" v-on="$listeners">
    <header class="relative flex flex-col items-start justify-start w-full h-12 mb-12 px-4 select-none">
      <span class="modal__title">
        <slot name="title">{{ infoTxt.header }}</slot>
      </span>
      <span v-if="infoTxt.subheader" class="modal__subtitle">
        <slot name="subtitle">
          Your participant ID:
          <span class="text-red-500 font-bold">{{ infoTxt.subheader }}</span>
        </slot>
      </span>
      <span v-else class="modal__subtitle">
        Your participant ID:
        <span class="text-red-500 font-bold">{{ params.id }}</span>
      </span>
    </header>

    <div class="flex flex-col flew-nowrap w-full max-h-full p-4">
      <div class="block w-full mb-8" v-html="infoTxt.content"></div>

      <div class="block w-full mb-8"></div>

      <!-- Only for development: -->
      <!--
        <div
          v-if="pilotId"
          class="flex flex-row justify-center mt-4 text-sm text-gray-400 hover:text-gray-500 cursor-pointer"
          @click="unsetPilotParticipantRelation()"
        >unset Pilot-participant relation (only while developing</div>
      -->

      <div v-if="error" class="flex flex-row justify-center w-full text-red-500 bg-red-100 rounded-md mb-4 px-5 py-4">{{
        error
      }}</div>

      <div class="flex flex-col bg-green-50 border border-green-500 rounded-md px-5 py-4"
        :class="[infoMsg ? 'mb-4' : 'mb-8']">
        <div v-if="infoMsg" class="flex flex-row justify-center my-4 text-sm text-green-500 text-center">{{ infoMsg }}
        </div>

        <FormulateForm v-if="!infoMsg" v-slot="{ hasErrors }" v-model="formValues" :errors="inputErrors"
          :form-errors="formErrors" class="flex flex-col mb-4" name="pod-pilot-invote-code" @submit="submitHandler">
          <div class="flex flex-row w-full flex-nowrap justify-center overflow-hidden">
            <FormulateInput id="pilot_invite_code" v-model="code" type="text" name="pilot_invite_code"
              label="Enter your invitation code" class="w-2/6 text-center mb-4" validation="min:8,length"
              validation-name="Code" error-behavior="live" :validation-messages="{
                required: 'Required.',
              }" />
          </div>

          <div class="flex flex-row justify-center w-full mt-4">
            <div v-if="!savingData" class="w-auto">
              <FormulateInput :class="[hasErrors ? 'btn-error-wrapper' : 'btn-success-wrapper']" type="submit"
                :disabled="hasErrors" :label="hasErrors ? 'Please enter your invitation code!' : 'Submit'" />
            </div>

            <div v-if="savingData" class="w-auto">
              <FormulateInput class="btn-success-wrapper" type="submit" :disabled="true" label="Sending data..." />
            </div>
          </div>
        </FormulateForm>
      </div>

      <div v-if="infoMsg" class="flex flex-row justify-center w-full mb-8">
        <div class="btn btn-green btn-medium" @click="loadPilotExperiment('/pilots')">Start Experiment</div>
      </div>

      <div class="flex flex-row w-full mb-4" v-html="infoTxt.info_content"></div>

      <div class="flex flex-row w-full mb-4 justify-end">
        <span class="btn btn-secondary btn-small" @click="changeRoute('/')">Back to Start page</span>
      </div>
    </div>
  </vue-final-modal>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'

export default {
  name: 'PilotSubmitCodeModal',
  data() {
    return {
      formValues: null,
      formErrors: [],
      inputErrors: {},
      showModal: false,
      loading: false,
      infoTxt: {},
      savingData: false,
      code: '',
      error: null,
      participantId: null,
      pilotId: null,
      infoMsg: null,
      params: {}
    }
  },
  computed: {
    ...mapGetters('status', ['getSettings', 'getIsExperiment', 'getInviteCodeAccepted']),
    phaseDependentRoute() {
      return this.getSettings.phase === 'PILOT' ? '/pilot' : '/experiment'
    }
  },
  async mounted() {
    console.log('\nPILOT SUBMIT CODE MODAL: mounted() invoked');
    // Access params:
    this.params = this.$children[0].params

    // Get content
    const getModalTxts = await db.modals.get({ type: 'MODAL_FEEDBACK' })
    const getFeedbacks = getModalTxts.blocks.find(item => item.modal_domain === 'PILOT_INVITE')
    this.infoTxt = getFeedbacks.blocks.find(item => item.content_domain === 'PILOT_SUBMIT_CODE')

    // Hacky way to get to the params:
    // console.log('this.$children[0].params =', this.$children[0].params);
    this.participantId = this.$children[0].params.id
  },
  methods: {
    loadPilotExperiment() {
      $nuxt.$emit('loadPilotAudioFiles', {
        participantId: this.participantId,
        pilotId: this.pilotId
      })
    },

    changeRoute(route) {
      this.$router.push({
        path: route
      })
    },

    async submitHandler() {
      // console.info('\nPILOT SUBMIT CODE MODAL submitHanlder invoked')
      // Reset fields when submitting (anew)
      this.error = null
      this.infoMsg = null

      // console.log('   this.code =', this.code.toString());

      // $strapi makes troubles on/with heroku
      // const query = await this.$strapi.find('pilots', { "code": this.code })
      const query = await this.$axios.get('pilots')
        .then(res => {
          const query = res.data.find(item => item.code === this.code)
          // console.log('   axios.getPilots res query =', query);

          if (query) {
            this.handlePilotExperiment(query)
          } else {
            this.error = "No project with this invitation code could be found."
            console.error('Invitation code not found')
            this.resetForm()
          }
        })
        .catch(error => {
          this.error = "No project with this invitation code could be found."
          console.error('InvitInvitation code not found: error =', error)
          this.resetForm()
        })
        .finally(() => {
          // console.log('finally - reset form only, when NOT positive');
        })
    },

    async handlePilotExperiment(query) {
      this.pilotId = query.id

      if (query.participant_id === null) {
        // console.log('   query.participant_id =', query.participant_id, ' (should be null)');
        /**
         * Save ParticipantId with project
         *
         * If we create a relation to pilot_participants, strapi saves / returns the complete
         * data of the paticipant. This would be against GDPR. Therefore save the id of the
         * participant as a number in the project table, and the id of the project in the
         * participant table separately. If there was ever need to establish a relation, this
         * would have to be coded as a separate function somewhere.
         */
        const resPilots = await this.$axios.put(`/pilots/${query.id}`, {
          participant_id: parseInt(this.participantId)
        })
        // const resPilots = await this.$axios.put(`/pilots/${query.id}`, { participant_id: parseInt(this.participantId) })
        console.log('\n   ParticipantID saved to Pilot project; resPilots update =', resPilots);

        const resParticipant = await this.$axios.put(`/pilot-participants/${this.participantId}`, {
          pilot_id: parseInt(query.id),
          invite_code_used: this.code
        })
        console.log('\n   resParticipant =', resParticipant);

        const resIndexedDb = await db.registrationData.update(this.participantId, {
          pilot_id: parseInt(query.id),
          invite_code_used: this.code
        })
        // console.log('\n   resIndexedDb =', resIndexedDb);

        /**
         * Save the Pilot experiment Data to indexedDB
         */

        console.log('The experiment with the given invitation code was found and assigned to you. You can now start with the experiment.');
        this.infoMsg = "The experiment with the given invitation code was found and assigned to you. You can now start with the experiment."

        this.$store.commit('status/setInviteCodeAccepted', true)
      }
      // ATTENTION! query.experiment_finished is a TEXT FIELD, not a BOOLEAN (because Strapi's booleans always display "ON/OFF", but we need "TRUE/FALSE")
      else if (query.participant_id === this.participantId && query.experiment_finished === 'false') {
        this.infoMsg = "This experiment is already assigned to you. There are still some tasks open. If you want to continue with the analyses, click the button."
        this.$store.commit('status/setInviteCodeAccepted', true)
      }
      else if (query.participant_id === this.participantId && query.experiment_finished === 'true') {
        console.info('This has been your project ad you have finished it already. All tasks have been finished. (Should never be called.)')
        this.infoMsg = "This has been your project. All tasks have been finished. Click to exit. (This should never be called)"

        this.$store.commit('status/setInviteCodeAccepted', true)
      }
      else {
        // An id was already given to the project, so it cannot be used any more
        console.error('This project has already been assigned to somebody else. Or project_finished is not set to false...')
        this.error = 'This project has already been assigned to somebody else.'

        this.resetForm()
      }
    },

    resetForm() {
      this.$formulate.reset('pod-pilot-invote-code')
      this.$formulate.resetValidation('pod-pilot-invote-code')
    },

    // For development purposes only
    /*
      async unsetPilotParticipantRelation() {
        const resPilot = await this.$strapi.update('pilots', this.pilotId, { participant_id: null })
        this.pilotId = null
        // console.log('UNSET resPilot =', resPilot);
        const resParticipant = await this.$strapi.update('pilot-participants', this.participantId, { pilot_id: null, invite_code_used: null })
        // console.log('UNSET resParticipant =', resParticipant);
        const resIndexedDb = await db.registrationData.update(this.participantId, {
          pilot_id: null
        })
        // console.log('UNSET resIndexedDb =', resIndexedDb);
        this.error = null
        this.infoMsg = null
      }
    */
  }
}
</script>