<template>
	<div
		class="relative w-full"
		:class="[small ? 'pl-6 mb-6' : 'mb-6', small && isActive ? '-mt-6' : '']"
	>
		<FormInputHeader :quiz-data="quizData" :small="small" />

		<section
			:id="`question_id_${quizData.id}`"
			:data-question="getSluggedTxt(quizData.question)"
			:data-formfield_name="getSluggedTxt(quizData.formfield_name)"
			class="quiz-answers mb-8 ml-4"
		>
			<FormulateInput
				:v-model="vModel"
				:type="quizData.type"
				:options="createAnswerOptions(quizData.answer_options)"
				:name="getSluggedTxt(quizData.formfield_name)"
				:validation="isActive ? 'required' : ''"
				:validation-messages="{
					required: 'Please select an option.'
				}"
				error-behavior="live"
				:class="[small ? 'small' : '', hideDependency ? 'hidden' : '']"
			/>
		</section>
	</div>
</template>

<script>
import FormInputHeader from "./FormInputHeader.vue"

export default {
	components: { FormInputHeader },

	props: {
		vModel: {
			type: [Array, String],
			default: ''
		},
		quizData: {
			type: Object,
			default: () => { },
			required: true,
		},
		validationType: {
			type: String,
			default: '',
		},
		small: {
			type: Boolean,
			default: false,
		},
		hideDependency: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		/**
		 * Add a css class (negative top margin) when true
		 * Clears checkboxes (again) when false (which hides the "sub form")
		 */
		isActive() {
			if (this.small && !this.hideDependency) {
				return true
			} else if (this.small && this.hideDependency) {
				// this.clearCheckboxes()
				return false
			} else if (!this.small) {
				return true
			}

			return true
		}
	},

	mounted() {
		console.log(this.quizData)
	},

	methods: {
		createAnswerOptions(items) {
			const answerOptions = []

			for (let i = 0; i < items.length; i++) {
				// console.log('answer items[i] =', items[i])

				const item = {
					id: 'answer_' + items[i].id,
					label: items[i].answer,
					'data-level': items[i].expertise_level,
					value: this.$slugify(items[i].answer),
					// value: this.$slugify(items[i].answer),
					// items[i].order
				}
				answerOptions.push(item)
			}

			return answerOptions
		},

		getSluggedTxt(text) {
			const sluggedText = this.$slugify(text)
			return sluggedText
		},

		getQuestionIdWithText(id) {
			return 'q_' + id
		},

		clearCheckboxes() {
			const fields = document.querySelectorAll('input[name="training_focus"]')
			// console.log('fields =', fields);
			const fieldsArr = Array.from(fields)

			fieldsArr.forEach(item => {
				// console.log('item =', item);
				item.checked = false
				item.removeAttribute('hasvalue')
			})
		}
	},
}
</script>