<template>
	<div class="bluescreen-area">
		<div
			class="flex flex-col items-center justify-center w-screen h-screen overflow-hidden text-center"
		>
			<h1 class="max-w-lg mx-auto font-bold mb-6">Points of Discontinuity</h1>
			<p class="max-w-lg mx-auto">
				Due to the scientific and experimental nature of this project, this audio application is intended for desktop
				usage only and therefore not provided on tablets nor mobile phones.
			</p>
		</div>
	</div>
</template>

<style scoped>
.bluescreen-area {
	@apply absolute inset-0 overflow-hidden;
	@apply bg-blue-700 text-white;
	z-index: 9999999;
}

@media (min-width: 1080px),
	(min-height: 824px),
	(min-width: 960px) and (min-height: 600px) and (-webkit-device-pixel-ratio: 1.25),
	(min-width: 880px) and (min-height: 480px) and (-webkit-device-pixel-ratio: 1.5),
	(min-width: 560px) and (min-height: 340px) and (-webkit-device-pixel-ratio: 1.75) {
	.bluescreen-area {
		display: none;
		z-index: -1;
	}
}
</style>
