<template>
	<div class="flex ml-auto">
		<ul class="flex flex-row flex-nowrap gap-5 justify-between items-center">
			<li :class="[experimentActive ? deactivateNavClasses : activateNavClasses]" class="delay-50">
				<nuxt-link to="/" class="link-not-active">Start</nuxt-link>
			</li>
			<li :class="[experimentActive ? deactivateNavClasses : activateNavClasses]" class="delay-100">
				<nuxt-link to="/introduction">Introduction</nuxt-link>
			</li>
			<li :class="[experimentActive ? deactivateNavClasses : activateNavClasses]" class="delay-150">
				<nuxt-link to="/playground">Playground</nuxt-link>
			</li>
			<li :class="[experimentActive ? deactivateNavClasses : activateNavClasses]" class="delay-200">
				<nuxt-link to="/registration-form">Registration Form</nuxt-link>
			</li>
			<li v-if="getSettings.phase === 'PILOT'" :class="[experimentActive ? deactivateNavClasses : activateNavClasses]"
				class="delay-250">
				<nuxt-link to="/pilot">Experiment</nuxt-link>
			</li>
			<!--
			<li
				v-if="getSettings.phase === 'EXPERIMENT'"
				:class="[experimentActive ? deactivateNavClasses : activateNavClasses]"
				class="delay-300"
			>
				<nuxt-link to="/experiment">Experiment</nuxt-link>
			</li>
			<li :class="[experimentActive ? deactivateNavClasses : activateNavClasses]" class="delay-350">
				<nuxt-link to="/exit">Exit</nuxt-link>
			</li>
			-->
		</ul>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	data: () => ({
		deactivateNavClasses: 'pointer-events-none cursor-not-allowed select-none transform translate-y-12 duration-1000 opacity-50',
		activateNavClasses: 'transform translate-y-0 duration-1000 opacity-100'
	}),
	computed: {
		...mapGetters('status', ['getSettings', 'getIsExperiment']),
		experimentActive() {
			const currentPath = $nuxt.$route.name

			// When we are in development state, return false, so the nav is shown
			if (this.getSettings.development) {
				return false
			}

			// When we are NOT in development state, but the app in EXPERIMENT STATE,
			// return true to hide the nav
			if (this.getIsExperiment && currentPath === 'peaks') {
				return true
			}

			// ... otherwise show the nav
			return false
		}
	}
}
</script>