<template>
  <div class="flex flex-nowrap flex-column gap-x-2 items-center text-sm">
    <div class="mx-0 font-extrabold border-gray-200 border-l-4 border-opacity-40 cursor-pointer"
      @click="toggleDevDataVisibility">&nbsp;</div>

    <div
      class="flex flex-row text-gray-400 text-2xs gap-x-3 overflow-hidden transition-all duration-300 whitespace-nowrap"
      :class="[devDataVisible ? 'w-full border pointer-events-auto' : 'w-0 pointer-events-none select-none']">
      <div class="flex flex-col flex-nowrap gap-x-2 w-48 whitespace-nowrap overflow-hidden">
        <div class="flex flex-row flex-nowrap gap-x-2 whitespace-nowrap overflow-hidden">
          <span class="w-24 whitespace-nowrap">Phase: {{ settings.phase }}</span>
          <span>isExp.: {{ getIsExperiment }}</span>
        </div>

        <div class="flex flex-row flex-nowrap gap-x-2 whitespace-nowrap overflow-hidden">
          <span class="w-24 whitespace-nowrap">DPR: {{ devicePixelRatio }}</span>
          <span>dev.: {{ settings.development }}</span>
        </div>

        <div class="flex flex-row flex-nowrap gap-x-2 whitespace-nowrap overflow-hidden">
          <span class="w-24 whitespace-nowrap">
            CSS PR:
            <span class="css-pixel-ratio-text"></span>
          </span>
        </div>
      </div>

      <div class="flex flex-col flex-nowrap gap-x-2 w-36 whitespace-nowrap overflow-hidden" tabindex="-1">
        <div class="flex flex-row gap-x-2 items-baseline text-gray-400 text-xs whitespace-nowrap"
          :class="[experimentActive ? deactivateFooterLeftClasses : activateFooterLeftClasses]" tabindex="-1">
          <button class="btn txt-underlined text-2xs" tabindex="-1" @click="$nuxt.$emit('refreshSettings')">Refresh
            settings</button>
        </div>

        <div class="flex flex-row gap-x-2 items-baseline text-gray-400 text-xs whitespace-nowrap">
          <button class="btn txt-underlined text-2xs" tabindex="-1"
            @click="$nuxt.$emit('deleteRegistrationData')">Delete registration data</button>
        </div>

        <div v-if="loadingSettings" class="text-green-500">...updating</div>
        <div v-if="deletingRegistration" class="text-crimson-500">...deleting</div>
      </div>

      <div class="flex flex-col flex-nowrap gap-x-2 w-64 whitespace-nowrap overflow-hidden h-12 max-h-12" tabindex="-1">
        <div class="flex flex-row gap-x-2 items-baseline text-gray-400 text-xs whitespace-nowrap h-12 overflow-scroll"
          tabindex="-1">
          <pre>{{ JSON.stringify(getSettings, null, 2) }}</pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    loadingSettings: {
      type: Boolean,
      default: false
    },
    deletingRegistration: {
      type: Boolean,
      default: false
    },
    settings: {
      type: Object,
      default: () => { }
    },
    version: {
      type: String,
      default: '0.0.0'
    },
    devicePixelRatio: {
      type: Number,
      default: 0.0
    }
  },
  data: () => ({
    devDataVisible: false,
    deactivateFooterLeftClasses: 'pointer-events-none cursor-not-allowed transform duration-1000 opacity-50',
    activateFooterLeftClasses: 'transform translate-y-0 duration-1000 opacity-100',
    count: 0,
    ax: $nuxt.$axios
  }),
  computed: {
    ...mapGetters('status', ['getIsExperiment', 'getSettings']),
    experimentActive() {
      const currentPath = $nuxt.$route.name

      if (this.getSettings.development) {
        return false
      }

      if (this.getIsExperiment && currentPath === 'peaks') {
        return true
      }

      return false
    }
  },
  methods: {
    toggleDevDataVisibility() {
      this.devDataVisible = !this.devDataVisible
    }
  }
}
</script>