<template>
	<div class="flex flex-row items-baseline justify-between w-full max-h-8 overflow-hidden">
		<div
			class="flex flex-row items-baseline gap-x-4"
			:class="[experimentActive ? deactivateLogo : activateLogo]"
		>
			<div class="logo-wrapper flex flex-col flex-nowrap">
				<div class="flex w-50">
					<nuxt-link
						to="/"
						title="An audio experiment by Christian Utz."
						class="link-not-active text-2xl font-dreamscape no-text-decoration"
					>Points of Discontinuity</nuxt-link>
				</div>
			</div>
			<div class="text-gray-400 text-xs">
				v{{ version }}
				<span class="mx-2 font-extrabold text-gray-500">|</span>
				<!-- Project Phase: {{ settings.phase }} -->
				Powered by
				<a
					href="https://waveform.prototyping.bbc.co.uk/"
					target="_blank"
					class="txt-underlined"
				>Peaks.js</a>
			</div>
		</div>

		<div class="flex flex-row gap-x-2 items-center justify-center text-gray-400 text-xs">
			<svg role="img" class="w-4 h-4 cursor-pointer" @click="currentFontSize--">
				<use href="#font-size-decrease" />
			</svg>
			<input
				v-model="currentFontSize"
				type="text"
				size="2"
				class="border rounded-sm p-0.5 text-center"
			/>
			<svg role="img" class="w-4 h-4 cursor-pointer" @click="currentFontSize++">
				<use href="#font-size-increase" />
			</svg>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	props: {
		settings: {
			type: Object,
			default: () => { }
		},
		version: {
			type: String,
			default: '0.0.0'
		}
	},
	data: () => ({
		r: undefined,
		deactivateLogo: 'pointer-events-none cursor-not-allowed select-none transform duration-500 opacity-50 cursor-not-allowed',
		activateLogo: 'transform duration-500 opacity-100'
	}),
	computed: {
		...mapGetters('status', ['getIsExperiment', 'getSettings']),
		experimentActive() {
			const currentPath = $nuxt.$route.name

			if (this.getSettings.development) {
				return false
			}

			if (currentPath === 'peaks' && this.getIsExperiment) {
				return true
			}

			return false
		},
		currentFontSize: {
			get() {
				return this.$store.getters['status/getRootFontSize']
			},
			set(number) {
				// console.log('LOGO currentFontSize set number =', number);
				this.$store.dispatch('status/setRootFontSize', number)
				// We need to recalculate the waveform, so send a signal to Waveform.vue
				$nuxt.$emit('resizeFont')
			},
		},
	},
	watch: {
		currentFontSize(newVal, oldVal) {
			// console.log('currentFontsize chnaged, newVal =', newVal);
			this.changeFontSize(newVal)
		}
	},
	mounted() {
		this.r = document.querySelector(':root');
		// console.log('this.r =', this.r);
		this.changeFontSize(this.currentFontSize);
	},
	methods: {
		changeFontSize(val) {
			// console.log('LOGO: changeFontSize: getComputedStyle(document.documentElement).getPropertyValue(--root-font-size) =', getComputedStyle(document.documentElement).getPropertyValue('--root-font-size'));
			this.r.style.setProperty('--root-font-size', val + "px");
		}
	}
}
</script>

<style scoped>
.logo-wrapper,
.logo-wrapper .logo-wrapper,
.logo-wrapper a {
	user-select: none;
}
