<template>
	<div class="flex flex-nowrap flex-col items-center justify-start pt-4 px-4 gap-8 w-12 h-full">
		<font-awesome-icon
			:icon="['fas', 'keyboard']"
			class="cursor-pointer mt-8"
			@click="$nuxt.$emit('showModalForKeyboardUsage')"
		/>

		<font-awesome-icon
			:icon="['fas', 'video']"
			class="cursor-pointer"
			@click="$nuxt.$emit('showModalForVideoStandalone')"
		/>

		<font-awesome-icon
			:icon="['fas', 'list-ol']"
			class="cursor-pointer"
			@click="$nuxt.$emit('showModalForDescriptorsList')"
		/>

		<a
			href="https://institut1.kug.ac.at/pod/pod-forschungsteam-und-forschungsbeirat/"
			target="_blank"
			class="flex flex-row mt-20"
			:class="[experimentActive ? deactivateSidebarClasses : activateSidebarClasses]"
		>
			<font-awesome-icon :icon="['fas', 'info']" class="cursor-pointer" />
			<font-awesome-icon :icon="['fas', 'external-link-alt']" class="w-2 h-2 text-gray-500" />
		</a>

		<div
			class="flex flex-col gap-y-2 items-center justify-center text-gray-700 text-xs mt-20"
			:class="[experimentActive ? deactivateSidebarClasses : activateSidebarClasses]"
		>
			<svg
				role="img"
				class="w-4 h-4 cursor-pointer mb-6"
				@click="$nuxt.$emit('showContentModal', {
					domain: 'GDPR'
				})"
			>
				<title>Show General Data Protextion Regulation</title>
				<use href="#imprint" />
			</svg>

			<svg
				role="img"
				class="w-4 h-4 cursor-pointer"
				@click="$nuxt.$emit('showContentModal', {
					domain: 'IMPRINT'
				})"
			>
				<title>Show Imprint</title>
				<use href="#gdpr" />
			</svg>
		</div>
	</div>
</template>

<script>
// To make modals work, "<modals-container />" has to be set in "default" layout
import { mapGetters } from 'vuex'

export default {
	data: () => {
		return {
			deactivateSidebarClasses: 'pointer-events-none cursor-not-allowed select-none transform translate-x-12 duration-1000 opacity-50',
			activateSidebarClasses: 'transform translate-x-0 duration-1000 opacity-100'
		}
	},
	computed: {
		...mapGetters('status', ['getIsExperiment', 'getSettings']),
		experimentActive() {
			const currentPath = $nuxt.$route.name

			if (this.getSettings.development) {
				return false
			}

			if (this.getIsExperiment && currentPath === 'peaks') {
				return true
			}

			return false
		}
	}
}
</script>




<!--
	<style scoped>
		.toggle-darkmode-on {
			display: none;
		}
		body.dark-mode .toggle-darkmode-on {
			display: block;
		}

		.toggle-darkmode-off {
			display: block;
		}
		body.dark-mode .toggle-darkmode-off {
			display: none;
		}
	</style>

// computed:

// currentFontSize: {
// 	get() {
// 		return this.$store.getters['status/getRootFontSize']
// 	},
// 	set(bool) {
// 		this.$store.dispatch('status/setRootFontSize', bool)
// 	},
// },

	darkmode: {
	get() {
		return this.$store.getters['status/getDarkmode']
	},
	set(bool) {
		this.$store.dispatch('status/setDarkmode', bool)
	},
},

// methods:

// changeFontSize(val) {
// 	this.r.style.setProperty('--root-font-size', val + "px");
// }
async toggleDarkMode() {
	this.darkmode = !this.darkmode
	if (this.darkmode) {
		document.body.classList.add('dark-mode')
		document.body.classList.remove('light-mode')
	} else {
		document.body.classList.remove('dark-mode')
		document.body.classList.add('light-mode')
	}
	// Update indexedDB
	await db.status.update(0, { darkmode: this.darkmode })
},

// watch: {
// 	currentFontSize(newVal, oldVal) {
// 		// console.log('currentFontsize chnaged, newVal =', newVal);
// 		this.changeFontSize(newVal)
// 	}
// },
// mounted() {
//  // moved to top bar ("Logo.vue")
// 	this.r = document.querySelector(':root');
// 	this.changeFontSize(this.currentFontSize);
// },


<font-awesome-icon
	:icon="['fas', 'toggle-off']"
	class="cursor-pointer mb-12 toggle-darkmode-off"
	@click="toggleDarkMode"
/>
<font-awesome-icon
	:icon="['fas', 'toggle-on']"
	class="cursor-pointer mb-12 toggle-darkmode-on"
	@click="toggleDarkMode"
/>

<div
	class="flex flex-col gap-y-2 items-center justify-center text-gray-400 text-xs mt-auto mb-18"
>
	<svg role="img" class="w-4 h-4" @click="currentFontSize++">
		<use href="#font-size-increase" />
	</svg>

	<input
		v-model="currentFontSize"
		type="text"
		size="2"
		class="border rounded-sm p-0.5 text-center"
	/>

	<svg role="img" class="w-4 h-4" @click="currentFontSize--">
		<use href="#font-size-decrease" />
	</svg>

</div>
-->