<template>
	<svg class="w-0 h-0 hidden overflow-hidden overflow-clip" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<symbol id="play" viewBox="0 0 36 36">
				<path
					fill="currentColor"
					d="M8.07 31.6A2.07 2.07 0 016 29.53V6.32a2.07 2.07 0 013-1.85l23.21 11.61a2.07 2.07 0 010 3.7L9 31.38a2.06 2.06 0 01-.93.22zm0-25.34L8 6.32v23.21l.1.06L31.31 18a.06.06 0 000-.06L8.07 6.26z"
				/>
			</symbol>
			<symbol id="cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path fill="none" d="M0 0h24v24H0z" />
				<path
					fill="currentColor"
					d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
				/>
			</symbol>
			<symbol id="claves" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 18">
				<path
					fill="currentColor"
					d="m14.76 13.46-7.68-7.2 2-5.1.02-.1c0-.3-.44-.65-1.01-.9A2.16 2.16 0 0 0 7.27 0c-.29 0-.48.07-.55.24L5.09 4.39 1.8 1.32c-.05-.05-.12-.07-.22-.07-.26 0-.7.21-1.03.62C.22 2.23 0 2.62 0 2.9c0 .1.02.2.1.27l4 3.77-3.86 9.84-.02.1c0 .28.43.64 1 .88.3.12.58.17.82.17.29 0 .48-.07.55-.24l3.48-8.9 6.99 6.52c.04.05.12.07.19.07.26 0 .7-.24 1.05-.62.34-.36.56-.74.56-1.03 0-.1-.03-.2-.1-.27Z"
				/>
			</symbol>

			<symbol id="metronome" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 314 314">
				<path
					fill="currentColor"
					d="M281.85 46.63a7 7 0 0 0-3.47-4.8l-11.25-6.27 5.3-9.51a7 7 0 1 0-12.24-6.82l-5.3 9.52-11.25-6.27a7 7 0 0 0-10.03 3.83l-13.8 40.11a7 7 0 0 0 3.21 8.4l4.74 2.64-23.11 41.5-20.06-101.85C182.7 7.51 173.56 0 163.8 0h-56.06c-9.78 0-18.92 7.52-20.8 17.11L46.1 224.42v.04l-13.73 69.72c-1 5.07.2 10.14 3.3 13.9A16.67 16.67 0 0 0 48.66 314h174.2c5.16 0 9.9-2.16 12.99-5.92 3.1-3.76 4.3-8.83 3.3-13.9l-13.73-69.74-16.59-84.23L240 84.27l4.74 2.64a6.97 6.97 0 0 0 8.83-1.68l26.84-32.86a7 7 0 0 0 1.45-5.74zm-181.2-26.81c.6-3.05 3.98-5.82 7.08-5.82h56.05c3.1 0 6.48 2.77 7.07 5.82l23.25 118.06-30.1 54.05a68.99 68.99 0 0 0-21.24-5.36v-14.92h10.96a7 7 0 1 0 0-14h-10.96v-41.21h10.96a7 7 0 1 0 0-14h-10.96V61.23h10.96a7 7 0 1 0 0-14h-10.96v-12.3a7 7 0 1 0-14 0v12.3H117.8a7 7 0 1 0 0 14h10.96v41.2H117.8a7 7 0 1 0 0 14h10.96v41.22H117.8a7 7 0 1 0 0 14h10.96v14.92c-19.45 1.76-32.2 10.69-43.57 18.67-7.89 5.53-14.97 10.49-23.52 12.57l38.99-198zm124.39 279.37c-.44.52-1.21.81-2.18.81H48.66c-.98 0-1.75-.29-2.18-.81-.43-.53-.57-1.34-.38-2.3l12.68-64.37c14.14-1.6 24.45-8.8 34.45-15.82 12.06-8.46 23.45-16.45 42.53-16.45 19.07 0 30.46 8 42.52 16.45 10 7.01 20.3 14.23 34.46 15.82l12.67 64.37c.2.96.06 1.77-.37 2.3zm-15.2-81.38c-8.54-2.08-15.62-7.04-23.52-12.58a232.79 232.79 0 0 0-9.96-6.72l21.93-39.37 11.55 58.67zm36.59-145.98-11.48-6.4 9.18-26.66L264.27 50l-17.84 21.84z"
				/>
				<rect fill="transparent" x="0" y="0" width="314" height="314" />
			</symbol>

			<symbol id="hide-wave" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path
					fill="rgba(97,134,141,0.5)"
					fill-rule="evenodd"
					d="M9.75 6a.75.75 0 0 1 .75.75v16.5a.75.75 0 1 1-1.5 0V6.75A.75.75 0 0 1 9.75 6Zm-3 3a.75.75 0 0 1 .75.75v10.5a.75.75 0 1 1-1.5 0V9.75A.75.75 0 0 1 6.75 9Zm6 0a.75.75 0 0 1 .75.75v10.5a.75.75 0 1 1-1.5 0V9.75a.75.75 0 0 1 .75-.75Zm-9 2.25a.75.75 0 0 1 .75.75v6A.75.75 0 1 1 3 18v-6a.75.75 0 0 1 .75-.75Zm12 0a.75.75 0 0 1 .75.75v6a.75.75 0 1 1-1.5 0v-6a.75.75 0 0 1 .75-.75Zm-15 1.5a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3a.75.75 0 0 1 .75-.75Zm18 0a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3a.75.75 0 0 1 .75-.75Z"
					clip-rule="evenodd"
				/>
				<path
					id="eye-open"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13 2s1.75 2 5 2 5-2 5-2M14 2.82 13 4M23 4l-1-1.18M16.46 3.84 16 5.25M19.53 3.84 20 5.25"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="show-wave" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					fill-rule="evenodd"
					d="M9.75 6a.75.75 0 0 1 .75.75v16.5a.75.75 0 1 1-1.5 0V6.75A.75.75 0 0 1 9.75 6Zm-3 3a.75.75 0 0 1 .75.75v10.5a.75.75 0 1 1-1.5 0V9.75A.75.75 0 0 1 6.75 9Zm6 0a.75.75 0 0 1 .75.75v10.5a.75.75 0 1 1-1.5 0V9.75a.75.75 0 0 1 .75-.75Zm-9 2.25a.75.75 0 0 1 .75.75v6A.75.75 0 1 1 3 18v-6a.75.75 0 0 1 .75-.75Zm12 0a.75.75 0 0 1 .75.75v6a.75.75 0 1 1-1.5 0v-6a.75.75 0 0 1 .75-.75Zm-15 1.5a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3a.75.75 0 0 1 .75-.75Zm18 0a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3a.75.75 0 0 1 .75-.75Z"
					clip-rule="evenodd"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M22.63 3.48c.24.31.24.73 0 1.04-.75.97-2.54 2.98-4.63 2.98-2.1 0-3.88-2-4.63-2.98a.85.85 0 0 1 0-1.04C14.12 2.51 15.91.5 18 .5c2.1 0 3.88 2 4.63 2.98v0Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M18 5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="hide-marker" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M0 7C0 6.44772 0.447715 6 1 6H8C8.55228 6 9 6.44772 9 7V17.6667C9 17.883 8.92982 18.0936 8.8 18.2667L5.3 22.9333C4.9 23.4667 4.1 23.4667 3.7 22.9333L0.2 18.2667C0.0701778 18.0936 0 17.883 0 17.6667V7Z"
					fill="rgba(97,134,141,0.5)"
				/>
				<path
					d="M13 2C13 2 14.75 4 18 4C21.25 4 23 2 23 2"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M14 2.82251L13 4.00001"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M23 4L22.002 2.82401"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M16.457 3.84L16 5.25"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M19.5315 3.84399L20 5.24999"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="show-marker" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M0 7C0 6.44772 0.447715 6 1 6H8C8.55228 6 9 6.44772 9 7V17.6667C9 17.883 8.92982 18.0936 8.8 18.2667L5.3 22.9333C4.9 23.4667 4.1 23.4667 3.7 22.9333L0.2 18.2667C0.0701778 18.0936 0 17.883 0 17.6667V7Z"
					fill="currentColor"
				/>
				<path
					d="M22.6285 3.481C22.8655 3.791 22.8655 4.2095 22.6285 4.519C21.882 5.4935 20.091 7.5 18 7.5C15.909 7.5 14.118 5.4935 13.3715 4.519C13.2562 4.37057 13.1936 4.18796 13.1936 4C13.1936 3.81204 13.2562 3.62943 13.3715 3.481C14.118 2.5065 15.909 0.5 18 0.5C20.091 0.5 21.882 2.5065 22.6285 3.481V3.481Z"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M18 5.5C18.8284 5.5 19.5 4.82843 19.5 4C19.5 3.17157 18.8284 2.5 18 2.5C17.1716 2.5 16.5 3.17157 16.5 4C16.5 4.82843 17.1716 5.5 18 5.5Z"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="hide-axis" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path
					fill="rgba(97,134,141,0.5)"
					d="M12.9 18.32c0 .6-.04 1.11-.12 1.53-.08.42-.2.75-.36 1.02-.16.26-.36.45-.59.57-.23.12-.51.16-.83.16a1.8 1.8 0 0 1-.81-.16 1.49 1.49 0 0 1-.6-.57c-.16-.27-.29-.6-.38-1.02a7.46 7.46 0 0 1-.13-1.53v-2.5c0-.6.04-1.11.13-1.52.09-.41.21-.74.38-1 .16-.25.36-.43.6-.55.24-.11.51-.15.81-.15.31 0 .58.04.81.15.24.11.44.29.6.55.16.25.29.58.37.99.08.41.13.92.13 1.52v2.51h-.01Zm.92-6.17c-.32-.4-.75-.7-1.23-.88a4.7 4.7 0 0 0-3.18 0c-.48.18-.91.47-1.23.88-.34.41-.6.95-.79 1.59a9.06 9.06 0 0 0-.28 2.39v1.92c0 .94.09 1.74.28 2.39.19.66.45 1.19.8 1.6.34.41.75.71 1.23.89 1.03.37 2.15.37 3.18 0 .48-.18.9-.48 1.22-.89.34-.41.6-.94.78-1.6.18-.65.28-1.45.28-2.39v-1.92c0-.94-.09-1.74-.28-2.39a4.22 4.22 0 0 0-.78-1.59Zm9.96 7.32a2.1 2.1 0 0 0-.63-.74 3.7 3.7 0 0 0-1.01-.53c-.4-.14-.85-.27-1.35-.38a9.04 9.04 0 0 1-.87-.22 2.86 2.86 0 0 1-.55-.26.72.72 0 0 1-.28-.3.93.93 0 0 1-.09-.39c0-.14.04-.28.1-.41a.82.82 0 0 1 .27-.34c.13-.1.27-.18.45-.24s.4-.09.64-.09a1.7 1.7 0 0 1 1.14.4 1.32 1.32 0 0 1 .4.91h1.94a2.52 2.52 0 0 0-.94-1.97 3.28 3.28 0 0 0-1.08-.59 4.4 4.4 0 0 0-1.46-.22c-.51 0-.96.07-1.39.21-.41.14-.77.33-1.07.57a2.47 2.47 0 0 0-.89 1.85c0 .37.08.69.23.96.16.28.36.52.66.73.25.21.58.38.96.53.38.15.81.26 1.27.36.39.08.71.17.95.26s.43.19.57.29c.13.1.22.24.25.34.07.12.09.25.09.4a.9.9 0 0 1-.4.76c-.27.2-.66.29-1.19.29a2.25 2.25 0 0 1-1.18-.32 1.15 1.15 0 0 1-.41-.44 1.39 1.39 0 0 1-.18-.67h-1.89c0 .38.08.71.24 1.05a3.04 3.04 0 0 0 1.85 1.59c.46.17.98.24 1.57.24.54 0 1-.05 1.45-.18.43-.13.8-.32 1.11-.54a2.2 2.2 0 0 0 .94-1.89c0-.39-.07-.74-.22-1.02ZM0 12.82v1.68l3-1v9.6h2v-12h-.25L0 12.82Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13 2s1.75 2 5 2 5-2 5-2M14 2.82 13 4M23 4l-1-1.18M16.46 3.84 16 5.25M19.53 3.84 20 5.25"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="show-axis" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M12.9 18.32c0 .6-.04 1.11-.12 1.53-.08.42-.2.75-.36 1.02-.16.26-.36.45-.59.57-.23.12-.51.16-.83.16a1.8 1.8 0 0 1-.81-.16 1.49 1.49 0 0 1-.6-.57c-.16-.27-.29-.6-.38-1.02a7.46 7.46 0 0 1-.13-1.53v-2.5c0-.6.04-1.11.13-1.52.09-.41.21-.74.38-1 .16-.25.36-.43.6-.55.24-.11.51-.15.81-.15.31 0 .58.04.81.15.24.11.44.29.6.55.16.25.29.58.37.99.08.41.13.92.13 1.52v2.51h-.01Zm.92-6.17c-.32-.4-.75-.7-1.23-.88a4.7 4.7 0 0 0-3.18 0c-.48.18-.91.47-1.23.88-.34.41-.6.95-.79 1.59a9.06 9.06 0 0 0-.28 2.39v1.92c0 .94.09 1.74.28 2.39.19.66.45 1.19.8 1.6.34.41.75.71 1.23.89 1.03.37 2.15.37 3.18 0 .48-.18.9-.48 1.22-.89.34-.41.6-.94.78-1.6.18-.65.28-1.45.28-2.39v-1.92c0-.94-.09-1.74-.28-2.39a4.22 4.22 0 0 0-.78-1.59Zm9.96 7.32a2.1 2.1 0 0 0-.63-.74 3.7 3.7 0 0 0-1.01-.53c-.4-.14-.85-.27-1.35-.38a9.04 9.04 0 0 1-.87-.22 2.86 2.86 0 0 1-.55-.26.72.72 0 0 1-.28-.3.93.93 0 0 1-.09-.39c0-.14.04-.28.1-.41a.82.82 0 0 1 .27-.34c.13-.1.27-.18.45-.24s.4-.09.64-.09a1.7 1.7 0 0 1 1.14.4 1.32 1.32 0 0 1 .4.91h1.94a2.52 2.52 0 0 0-.94-1.97 3.28 3.28 0 0 0-1.08-.59 4.4 4.4 0 0 0-1.46-.22c-.51 0-.96.07-1.39.21-.41.14-.77.33-1.07.57a2.47 2.47 0 0 0-.89 1.85c0 .37.08.69.23.96.16.28.36.52.66.73.25.21.58.38.96.53.38.15.81.26 1.27.36.39.08.71.17.95.26s.43.19.57.29c.13.1.22.24.25.34.07.12.09.25.09.4a.9.9 0 0 1-.4.76c-.27.2-.66.29-1.19.29a2.25 2.25 0 0 1-1.18-.32 1.15 1.15 0 0 1-.41-.44 1.39 1.39 0 0 1-.18-.67h-1.89c0 .38.08.71.24 1.05a3.04 3.04 0 0 0 1.85 1.59c.46.17.98.24 1.57.24.54 0 1-.05 1.45-.18.43-.13.8-.32 1.11-.54a2.2 2.2 0 0 0 .94-1.89c0-.39-.07-.74-.22-1.02ZM0 12.82v1.68l3-1v9.6h2v-12h-.25L0 12.82Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M22.63 3.48c.24.31.24.73 0 1.04-.75.97-2.54 2.98-4.63 2.98-2.1 0-3.88-2-4.63-2.98a.85.85 0 0 1 0-1.04C14.12 2.51 15.91.5 18 .5c2.1 0 3.88 2 4.63 2.98v0Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M18 5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="hide-playhead" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25">
				<path stroke="rgba(97,134,141,0.5)" stroke-linecap="round" d="M3.17 24V4" />
				<path fill="rgba(97,134,141,0.5)" d="m9.17 14.5-6 6.5V8l6 6.5Z" />
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M13.17 2s1.75 2 5 2 5-2 5-2M14.17 2.82l-1 1.18M23.17 4l-1-1.18M16.63 3.84l-.46 1.41M19.7 3.84l.47 1.41"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="show-playhead" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25">
				<path stroke="currentColor" stroke-linecap="round" d="M3.17 24V4" />
				<path fill="currentColor" d="m9.17 14.5-6 6.5V8l6 6.5Z" />
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M22.8 3.48c.24.31.24.73 0 1.04-.75.97-2.54 2.98-4.63 2.98s-3.88-2-4.63-2.98a.85.85 0 0 1 0-1.04C14.3 2.51 16.08.5 18.17.5c2.1 0 3.88 2 4.63 2.98v0Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M18.17 5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="hide-highlight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
				<path
					d="M20 20.6463L16.3265 21.8235L15.0232 20.5202L17.4879 18.0555L20 20.6463ZM15.4187 11.8224C15.6123 11.9933 15.7526 12.2161 15.8229 12.4645C15.8933 12.7129 15.8907 12.9762 15.8154 13.2232L15.3357 14.7978L17.2081 16.6706L13.6702 20.2085L11.8004 18.3386L10.229 18.8195C9.72426 18.9739 9.17573 18.8191 8.82647 18.4232L7.51948 16.8923L13.8923 10.5195L15.4187 11.8224V11.8224ZM0.591176 5.91435L2.91471 3.59082C3.66801 2.83751 4.87721 2.79965 5.67647 3.50442L12.9945 9.75295L6.75294 15.9949L0.504778 8.67648C-0.200369 7.87722 -0.1625 6.66803 0.591176 5.91435V5.91435Z"
					fill="rgba(97,134,141,0.5)"
				/>
				<path
					d="M13 2C13 2 14.75 4 18 4C21.25 4 23 2 23 2"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M14 2.82251L13 4.00001"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M23 4L22.002 2.824"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M16.457 3.84L16 5.25"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M19.5315 3.84401L20 5.25001"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</symbol>

			<symbol id="show-highlight" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 26 24">
				<path
					fill="currentColor"
					d="m20 20.65-3.67 1.17-1.3-1.3 2.46-2.46L20 20.65Zm-4.58-8.83a1.34 1.34 0 0 1 .4 1.4l-.48 1.58 1.87 1.87-3.54 3.54-1.87-1.87-1.57.48c-.5.15-1.05 0-1.4-.4L7.52 16.9l6.37-6.37 1.53 1.3ZM.59 5.92l2.32-2.33c.76-.75 1.97-.79 2.77-.09l7.31 6.25L6.75 16 .5 8.68c-.7-.8-.66-2.01.1-2.77Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M24.63 3.48c.24.31.24.73 0 1.04-.75.97-2.54 2.98-4.63 2.98-2.1 0-3.88-2-4.63-2.98a.85.85 0 0 1 0-1.04C16.12 2.51 17.91.5 20 .5c2.1 0 3.88 2 4.63 2.98v0Z"
				/>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M20 5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
				/>
				<rect fill="transparent" x="0" y="0" width="24" height="24" />
			</symbol>

			<symbol id="font-size" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M10.21 17.11 15.04 3.5a.75.75 0 0 1 1.37-.11l.05.1 5.5 15.5a.75.75 0 0 1-1.38.6l-.04-.09-1.6-4.5h-6.39l-1.58 4.45a.75.75 0 0 1-.35.45l-.1.05a.75.75 0 0 1-.92-.33l-.05-.1-1-2.52h-4.1l-1 2.52a.75.75 0 0 1-.88.45l-.1-.03a.75.75 0 0 1-.45-.87l.03-.1 3.76-9.5a.75.75 0 0 1 1.34-.1l.05.1 3.01 7.64L15.04 3.5l-4.83 13.61Zm-3.7-5.32L5.03 15.5h2.93L6.5 11.8ZM15.74 6l-2.67 7.51h5.33L15.75 6Z"
				/>
			</symbol>

			<symbol
				id="font-size-increase"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
			>
				<path
					fill="currentColor"
					d="M5.12 14 7.5 7.67 9.87 14H5.12ZM6.5 5 1 19h2.25l1.12-3h6.25l1.13 3H14L8.5 5h-2ZM18 7l-5 5.07 1.41 1.43L17 10.9V17h2v-6.1l2.59 2.6L23 12.07 18 7Z"
				/>
			</symbol>

			<symbol
				id="font-size-decrease"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
			>
				<path
					fill="currentColor"
					d="M5.12 14 7.5 7.67 9.87 14H5.12ZM6.5 5 1 19h2.25l1.12-3h6.25l1.13 3H14L8.5 5h-2ZM18 17l5-5.07-1.41-1.43L19 13.1V7h-2v6.1l-2.59-2.6L13 11.93 18 17Z"
				/>
			</symbol>

			<symbol id="gdpr" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path fill="currentColor" d="M16.5 19.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" />
				<path
					fill="currentColor"
					d="M22.33 17.6a6.48 6.48 0 0 0-5.83-4.1 6.48 6.48 0 0 0-5.83 4.1l-.17.4.17.4a6.48 6.48 0 0 0 5.83 4.1 6.48 6.48 0 0 0 5.83-4.1l.17-.4-.17-.4ZM16.5 21a3 3 0 1 1 0-6 3 3 0 0 1 0 6ZM6 6.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM6 12.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM6 18.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
				/>
				<path
					fill="currentColor"
					d="M3.75 15.75H9v-1.5H3.75v-4.5h12V12h1.5V3.75a1.5 1.5 0 0 0-1.5-1.5h-12a1.5 1.5 0 0 0-1.5 1.5v16.5a1.5 1.5 0 0 0 1.5 1.5H9v-1.5H3.75v-4.5Zm0-12h12v4.5h-12v-4.5Z"
				/>
			</symbol>

			<symbol id="imprint" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M22.5 11.25A4.5 4.5 0 1 0 15 14.6v7.15l3-1.41 3 1.41V14.6a4.49 4.49 0 0 0 1.5-3.35Zm-3 8.14-1.5-.71-1.5.7v-3.9c.97.36 2.03.36 3 0v3.9ZM18 14.25a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
				/>
				<path
					fill="currentColor"
					d="M10.5 1.5A4.5 4.5 0 0 0 6 6v4.5H4.5A1.5 1.5 0 0 0 3 12v9a1.5 1.5 0 0 0 1.5 1.5h8.25V21H4.5v-9h6.75v-1.5H7.5V6a3 3 0 0 1 5.94-.6l1.47-.3a4.51 4.51 0 0 0-4.41-3.6Z"
				/>
			</symbol>

			<symbol id="download" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
				<path
					fill="currentColor"
					d="M15 7h-3V1H8v6H5l5 5 5-5Zm4.34 6.53c-.21-.22-1.61-1.72-2.01-2.11a1.5 1.5 0 0 0-1.04-.42h-1.76l3.06 3h-3.54a.27.27 0 0 0-.24.13L12.99 16H7.01l-.82-1.87a.28.28 0 0 0-.24-.14H2.41L5.47 11H3.71c-.4 0-.77.16-1.04.42-.4.39-1.8 1.89-2 2.11-.5.52-.77.94-.64 1.45l.56 3.07c.13.52.7.94 1.25.94h16.32c.56 0 1.12-.42 1.25-.93l.56-3.08c.13-.51-.14-.93-.63-1.45Z"
				/>
			</symbol>
		</defs>
	</svg>
</template>