<template>
  <div class="[ header-topic-art ] -z-10">
    <header>
      <h1
        class="text-xl lg:text-3xl xl:text-5xl text-crimson-800 opacity-10 mr-2 leading-none font-dreamscape"
      >{{ header }}</h1>
    </header>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      default: "Header default"
    }
  }
}
</script>