<template>
	<section class="relative flex flex-col w-full my-8 px-10 py-8 overflow-auto rounded-lg">
		<header class="relative">
			<h1 class="text-xl mb-5 select-none">{{ content.title }}</h1>
		</header>

		<article class="mb-2" v-html="content.body"></article>

		<div v-if="content.video.length" class="flex flex-row gap-x-2 gap-y-2 w-auto relative mb-2">
			<div v-for="v in content.video" :key="v.id">
				<button :class="v.css_classes" @click="$nuxt.$emit('showModalForVideo', v)">{{ v.title }}</button>
			</div>
		</div>

		<div v-if="content.button.length" class="flex flex-row gap-x-2 gap-y-2 w-auto relative mb-2">
			<div v-for="btn in content.button" :key="btn.id" class="relative flex flex-row">
				<nuxt-link
					v-if="btn.route"
					:id="btn.identifier"
					:to="btn.route"
					class="relative txt-underlined"
				>{{ btn.text }}</nuxt-link>

				<button
					v-if="!btn.route"
					:id="btn.identifier"
					:class="btn.css_classes"
					@click="$nuxt.$emit(`${btn.identifier}`)"
				>{{ btn.text }}</button>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'IntroductionSlug',
	transition: {
		name: 'fade',
		appear: true,
	},
	async asyncData(ctx) {
		const slug = ctx.route.params.slug
		try {
			// TODO: articles are already here (see index.vue). There is no need to fetch them again from
			// the server. Improve this! – Question: How do we access the articles (saved in index.vue)
			// from over here?
			const result = await ctx.$axios.get(`/introductions/${slug}`)
			const content = await result.data
			return { content }
		} catch (error) {
			const content = {
				title: 'Ooops...',
				body: '<p>Either an error happened or this article is not yet published. Please come back later or tell the <a href="mailto:webmaster@rowild.at">webmaster</a></p><hr class="border-gray-700 my-6"><p><strong>Error:</strong></p><p>' + error.message + '</p>'
			}
			return { content }
			// throw new Error('An error occured fetching the data. maybe the content is not published and still in draft mode?', error)
		}
	},
	data() {
		return {
			content: {
				title: 'Fetching title...',
				body: 'Please wait',
			},
		}
	}
}
</script>

<style scoped>
section {
	@apply bg-anthrazit-300 bg-opacity-20;
}
body.dark-mode section {
	@apply bg-anthrazit-500 bg-opacity-60;
}
</style>