<template>
	<section></section>
</template>

<script>
export default {
	name: 'IntroductionIndex',
	transition: {
		name: 'fade',
		appear: true,
	},
	async asyncData(context) {
		const result = await context.$axios.get('/introductions')
		const articles = await result.data

		return { articles }
	},
	data() {
		return {
			articles: [],
		}
	},
	mounted() {
		// console.log('this.articles =', this.articles);
		this.redirect()
	},
	methods: {
		redirect() {
			const firstSlug = this.articles[0].slug
			this.$router.push(`/introduction/${firstSlug}`)
		},
	},
}
</script>