@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}

.default-enter-active,
.default-leave-active {
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

.default-enter-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  transform: translate3d(0, 100vh, 0);
}

.default-leave-to {
  opacity: 0.2;
  transform: translate3d(0, -80vh, 0);
}

.default-enter-to {
  transform: translate3d(0, 0, 0);
}


.fadescale-enter-active,
.fadescale-leave-active {
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

.fadescale-leave-to {
  opacity: 0;
  transform: scale(1.05);
}

.fadescale-enter {
  opacity: 0;
  transform: scale(0.7);
}

.fadescale-enter-to {
  opacity: 1;
  transform: scale(1);
}


/* ----- FADE ONLY ----- */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease-in-out;
}

.fade-leave-to,
.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}