.formulate-input {
  --color-base: var(--anthrazit-dark, 1);
  --color-base-alpha: rgba(var(--anthrazit-rgb-dark), .5);
  --color-help: #6d6d6d;
  --color-error: #960505;
  --color-placeholder: #a8a8a8;
  --color-active: #41b883;
  --bg-color-active: #64c89b;
  --border-color: rgba(var(--anthrazit-rgb-base), var(--border-alpha));
  --border-color-disabled: #cecece;
  --bg-color-disabled: #cecece;
}

body.dark-mode .formulate-input {
  --color-base: var(--anthrazit-light);
  --color-base-alpha: rgba(var(--anthrazit-rgb-light), .5);
  --color-help: #6d6d6d;
  /* --color-error: var(--primary-color-lighter); */
  --color-error: var(--bg-color-disabled);
  --color-placeholder: #a8a8a8;
  --color-active: #41b883;
  --bg-color-active: #64c89b;
  --border-color: rgba(var(--anthrazit-rgb-light), var(--border-alpha));
  --border-color-disabled: rgba(var(--primary-color-rgb-light), var(--border-alpha));
  --bg-color-disabled: rgba(var(--primary-color-rgb-light), var(--bg-alpha));
}

.formulate-input {
  @apply mb-6;

  & .formulate-input-label {
    @apply flex mb-1;
  }

  & .formulate-input-label--before+.formulate-input-help--before {
    margin-top: -.25em;
    margin-bottom: .75em
  }

  & .formulate-input-element {
    @apply max-w-full mb-1;
  }

  & .formulate-input-element.formulate-input-element--submit {
    @apply mb-0;
  }

  & .formulate-input-element--submit--label {
    line-height: 1;
  }

  & .formulate-input-help {
    color: var(--color-help);
    font-size: .7em;
    margin-bottom: .25em
  }

  & .formulate-input-errors {
    list-style-type: none;
    @apply p-0 m-0;
  }

  & .formulate-file-upload-error,
  & .formulate-input-error {
    color: var(--color-error);
    font-size: .8em;
    font-weight: 300;
    margin-bottom: .25em
  }

  &:last-child {
    margin-bottom: 0
  }
}

.formulate-input[data-classification=text] {
  & input {
    @apply flex box-border border rounded-md px-3 py-2 m-0 w-full bg-transparent appearance-none;
    border-color: var(--border-color);
  }

  /* Placeholder */

  & input::placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  /* :FOCUS */

  & input:focus {
    outline: 0;
    border: 1px solid var(--color-active);
  }

  /* INPUT[DATE] */

  & .formulate-input-element--date input,
  & .formulate-input-element--datetime-local input,
  & .formulate-input-element--month input,
  & .formulate-input-element--week input {
    min-height: 2.2em
  }

  & input[type=color] {
    @apply box-border w-auto;
    min-width: 5rem;
    height: 1.1em;

    &::-webkit-color-swatch-wrapper {
      @apply flex items-center pr-6;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.17 79.17"><path fill="%236d6d6d" d="M40.8,22.92c-3.4-3.4-4.76-8.44-1-12.24s8.84-2.44,12.24,1c5-5,10.69-13.33,18.81-11.31a11,11,0,0,1,7.62,14.34c-1.26,3.45-4.63,6.06-7.16,8.59-.92.93-3,2.26-3.46,3.46-.42,1,1.82,2.63,2.36,4a8,8,0,0,1-12.42,9.19c-.21-.16-1.35-1.51-1.59-1.51s-.83.83-1,1L49.71,44.9,32.43,62.18c-3.37,3.38-6.6,7.14-10.26,10.21a11,11,0,0,1-4.48,2.28c-1.25.3-3.11-.22-4.18.18-1.28.48-2.42,2.65-3.68,3.4-6.05,3.61-12.64-4-8.46-9.57.73-1,2.53-1.92,3-3a14.46,14.46,0,0,0-.09-2.52,10.75,10.75,0,0,1,3.14-6.77c.92-1,1.93-1.93,2.89-2.9Zm4.4-1.5c4.19,4,8.24,8.24,12.36,12.36,2.06,2.06,5,5.59,8,2.61,4.65-4.62-5-6.8-2.42-10.78C66.3,20.7,76.4,16.48,74.84,9.45,73.62,4,67.12,2.78,63.29,6.32c-2.55,2.36-4.93,4.94-7.39,7.4-.79.78-1.8,2.28-2.88,2.73-2.14.88-3.4-1.62-4.79-2.77-2.58-2.14-6.89-.82-6.53,3C41.89,18.68,43.87,20.09,45.2,21.42Zm-1.45,4.44L27.82,41.79C22,47.57,15.89,53.14,10.41,59.2a8.23,8.23,0,0,0-1.44,2c-.93,2,.25,4.14-.5,6S4.92,69.94,4.3,72a2.34,2.34,0,0,0,2.56,3c1.11-.17,2-1.33,2.71-2.07a11.17,11.17,0,0,1,2.08-2c1.68-.94,4,.17,5.93-.57C20,69.41,22,66.73,23.76,65L34.42,54.3,53.3,35.42Z"/></svg>');
      background-repeat: no-repeat;
      background-size: .9em .9em;
      background-position: left .1em
    }

    &::-webkit-color-swatch {
      @apply block h-4 border-none rounded;
      flex: auto
    }

    &::-moz-color-swatch {
      @apply block h-4 border-none rounded;
      flex: auto
    }
  }
}

.formulate-input[data-classification=slider] {
  & .formulate-input-element--range {
    display: flex;
    align-items: center
  }

  & .formulate-input-element-range-value {
    /* font-size: .9em; */
    line-height: 1;
    margin-left: .5em;
    background-color: #efefef;
    padding: .25em .3em;
    border-radius: .25em;
    color: var(--color-help);
    font-variant-numeric: tabular-nums
  }

  & input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 1em;
    padding: .5em 0
  }

  & input:focus {
    outline: 0
  }

  & input::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 0;
    background-color: var(--color-active);
    margin-top: calc(-.5em + 2px)
  }

  & input::-moz-range-thumb {
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 0;
    background-color: var(--color-active);
    margin-top: calc(-.5em + 2px)
  }

  & input::-ms-thumb {
    cursor: pointer;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 0;
    background-color: var(--color-active);
    margin-top: calc(-.5em + 2px)
  }

  & input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background-color: #efefef;
    border-radius: 3px;
    margin: 0;
    padding: 0
  }

  & input::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background-color: #efefef;
    border-radius: 3px;
    margin: 0;
    padding: 0
  }
}

.formulate-input[data-classification=textarea] {
  & textarea {
    @apply block box-border border rounded-md appearance-none bg-transparent px-3 py-2 m-0;
    border-color: var(--border-color);
  }

  & textarea::-moz-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & textarea:-ms-input-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & textarea::placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & textarea:focus {
    outline: 0;
    border: 1px solid var(--color-active)
  }
}

.formulate-input[data-classification=button] {
  & button {
    @apply inline-flex items-center;
    @apply box-border bg-green-500;
    @apply border rounded-md;
    @apply w-auto min-w-0 px-3 py-2 m-0;
    @apply appearance-none;
    @apply text-white;
  }

  & button::-moz-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & button:-ms-input-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & button::placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & button:focus {
    outline: 0;
    border: 1px solid var(--color-active)
  }

  & button[disabled],
  & button[disabled]:active {
    background-color: var(--bg-color-disabled);
    border-color: var(--border-color-disabled)
  }

  & button[data-ghost] {
    color: var(--color-active);
    background-color: transparent;
    border-color: currentColor
  }

  & button[data-minor] {
    font-size: .75em;
    display: inline-block
  }

  & button[data-danger] {
    background-color: var(--color-error);
    border-color: var(--color-error)
  }

  & button[data-danger][data-ghost] {
    color: var(--color-error);
    background-color: transparent
  }

  & button:active {
    background-color: var(--bg-color-active);
    border-color: var(--bg-color-active)
  }
}

.formulate-input[data-classification=select] {
  & .formulate-input-element {
    position: relative
  }

  & .formulate-input-element:before {
    @apply absolute w-0 h-0;
    content: "";
    top: 50%;
    right: 1em;
    margin-top: -.1em;
    border-color: var(--border-color-disabled) transparent transparent;
    border-style: solid;
    border-width: .3em .3em 0;
  }

  & .formulate-input-element[data-multiple]:before {
    display: none
  }

  & select {
    @apply flex;
    @apply w-full py-2 pl-3 pr-8 m-0;
    @apply box-border border rounded-md;
    @apply bg-transparent ;
    @apply appearance-none;
    border-color: var(--border-color);
  }

  & select::-moz-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & select:-ms-input-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & select::placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & select:focus {
    outline: 0;
    border: 1px solid var(--color-active)
  }

  & select option {
    color: #000
  }

  & select option:disabled {
    color: var(--color-placeholder)
  }

  & select[multiple] {
    @apply p-0 overflow-y-auto overflow-x-hidden;
  }

  & select[multiple] option {
    padding: .75em
  }

  & select[data-placeholder-selected] {
    color: var(--color-placeholder)
  }
}

.formulate-input[data-classification=box] {
  & .formulate-input-wrapper {
    @apply flex items-center;
  }

  & .formulate-input-element {
    @apply flex items-center;
    @apply overflow-hidden;
  }

  & .formulate-input-element input {
    @apply absolute opacity-0 pointer-events-none;
    left: -999px;
  }

  & .formulate-input-element-decorator {
    @apply block relative w-4 h-4 rounded border;
    border-color: var(--border-color);
  }

  & .formulate-input-element-decorator:before {
    @apply block absolute box-border;
    content: "";
    background-size: contain;
    background-position: 100%;
    width: calc(100% - .125em);
    height: calc(100% - .125em);
    top: .0625em;
    left: .0625em
  }

  & .formulate-input-element[data-type=radio] {
    & .formulate-input-element-decorator {
      border-radius: 1em
    }
    & .formulate-input-element-decorator:before {
      border-radius: 1em;
      width: calc(100% - .5em);
      height: calc(100% - .5em);
      top: .25em;
      left: .25em
    }
  }

  & .formulate-input-element {
    & input[type=checkbox]:checked~.formulate-input-element-decorator {
      border-color: var(--color-active)
    }

    & input[type=checkbox]:checked~.formulate-input-element-decorator:before {
      background-color: var(--color-active);
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
      mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>')
    }

    /* Radio buttons: inactive */
    & input[type=radio]:checked~.formulate-input-element-decorator,
    & input:focus~.formulate-input-element-decorator {
      border-color: rgba(var(--anthrazit-rgb-dark), 1);
    }
    & input[type=radio]:checked~.formulate-input-element-decorator:before {
      background-color: rgba(var(--anthrazit-rgb-dark), 1);
    }

    /* Radio buttons: checked */
    & input[type=radio]:checked~.formulate-input-element-decorator,
    & input:focus~.formulate-input-element-decorator {
      border-color: var(--color-active);
    }
    & input[type=radio]:checked~.formulate-input-element-decorator:before {
      background-color: var(--color-active)
    }
  }

  & .formulate-input-label--after {
    margin-left: .5em
  }
  & .formulate-input-label--before {
    margin-right: .5em
  }
}

.formulate-input[data-classification=group] {
  & .formulate-input-group-item,
  &>.formulate-input-wrapper>.formulate-input-label {
    margin-bottom: .25em
  }

  & [data-is-repeatable] {
    padding: 1em;
    border: 1px solid #efefef;
    border-radius: .3em;

    & .formulate-input-grouping {
      margin: -1em -1em 0
    }

    & .formulate-input-group-repeatable {
      padding: 1em 3em 1em 1em;
      border-bottom: 1px solid #efefef;
      position: relative
    }

    & .formulate-input-group-repeatable-remove {
      @apply absolute block cursor-pointer overflow-hidden;
      top: calc(50% - .15em);
      width: 1.3em;
      height: 1.3em;
      background-color: var(--bg-color-disabled);
      right: .85em;
      border-radius: 1.3em;
      transition: background-color .2s;
      text-indent: -1000px
    }

    & .formulate-input-group-repeatable-remove[data-disabled] {
      @apply pointer-events-none opacity-20;
    }

    & .formulate-input-group-repeatable-remove:after,
    & .formulate-input-group-repeatable-remove:before {
      content: "";
      position: absolute;
      top: calc(50% - .1em);
      left: .325em;
      display: block;
      width: .65em;
      height: .2em;
      background-color: #fff;
      transform-origin: center center;
      transition: transform .25s
    }
  }
}

@media (pointer:fine) {
  .formulate-input[data-classification=group] [data-is-repeatable] .formulate-input-group-repeatable-remove:hover {
    background-color: #dc2c2c
  }

  .formulate-input[data-classification=group] [data-is-repeatable] .formulate-input-group-repeatable-remove:hover:after,
  .formulate-input[data-classification=group] [data-is-repeatable] .formulate-input-group-repeatable-remove:hover:before {
    height: .2em;
    width: .75em;
    left: .25em;
    top: calc(50% - .075em)
  }

  .formulate-input[data-classification=group] [data-is-repeatable] .formulate-input-group-repeatable-remove:hover:after {
    transform: rotate(45deg)
  }

  .formulate-input[data-classification=group] [data-is-repeatable] .formulate-input-group-repeatable-remove:hover:before {
    transform: rotate(-45deg)
  }
}

.formulate-input[data-classification=group] [data-is-repeatable] .formulate-input-group-repeatable:last-child {
  margin-bottom: 1em
}

.formulate-input[data-classification=file] {
  & .formulate-input-upload-area {
    width: 100%;
    position: relative;
    padding: 2em 0
  }

  & .formulate-input-upload-area input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5
  }

  & .formulate-input-upload-area[data-has-files] {
    padding: 0
  }

  & .formulate-input-upload-area[data-has-files] input {
    display: none
  }

  & .formulate-input-upload-area-mask {
    @apply absolute ;
    @apply flex items-center justify-center inset-0;
    @apply pointer-events-none;
    border-radius: .4em;
    border: 2px dashed #a8a8a8;
    z-index: 2
  }

  & .formulate-input-upload-area-mask:before {
    content: "";
    background-color: var(--color-placeholder);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58"><path d="M29,58A29,29,0,1,0,0,29,29,29,0,0,0,29,58ZM29,4A25,25,0,1,1,4,29,25,25,0,0,1,29,4Z"/><polygon points="27 22 27 44.4 31 44.4 31 22 41.7 31.1 44.3 28.1 29 15 13.7 28.1 16.3 31.1 27 22"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58"><path d="M29,58A29,29,0,1,0,0,29,29,29,0,0,0,29,58ZM29,4A25,25,0,1,1,4,29,25,25,0,0,1,29,4Z"/><polygon points="27 22 27 44.4 31 44.4 31 22 41.7 31.1 44.3 28.1 29 15 13.7 28.1 16.3 31.1 27 22"/></svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    width: 2em;
    height: 2em;
    position: absolute;
    pointer-events: none
  }

  & .formulate-input-upload-area input:focus~.formulate-input-upload-area-mask,
  & .formulate-input-upload-area input:hover~.formulate-input-upload-area-mask,
  & .formulate-input-upload-area input[data-is-drag-hover]~.formulate-input-upload-area-mask {
    border-color: var(--color-active)
  }

  & .formulate-input-upload-area input:focus~.formulate-input-upload-area-mask:before,
  & .formulate-input-upload-area input:hover~.formulate-input-upload-area-mask:before,
  & .formulate-input-upload-area input[data-is-drag-hover]~.formulate-input-upload-area-mask:before {
    background-color: var(--color-active)
  }

  & .formulate-files {
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  & .formulate-files .formulate-file-add {
    @apply appearance-none block relative;
    min-width: 75px;
    border: 1px solid var(--color-active);
    color: var(--color-active);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    background-color: transparent;
    cursor: pointer;
    margin: .5em 0
  }

  & .formulate-files .formulate-file-add input {
    position: absolute;
    display: block;
    cursor: pointer
  }

  & .formulate-files .formulate-file-add input::-webkit-file-upload-button {
    display: none
  }

  & .formulate-files .formulate-file-progress {
    background-color: var(--bg-color-disabled);
    height: .3em;
    border-radius: 1.25em;
    width: 5em;
    overflow: hidden;
    position: relative;
    flex: 0 0 5em;
    right: .75em;
    transition: height .25s, width .25s, flex-basis .25s;
    z-index: 2
  }

  & .formulate-files .formulate-file-progress:before {
    @apply block absolute inset-0 opacity-0 bg-white;
    content: "";
    transform: scale(.08);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
    -webkit-mask-size: 77%;
    mask-size: 77%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    z-index: 3
  }

  & .formulate-files .formulate-file-progress[data-just-finished] {
    width: 1.25em;
    height: 1.25em;
    flex: 0 0 1.25em
  }

  & .formulate-files .formulate-file-progress[data-just-finished]:before {
    transition: transform .25s .2s, opacity .25s .2s;
    transform: scale(1);
    opacity: 1
  }

  & .formulate-files .formulate-file-progress[data-is-finished] {
    transition: height .25s, width .25s, left .25s, top, .25s, border-radius .25s;
    width: .3em;
    flex: 0 0 .3em;
    height: 100%;
    right: 0;
    border-radius: 0 .23em .23em 0
  }

  & .formulate-files .formulate-file-progress[data-is-finished]:before {
    transition: opacity .1s;
    opacity: 0
  }

  & .formulate-files .formulate-file-progress .formulate-file-progress-inner {
    background-color: var(--color-active);
    width: 1%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2
  }

  & .formulate-files .formulate-file-name {
    padding-left: 1.5em;
    padding-right: 2em;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto
  }

  & .formulate-files .formulate-file-name:before {
    position: absolute;
    left: .7em;
    top: 50%;
    margin-top: -.7em;
    background-color: var(--color-placeholder);
    content: "";
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.06 83.59"><path d="M55.94,83.59a8.16,8.16,0,0,0,8.12-8.16V19.12a1.77,1.77,0,0,0-.52-1.25L46.21.59A1.69,1.69,0,0,0,45.14.08L44.69,0l-.18,0H8.13A8.18,8.18,0,0,0,0,8.16V75.41a8.16,8.16,0,0,0,8.13,8.16H55.94ZM46.68,6,58.11,17.38H46.68ZM3.52,75.43V8.16A4.64,4.64,0,0,1,8.13,3.52h35V19.16a1.75,1.75,0,0,0,1.76,1.74H60.55V75.43a4.65,4.65,0,0,1-4.61,4.65H8.13A4.65,4.65,0,0,1,3.52,75.43Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.06 83.59"><path d="M55.94,83.59a8.16,8.16,0,0,0,8.12-8.16V19.12a1.77,1.77,0,0,0-.52-1.25L46.21.59A1.69,1.69,0,0,0,45.14.08L44.69,0l-.18,0H8.13A8.18,8.18,0,0,0,0,8.16V75.41a8.16,8.16,0,0,0,8.13,8.16H55.94ZM46.68,6,58.11,17.38H46.68ZM3.52,75.43V8.16A4.64,4.64,0,0,1,8.13,3.52h35V19.16a1.75,1.75,0,0,0,1.76,1.74H60.55V75.43a4.65,4.65,0,0,1-4.61,4.65H8.13A4.65,4.65,0,0,1,3.52,75.43Z"/></svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    margin-right: .5em
  }

  & .formulate-files .formulate-file-remove {
    width: 1.25em;
    height: 1.25em;
    border-radius: 1em;
    border: 1px solid #a8a8a8;
    background-color: var(--color-placeholder);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.1 59.2"><path d="M1.6,57.7a5,5,0,0,0,3.5,1.5,4.85,4.85,0,0,0,3.5-1.5l21-21,21,21a5,5,0,0,0,3.5,1.5,4.85,4.85,0,0,0,3.5-1.5,5,5,0,0,0,0-7.1l-21-21,21-21a5,5,0,0,0,0-7.1,5,5,0,0,0-7.1,0l-21,21L8.6,1.7a5,5,0,0,0-7.1,0,5,5,0,0,0,0,7.1l21,21L1.6,50.7A4.83,4.83,0,0,0,1.6,57.7Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.1 59.2"><path d="M1.6,57.7a5,5,0,0,0,3.5,1.5,4.85,4.85,0,0,0,3.5-1.5l21-21,21,21a5,5,0,0,0,3.5,1.5,4.85,4.85,0,0,0,3.5-1.5,5,5,0,0,0,0-7.1l-21-21,21-21a5,5,0,0,0,0-7.1,5,5,0,0,0-7.1,0l-21,21L8.6,1.7a5,5,0,0,0-7.1,0,5,5,0,0,0,0,7.1l21,21L1.6,50.7A4.83,4.83,0,0,0,1.6,57.7Z"/></svg>');
    -webkit-mask-size: .6em;
    mask-size: .6em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    cursor: pointer;
    position: absolute;
    right: .75em;
    z-index: 1;
    transition: transform .25s
  }
}

@media (pointer:fine) {
  .formulate-input[data-classification=file] .formulate-files .formulate-file-remove:hover {
    transform: scale(1.5)
  }
}

.formulate-input[data-classification=file] {
  & .formulate-files li {
    display: block
  }

  & .formulate-files li[data-has-error] .formulate-file-progress {
    background-color: #dc2c2c
  }

  & .formulate-files li[data-has-preview] .formulate-file-name:before {
    display: none
  }

  & .formulate-files li+li {
    margin-top: .5em
  }

  & .formulate-files .formulate-file {
    @apply box-border flex justify-between items-center relative appearance-none bg-transparent m-0 p-3 w-full;
    border-radius: .3em;
    border: 1px solid #cecece;
    font-size: .9em;
    font-weight: 400;
  }

  & .formulate-files .formulate-file::-moz-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & .formulate-files .formulate-file:-ms-input-placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & .formulate-files .formulate-file::placeholder {
    color: var(--color-placeholder);
    line-height: normal
  }

  & .formulate-files .formulate-file:focus {
    outline: 0;
    border: 1px solid var(--color-active)
  }

  & .formulate-files .formulate-file ::-webkit-progress-bar {
    -webkit-appearance: none;
    appearance: none;
    height: .5em;
    border-radius: .5em;
    overflow: hidden
  }

  & .formulate-files .formulate-file-image-preview {
    width: 3em;
    height: 3em;
    flex: 0 0 3em;
    position: relative;
    z-index: 2;
    left: -1px;
    box-shadow: 0 0 0 1px #efefef;
    transition: transform .25s, box-shadow .25s, background-color .25s
  }
}

@media (pointer:fine) {
  .formulate-input[data-classification=file] .formulate-files .formulate-file-image-preview:hover {
    transition-delay: .2s;
    transform: scale(3);
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1)
  }
}

/**
 * ERRORS --------------------------------
 */

.formulate-form-errors {
  margin: .75em 0;
  padding: 0;
  list-style-type: none
}

.formulate-form-errors:first-child {
  margin-top: 0
}

.formulate-form-errors:last-child {
  margin-bottom: 0
}

.formulate-form-errors .formulate-form-error {
  color: var(--color-error);
  font-weight: 300;
  margin-bottom: .25em
  /* font-size: .9em; */
  /* line-height: 1.5; */
}

/**
 * QUIZ --------------------------------
 */

.quiz-answers .formulate-input {
  margin-bottom: 1rem;
}

.quiz-answers.quiz-addon .formulate-input {
  margin-bottom: 0rem;
}

.formulate-input.small .formulate-input-label,
.formulate-input.small[data-classification=group] .formulate-input-label,
.formulate-input.small[data-classification=group] .formulate-input-group-item {
  font-weight: 400!important;
  margin-bottom: .2em!important;
}

.formulate-input[data-classification=group] .formulate-input-group-item,
.formulate-input[data-classification=group] > .formulate-input-wrapper> .formulate-input-label {
  font-weight: 400!important;
  margin-bottom: .25em!important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(.5) opacity(.5);
}

/* AUTOFILL: do NOT use transparency! */

.light-mode input:autofill,
.light-mode input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--white) inset;
  -webkit-text-fill-color: var(--anthrazit-base);
}

.dark-mode input:autofill,
.dark-mode input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--anthrazit-base) inset;
  -webkit-text-fill-color: var(--white);
}


/**
 * FIXES
 */

/* ...for pilot invite code modal */
.formulate-input[data-classification="text"] input#pilot_invite_code {
  background: white !important;
}

.modal-content ul.formulate-input-errors li {
  list-style: none;
  list-style-position: outside;
  list-style-type: none !important;
}