fieldset {
  @apply absolute inset-0;
  @apply flex flex-col;
  @apply overflow-x-hidden overflow-y-auto;
  @apply transition-all;
}

.active-fieldset-0 {
  & .fieldset-0 {
    @apply transform translate-x-0 opacity-100;
  }
  & .fieldset-1 {
    @apply transform translate-x-full opacity-0;
  }
  & .fieldset-2 {
    @apply transform translate-x-full opacity-0;
  }
  & .fieldset-3 {
    @apply transform translate-x-full opacity-0;
  }

  & .btn-next {
    @apply opacity-100 pointer-events-auto;
  }
  & .btn-submit,
  & .btn-prev {
    @apply opacity-0 pointer-events-none;
  }
}

.active-fieldset-1 {
  & .fieldset-0 {
    @apply transform -translate-x-full opacity-0;
  }
  & .fieldset-1 {
    @apply transform translate-x-0 opacity-100;
  }
  & .fieldset-2 {
    @apply transform translate-x-full opacity-0;
  }
  & .fieldset-3 {
    @apply transform translate-x-full opacity-0;
  }

  & .btn-next,
  & .btn-prev {
    @apply opacity-100 pointer-events-auto;
  }
  & .btn-submit {
    @apply opacity-0 pointer-events-none;
  }
}

.active-fieldset-2 {
  & .fieldset-0 {
    @apply transform -translate-x-full opacity-0;
  }
  & .fieldset-1 {
    @apply transform -translate-x-full opacity-0;
  }
  & .fieldset-2 {
    @apply transform translate-x-0 opacity-100;
  }
  & .fieldset-3 {
    @apply transform translate-x-full opacity-100;
  }

  /* & .btn-prev */
  & .btn-submit {
    @apply opacity-100 pointer-events-auto;
  }
  & .btn-next {
    @apply opacity-0 pointer-events-none;
  }
}

.active-fieldset-3 {
  & .fieldset-0 {
    @apply transform -translate-x-full opacity-0;
  }
  & .fieldset-1 {
    @apply transform -translate-x-full opacity-0;
  }
  & .fieldset-2 {
    @apply transform -translate-x-full opacity-100;
  }
  & .fieldset-3 {
    @apply transform translate-x-0 opacity-100;
  }

  & .btn-submit,
  & .btn-prev {
    @apply opacity-100 pointer-events-auto;
  }
  & .btn-next {
    @apply opacity-0 pointer-events-none;
  }
}

.all-fieldsets,
.all-buttons {
	border-color: rgba(var(--anthrazit-rgb-base), var(--border-alpha));
}

.btn,
.btn-next,
.btn-prev,
.btn-submit {
  @apply transition-all select-none;
}

/* Do NOT set cursor-pointer, otherwise it cannot be overridden */
.btn {
  @apply flex items-center justify-center;
  @apply rounded;
  @apply select-none;
  @apply transition-all duration-200;
}

.btn-between {
  @apply flex items-center justify-between;
  @apply rounded;
  @apply select-none;
  @apply transition-all duration-200;
}

.btn-simple {
  @apply flex;
  @apply rounded;
  @apply select-none;
  @apply transition-all duration-200;
}

.btn-small {
  @apply px-2 pt-1 pb-0.75 text-sm rounded;
}
.btn-medium {
  @apply px-3 pt-1.5 pb-1.5;
}
.btn-large {
  @apply px-4 pt-2 pb-2;
}

/* .btn-success {
  @apply bg-green-400;
  &:hover {
    @apply bg-green-500;
  }
} */

body.light-mode .btn-green,
body.light-mode .btn-success {
  @apply bg-green-700  text-green-100;
  &:hover {
    @apply text-green-300 bg-green-900;
  }
}

body.dark-mode .btn-green,
body.dark-mode .btn-success {
  @apply bg-green-600 bg-opacity-40 text-green-200;
  &:hover {
    @apply bg-opacity-60 text-green-300;
  }
}

.btn-mute {
  @apply bg-gray-600 bg-opacity-40 text-gray-200;
  &:hover {
    @apply bg-opacity-60 text-gray-300;
  }
}

.btn-error {
  @apply text-red-100 bg-crimson-700;
  &:hover {
    @apply text-white bg-crimson-800
  }
}

.btn-danger,
.btn-warn {
  @apply text-yellow-100 bg-yellow-500;
  &:hover {
    @apply text-white bg-yellow-800
  }
}

.btn-info {
  @apply text-blue-100 bg-blue-500;
  &:hover {
    @apply text-white bg-blue-800
  }
}

.btn-primary {
  @apply bg-crimson-700 text-red-100;
  &:hover {
    @apply bg-crimson-800 text-white;
  }
}

.btn-secondary {
  background-color: rgba(var(--anthrazit-rgb-light), 0.1);
  @apply transition-all duration-200;
  &:hover {
    background-color: rgba(var(--anthrazit-rgb-light), 0.5);
  }
}

.btn-control {
  @apply text-gray-700;
  @apply border border-gray-700 rounded;
  @apply bg-gray-700 bg-opacity-10 px-2 py-1;
  @apply transition-all duration-200;

  &:hover {
    @apply text-gray-200;
    @apply border-gray-500 bg-opacity-20;
  }
}

button[type=submit] {
  @apply flex items-center;
  @apply px-3 py-2 rounded-md;
  @apply cursor-pointer select-none;
  @apply transition-colors duration-300 ease-in-out;
  @apply text-white;
}
button[type=submit]:disabled {
  @apply cursor-not-allowed select-none pointer-events-none;
}
button[type=submit]:not([disabled]) {
  @apply bg-green-400;
}
