.key {
	@apply flex items-center justify-center;
	@apply px-2 py-3;
	@apply rounded;
	@apply font-bold;
}

.key-inline {
	@apply inline-block;
	@apply px-2 py-1 ml-1;
	@apply rounded;
	@apply font-bold;
}

body.light-mode {
	& .key-color-1 {
		@apply bg-red-500 text-red-200;

		&:hover {
			@apply bg-red-800 text-white;
		}
	}

	& .key-color-2 {
		@apply bg-blue-500 text-blue-200 ;

		&:hover {
			@apply bg-blue-800 text-white;
		}
	}

	& .key-color-3 {
		@apply bg-green-500 text-green-200 ;

		&:hover {
			@apply bg-green-800 text-white;
		}
	}

	& .key-color-1,
	& .key-color-2,
	& .key-color-3 {
		@apply transition-all duration-100;
	}
}

body.dark-mode {
	& .key-color-1 {
		@apply bg-red-200 text-red-500;

		&:hover {
			@apply text-red-300;
		}
	}

	& .key-color-2 {
		@apply  bg-blue-200 text-blue-500 ;

		&:hover {
			@apply text-blue-300;
		}
	}

	& .key-color-3 {
		@apply bg-green-200 text-green-500 ;

		&:hover {
			@apply text-green-300;
		}
	}

	& .key-color-1,
	& .key-color-2,
	& .key-color-3 {
		@apply bg-opacity-20;
		@apply transition-all duration-100;
		&:hover {
			@apply bg-opacity-40;
		}
	}
}


.table-border {
	@apply border rounded-md mr-2 mb-8 overflow-hidden;
}

.table-border-cell {
	@apply flex flex-row items-baseline w-full border-b;
}
.table-border-cell:last-child {
	@apply border-none;
}

.key-bordered {
	@apply border rounded-md min-w-12 bg-white;
}