html {
  font-size: var(--root-font-size);
  overscroll-behavior: none;
}

body {
  @apply w-screen h-screen overflow-hidden flex flex-col;
  overscroll-behavior: none;
}

.layout-header,
.layout-footer {
  @apply absolute inset-x-0;
  @apply flex flex-nowrap;
  @apply px-4 py-2;
  @apply opacity-0 overflow-hidden;
  @apply border-gray-700;
}

.layout-header {
  @apply top-0 items-start h-12;
  @apply transform -translate-y-12;
}

main {
  @apply absolute inset-x-0 top-12 bottom-16 flex overflow-hidden;
}

.layout-footer {
  @apply bottom-0 items-center justify-between;
  @apply h-16 w-full;
  @apply transform translate-y-16;
}

body.dark-mode {
  & .layout-header,
  & .layout-footer {
    @apply border-opacity-20;
  }
}


/**
 * SUBPAGE STYLES
 */
body.is-subpage {
  & .layout-header,
  & .layout-footer {
    @apply translate-y-0 opacity-100;
  }
}

/**
 * global wrapper for he content that nuxt exchanges
 */

.nuxt-changed-content-wrapper {
  @apply absolute inset-0;
  @apply flex flex-col items-center justify-center;
  @apply h-full w-full;
  @apply pl-6 overflow-hidden;
}