.underlined,
.main-nav ul,
footer ul,
p {
  & a {
    @apply relative inline-block pb-0.5;
  }

  & a,
  & a:hover {
    text-decoration: none;
  }

  & a,
  & a:before,
  & a:after {
    transition: transform .25s, color .25s;
  }

  & a {
    &:before,
    &:after {
      @apply absolute inset-0;
      content: '';
    }

    &:before {
      border-bottom: 1px solid rgba(75, 85, 99, 0.2);
      transform: scaleX(100%);
      z-index: -1;
    }

    &:after {
      border-bottom: 1px solid rgba(75, 85, 99, 0.65);
      transform: scaleX(0%);
      z-index: 0;
    }
  }

  & a:hover {
    &:before {
      transform: scaleX(0%);
    }
    &:after {
      transform: scaleX(100%);
    }
  }

  & a:hover,
  & a:hover:after {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

p a {
  @apply text-crimson-800;
}

a {
  @apply relative;
  /* transition: color .25s; */
}

a:hover {
  /* color: var(--primary-color); */
}

a:not(.link-not-active).nuxt-link-active {
  color: var(--primary-color);
}


.txt-underlined {
  @apply relative inline-block pb-0.5;
  &:hover {
    text-decoration: none;
  }

  &:before,
  &:after {
    transition: transform .25s, color .25s;
    @apply absolute inset-0;
    content: '';
  }

  &:before {
    border-bottom: 1px solid rgba(75, 85, 99, 0.2);
    transform: scaleX(100%);
    z-index: -1;
  }

  &:after {
    border-bottom: 1px solid rgba(75, 85, 99, 0.65);
    transform: scaleX(0%);
    z-index: 0;
  }

  &:hover {
    &:before {
      transform: scaleX(0%);
    }
    &:after {
      transform: scaleX(100%);
    }
  }

  &:hover,
  &:hover:after {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}