.modal-content p > ul,
.modal-content div > ul,
.modal-content p > ol,
.modal-content div > ol,
.section-content p > ul,
.section-content div > ul,
.section-content p > ol,
.section-content div > ol {
  @apply mt-4;
}

.modal-content ul li,
.section-content ul li {
  @apply list-outside list-disc;
}

.modal-content ul ol > li,
.section-content ul ol > li {
  @apply list-outside list-none;
}

.modal-content li::marker,
.section-content li::marker {
  @apply text-anthrazit-400;
}

.modal-content ul,
.section-content ul {
  @apply mb-8 pl-12 pr-4;
}

.modal-content ul ul,
.section-content ul ul {
  @apply mt-1 mb-4 pl-6 pr-0;
}

.modal-content ol ul,
.section-content ol ul {
  @apply mt-4 mb-6 pl-6 pr-0;
}

.modal-content ol ul > li,
.section-content ol ul > li {
  @apply mb-2;
}

/**
 * Special styled list with large numbers in filled circles
 * Used in modals during the experiment state (e.g.)
 */
.list-with-styled-numbers ol {
  @apply mb-8 pl-16 pr-4 list-none !important;
  counter-reset: styled-numbers;
}

.list-with-styled-numbers ol > li {
  @apply relative mb-4;
  counter-increment: styled-numbers;
}

.list-with-styled-numbers ol > li:before {
  @apply absolute top-0 rounded-full;
  @apply font-bold text-xl text-center leading-7;
  @apply w-7 h-7;
  content: counter(styled-numbers);
  left: -42px;
}

/**
 * List second level
 */
.list-with-styled-numbers ul ol,
.list-with-styled-numbers ol ol {
  @apply mt-6 mb-8 pl-10 pr-0 list-none;
  counter-reset: styled-numbers;
}

.list-with-styled-numbers ul ol {
  @apply mt-4;
}

.list-with-styled-numbers ul ol > li,
.list-with-styled-numbers ol ol > li {
  @apply relative mb-2;
  counter-increment: styled-numbers;
}

.list-with-styled-numbers ul ol > li:before,
.list-with-styled-numbers ol ol > li:before {
  @apply absolute top-0 rounded-full;
  @apply text-base text-center leading-6;
  @apply w-6 h-6;
  content: counter(styled-numbers);
  left: -42px;
}

body.light-mode {
  & .list-with-styled-numbers ol > li:before {
    @apply bg-anthrazit-400 text-gray-200;
  }

  & .list-with-styled-numbers ol > li strong {
    @apply text-crimson-800;
  }

  & .list-with-styled-numbers ul ol > li:before,
  & .list-with-styled-numbers ol ol > li:before {
    @apply bg-anthrazit-400 bg-opacity-10 text-gray-500;
  }

  & .list-with-styled-numbers ul ol > li strong,
  & .list-with-styled-numbers ol ol > li strong {
    @apply text-crimson-800;
  }
}

body.dark-mode {
  & .list-with-styled-numbers ol > li:before {
    @apply bg-gray-700 text-gray-300;
  }

  & .list-with-styled-numbers ol > li strong {
    @apply text-white;
  }

  & .list-with-styled-numbers ol ol > li:before {
    @apply bg-gray-500 text-gray-200;
  }

  & .list-with-styled-numbers ol ol > li strong {
    @apply text-white;
  }
}