nav.navigation {
  @apply flex flex-col relative w-full h-auto;

  & ul li a {
    @apply relative select-none;
    @apply flex flex-row gap-4;
    @apply mb-6 p-0;
    @apply text-lg text-right;

    & .line {
      @apply relative flex flex-grow;
      @apply border-b border-opacity-40 border-gray-300;
      @apply h-px mt-5;

      &:before,
      &:after {
        content: '';
        @apply absolute inset-x-0 bottom-0 -top-0.25;
        @apply ease-out;
        @apply transform scale-x-0 origin-left;
      }

      &:before {
        @apply bg-gray-400;
        @apply z-10 transition-transform duration-300;
      }

      &:after {
        @apply bg-crimson-700 z-20;
        @apply transition-all duration-200;
      }
    }

    &:hover {
      & .line:before {
        @apply scale-x-100 ease-out duration-200;
      }
    }

    &.nuxt-link-exact-active {
      & .line:before {
        @apply scale-x-100;
      }
      & .line:after {
        @apply scale-x-100 ease-out;
      }
    }

  }
}