/**
 * For the design of dark.mode and light-mode see at the botom of the file,
 * where all classes are grouped together.
 */

/*
 * Audio selection list
 */

.audio-file-list-wrapper {
	@apply flex flex-col items-center justify-center;
	@apply max-w-2xl w-full;
}

.audio-file-list-header {
	@apply relative w-full;
	@apply mb-8 ml-0 px-8;
	@apply text-left select-none;

	& h1 {
		@apply text-3xl font-semibold mb-0;
	}
}

.audio-file-list {
	@apply flex flex-row;
	@apply w-full p-8;
	@apply rounded-lg;
}

/**
 * Peaks: Waveform display
 */

section.peaks-section {
	@apply flex flex-col items-start justify-center;
	@apply bg-opacity-0 w-full h-full;
}

.peaks-container-wrapper {
	@apply flex flex-row flex-nowrap justify-between;
	@apply m-0 p-0 w-full;
}

.peaks-container {
	/* @apply block; */
	@apply flex flex-row justify-between;
	@apply mx-0 mt-0 px-0 py-0;
	@apply w-full overflow-hidden;
	@apply transition-all duration-700;
}

.peaks-container-border {
	@apply border rounded-md;
}

.peaks-wrapper {
	@apply absolute inset-0 overflow-hidden;
	@apply flex flex-row h-full w-full;
	@apply pl-4 pr-0
}

.peaks-content {
	@apply flex flex-col items-center justify-center;
	@apply w-full h-full;
	@apply border rounded-md p-6
}

/**
 * -----------------------------------------
 * Waveform Container
 * -----------------------------------------
 */

.waveform-overview { height: 60px; }
.waveform-zoomview { height: 200px; }

.waveform {
	flex: 1 0 auto;
	overflow: hidden;
}

/* .todo-controls {
	@apply absolute bottom-1 inset-x-6;
	@apply flex flex-row flex-nowrap justify-between;
} */

/* amplitude-controls display buttons vertically in a column */
.amplitude-controls {
	@apply flex flex-col flex-nowrap;
	@apply w-8 h-full justify-between select-none;
	@apply transition-all duration-200;
}

.toggle-buttons {
	@apply flex flex-row flex-nowrap gap-1 justify-between;
	@apply select-none w-full;
}

/**
 * -----------------------------------------
 * Media Player Controls
 * -----------------------------------------
 */

.player-controls {
	@apply flex items-center justify-start gap-1 select-none;
}

.volume-level-bar-audio-track {
	@apply absolute inset-y-0 left-0 z-10;
	@apply transition-all duration-25 ease-in pointer-events-none;
	@apply w-full origin-top-left;
	transform: scaleX(var(--audio-track-volume-bar-scale-x));
}
.volume-level-bar-click-track {
	@apply absolute inset-y-0 left-0 z-10;
	@apply transition-all duration-25 ease-in pointer-events-none;
	@apply w-full origin-top-left;
	transform: scaleX(var(--click-track-volume-bar-scale-x));
}
.volume-number {
	@apply absolute inset-0 z-20;
	@apply flex items-center justify-between;
	@apply w-full px-1;
	@apply text-xs;
	@apply select-none pointer-events-none;
}
.volume-bar {
	@apply block relative w-40 h-5;
	@apply border rounded-sm overflow-hidden;
}
.volume-bg {
	@apply absolute inset-0 rounded;
	@apply select-none z-0 pointer-events-auto;
}

.btn-mediaplayer,
.btn-zoom-control,
.btn-zoom-control-active {
	@apply flex items-center justify-center;
	@apply w-8 h-8 border rounded-sm;
	@apply border cursor-pointer;
	@apply transition-all duration-200 ease-linear;

	&:after { @apply m-3; }
	&:active,
	&:focus {
		@apply outline-none border-0;
		@apply ring-1 ring-crimson-800 ring-offset-2 ring-opacity-50 ring-offset-transparent;
	}
}

.btn-zoom-control-active {
	@apply outline-none border-0;
	@apply ring-1 ring-crimson-800 ring-offset-2 ring-opacity-50 ring-offset-transparent;
	@apply bg-crimson-800 bg-opacity-30;
}

/**
 * Range Sliders
 * For color definitions look for the light-mode / dark-mode section
 */

input[type="range"] {
	/* appearance-none hides the slider so that custom slider can be made */
	/* w-full specific width is required for Firefox. */
	/* bg transparent required by Chrome, otherwise white */
	/* @apply appearance-none  bg-transparent; */
	@apply w-full relative;
}
input[type="range"]:focus {
	@apply outline-none;
}
input[type="range"][orient="vertical"] {
	-webkit-appearance: slider-vertical;
	height: calc(100% - 5rem);
	/*
	transform-origin: top left;
	transform: rotate(-90deg) translateX(-100px) translateY(12px);
	width: 192px;
	*/
}
input[type="range"][orient="horizontal"] {
	width: 176px !important;
}
/*
input[type="range"]::-webkit-slider-thumb {
	@apply appearance-none cursor-pointer;
	@apply rounded-sm h-6 w-1;
}
*/
input[type="range"][orient="horizontal"]::-webkit-slider-thumb {
	/* Chrome requires margin, Firefox and IE don't */
	/* margin-top: -0.1rem; */
}
input[type="range"][orient="vertical"]::-webkit-slider-thumb {
	-webkit-appearance: sliderthumb-vertical;
}
input[type="range"]::-webkit-slider-runnable-track {
	@apply transition-all duration-200;
}

/**
 * -----------------------------------------
 * Waveform Control Buttons
 * -----------------------------------------
 */

.view-controls {
  @apply relative w-full mb-1;
  @apply flex items-center justify-end gap-x-1;
}

.btn-view-toggle {
	@apply border rounded-sm p-1;
	@apply transition-all duration-200 ease-linear;
}

/**
 * -----------------------------------------
 * Dark-, Light mode
 * -----------------------------------------
 */

body.dark-mode {
	& .audio-file-list {
		@apply bg-anthrazit-400 bg-opacity-20;
	}
	& .peaks-container-border {
		@apply border-gray-700;
	}
	& .peaks-content {
		@apply border-gray-800 border-opacity-50;
	}

	/**
	 * Media Player Controls: buttons and sliders
	 */

	& .volume-level-bar-click-track,
	& .volume-level-bar-audio-track {
		@apply bg-gray-700;
	}
	& .volume-number {
		@apply text-anthrazit-300;
	}
	& .volume-bar {
		@apply border-gray-700;
	}
	& .volume-bg {
		@apply bg-gray-800;
	}
	& .btn-mediaplayer,
	& .btn-zoom-control {
		@apply border-gray-700;
		&:hover {
			@apply bg-gray-800;
		}
	}

	& input[type="range"]::-webkit-slider-thumb {
		@apply bg-gray-200;
	}
	& input[type="range"]::-webkit-slider-runnable-track {
		@apply border-gray-700 bg-gray-700;
	}
	& input[type="range"]:focus {
		&::-webkit-slider-runnable-track {
			@apply bg-gray-800;
		}
	}

	& .btn-view-toggle {
		@apply text-gray-800 ;
		@apply border-gray-400 border-opacity-70;
		@apply bg-gray-100 bg-opacity-0;
		&:hover {
			@apply bg-opacity-100;
		}
	}
}

body.light-mode {
	& .audio-file-list {
		@apply bg-anthrazit-400 bg-opacity-5;
	}

	& .peaks-container-border {
		@apply border-gray-400 border-opacity-50;
	}
	& .peaks-content {
		@apply border-gray-300 border-opacity-50;
	}

	/**
	 * Media Player Controls
	 */
	& .volume-level-bar-click-track,
	& .volume-level-bar-audio-track {
		@apply bg-gray-300;
	}
	& .volume-number {
		@apply text-anthrazit-500;
	}
	& .volume-bar {
		@apply border-gray-300 border-opacity-70;
	}
	& .volume-bg {
		@apply bg-gray-100;
	}
	& .btn-mediaplayer,
	& .btn-zoom-control {
		@apply border-gray-300 border-opacity-70;
		&:hover {
			@apply bg-gray-100 border-opacity-90;
		}
	}

	/**
	 * Range Slider
	 */
	& input[type="range"]::-webkit-slider-runnable-track {
		/* @apply border-gray-400 border-opacity-50; */
		@apply bg-gray-300 border-opacity-100 rounded-sm;
	}
	& input[type="range"]:focus::-webkit-slider-runnable-track {
		/* @apply bg-gray-300 border-opacity-100; */
	}

	& input[type="range"]::-webkit-slider-thumb {
		@apply bg-green-500;
		filter: brightness(0.25) opacity(0.5);
		clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
		transform: rotate(45deg);
	}

	& .btn-view-toggle {
		@apply text-gray-900;
		@apply border-gray-400 border-opacity-50;
		@apply bg-gray-100 bg-opacity-0;
		&:hover {
			@apply bg-opacity-100;
		}
	}
}


.click-track-cover {
	@apply flex items-center;
	@apply overflow-hidden w-full p-0;
	@apply transition-all duration-100;
	@apply opacity-0;

	&.reveal {
		@apply opacity-100;
	}
}