html {
  scrollbar-color: rgba(var(--anthrazit-rgb-default),.2) rgba(0,0,0,0);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 7px;
    /* for the horizontal version */
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(53,53,53,.2);
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html .dark-mode {
    scrollbar-color: rgba(var(--anthrazit-rgb-light),.2) transparent;
}
body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--anthrazit-rgb-light),.2);
}