/**
 * Tile: Used in e.g. waveformHeader.vue to put a border around the info blocks.
 */

.tile {
  @apply flex items-center justify-center;
  @apply relative h-full p-1;
  @apply border rounded select-none;
}

.tile-headline {
  @apply top-0 left-0;
  @apply border-r border-b rounded-br-sm rounded-tl;
}

.tile-label {
  @apply w-3/4 truncate px-1 py-0.5 mr-1 rounded-sm;
}

.tile-footer {
  @apply bottom-0 right-0;
  @apply border-l border-t rounded-tl-sm rounded-br;
}

.tile-footer-restored {
  @apply bottom-0 left-0;
  @apply border-r border-t rounded-tr-sm rounded-bl;
  @apply text-gray-300;
}

.tile-headline,
.tile-footer,
.tile-footer-restored {
  @apply absolute;
  @apply text-2xs uppercase tracking-wider;
  @apply px-1 pt-0.5 pb-0.5;
}


body.light-mode {
  & .tile,
  & .tile-headline,
  & .tile-footer {
    @apply border-gray-400 border-opacity-80;
  }
  & .tile-headline,
  & .tile-footer {
    @apply bg-gray-400 bg-opacity-20 text-gray-700;
  }
  & .tile-label {
    @apply bg-gray-400 bg-opacity-20;
  }

  & .positive {
    @apply text-green-700;
    & .tile-label {
      @apply bg-green-100 bg-opacity-80;
    }
  }
  & .warning {
    @apply text-yellow-600;
    & .tile-label {
      @apply bg-yellow-200 bg-opacity-80;
    }
  }
  & .error,
  & .negative {
    @apply text-crimson-700;
    & .tile-label {
      @apply bg-crimson-300 bg-opacity-30;
    }
  }
}

body.dark-mode {
  & .tile,
  & .tile-headline,
  & .tile-footer {
    @apply border-gray-700 border-opacity-50;
  }
  & .tile-headline,
  & .tile-footer {
    @apply bg-gray-700 bg-opacity-30 text-gray-300;
  }
  & .tile-label {
    @apply bg-gray-700 bg-opacity-20;
  }

  & .positive {
    @apply text-green-700;
    & .tile-label {
      @apply bg-green-100 bg-opacity-80;
    }
  }
  & .warning {
    @apply text-yellow-600;
    & .tile-label {
      @apply bg-yellow-200 bg-opacity-80;
    }
  }
  & .negative {
    @apply text-crimson-700;
    & .tile-label {
      @apply bg-crimson-300 bg-opacity-30;
    }
  }
}