.header-topic-art {
  @apply block absolute bottom-0 right-0 select-none;
}

body.light-mode {
  & .header-topic-art h1 {
    filter: drop-shadow(0 0 6px rgba(0, 250, 0, 0.71))
      drop-shadow(0 0 4px rgba(0, 0, 250, 0.85));
    color: rgba(var(--anthrazit-rgb-lightest), 1);
    transition: filter .3s;
  }
}

body.dark-mode {
  & .header-topic-art h1 {
    filter: drop-shadow(0 0 6px rgba(255, 70, 110, 0.71))
      drop-shadow(0 0 4px rgba(195,10,50, 0.85));
    color: rgba(var(--anthrazit-rgb-dark), 1);
  }
}