/* ot on Google fonts, so import it from local */
@font-face {
  font-family: 'Dreamscape';
  src: url('~assets/fonts/dreamscape/Dreamscape.woff2') format('woff2'),
      url('~assets/fonts/dreamscape/Dreamscape.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 560px) and (min-height: 340px) and (-webkit-device-pixel-ratio: 1.75) {
  :root {
    --rootFontSize: 12px;
  }
}

@media (min-width: 880px) and (min-height: 480px) and (-webkit-device-pixel-ratio: 1.5) {
  :root {
    --rootFontSize: 11px;
  }
}

@media (min-width: 960px) and (min-height: 600px) and (-webkit-device-pixel-ratio: 1.25) {
  :root {
    --rootFontSize: 10px;
  }
}

@media (-webkit-device-pixel-ratio: 3) {
  .css-pixel-ratio-text:before {
    content: '3'
  }
}

@media (-webkit-device-pixel-ratio: 2.5) {
  .css-pixel-ratio-text:before {
    content: '2.5'
  }
}

@media (-webkit-device-pixel-ratio: 2) {
  .css-pixel-ratio-text:before {
    content: '2'
  }
}

@media (-webkit-device-pixel-ratio: 1.75) {
  .css-pixel-ratio-text:before {
    content: '1.75'
  }
}

@media (min-width: 880px) and (min-height: 480px) and (-webkit-device-pixel-ratio: 1.5) {
  .css-pixel-ratio-text:before {
    content: '1.5'
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .css-pixel-ratio-text:before {
    content: '1.25'
  }
}

@media (-webkit-device-pixel-ratio: 1) {
  .css-pixel-ratio-text:before {
    content: '1'
  }
}

body {
  text-rendering: auto;
  /* font-family: 'Rajdhani', sans-serif; */
  /* font-family: 'Codystar', sans-serif; */
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
}

body.dark-mode {
  background: rgba(var(--anthrazit-rgb-dark), 1);
  color: rgba(var(--anthrazit-rgb-lightest), 1);
}

body.light-mode {
  background: white;
  color: var(--anthrazit-base2);
}

h1 {
  font-weight: 700;
}

h2, h3 {
  font-weight: 600;
}

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-xl mt-6;
}

h1 + div,
h2 + div,
h1 + p,
h2 + p {
  @apply mt-6;
}

p + h1,
p + h2 {
  @apply mt-12;
}

p {
  @apply mb-2;
}

.no-text-decoration,
.no-text-decoration:hover,
.no-text-decoration:focus {
  text-decoration: none;
}

.text-color-primary {
  color: var(--primary-color);
}
