/* Styles valid for all modals */

.modal-container {
	@apply flex items-center justify-center;
}

.modal__title {
	@apply text-xl font-bold my-3;
	/* @apply font-dreamscape; */
}

.modal__action {
	@apply flex flex-col flex-nowrap flex-shrink-0 items-center justify-center;
	@apply pt-4 mt-4;
	@apply border-t border-gray-200;
}

.modal-content,
.modal-content-full {
	@apply flex flex-col flex-nowrap;
	@apply relative overflow-hidden;
  @apply max-w-4xl min-w-4xl max-h-90perc mx-8 p-4;
	@apply border rounded-lg;
	transition: max-height .3s, height .3s;
	transition-delay: .3s;

	& header {
		@apply border-b;
	}
}

.modal-content-full {
	@apply min-w-5xl max-w-6xl;
  /* width: 90%!important; */
  /* min-width: 90%!important; */
  max-height: 90%!important;
  min-height: 90%!important;

  transition: max-height .3s, height .3s;
  transition-delay: .3s;
}

.light-mode {
	& .modal_container {
		@apply bg-gray-400 bg-opacity-90;
	}
	& .modal-content {
		@apply border-anthrazit-600 border-opacity-30;
		@apply bg-white;
		& header {
			@apply border-gray-600 border-opacity-20;
		}
	}
}

.dark-mode {
	& .modal_container {
		@apply bg-anthrazit-701 bg-opacity-80;
	}
	& .modal-content {
		@apply bg-anthrazit-601 bg-opacity-80;
		@apply border-anthrazit-600 border-opacity-80;
		& header {
			@apply border-anthrazit-601 border-opacity-20;
		}
	}
}

:root {
  --modal-opacity: 1;
}

.modal-opacity {
  opacity: var(--modal-opacity);
  /* transition: opacity 300ms linear; */
}

.modal__subtitle input[type="range"] {
  @apply w-24 rounded-sm;
}

.modal__subtitle input#audioOffsetSlider[type="range"] {
  @apply w-full rounded-sm;
}

.deleted {
  filter: blur(5px) grayscale(100) opacity(0.35);
  pointer-events: none;
  user-select: none;
  transition: filter 200ms linear;
}

.not-deleted {
  transition: filter 200ms linear;
}