.vue-simple-context-menu {
  @apply hidden absolute top-0 left-0;
  @apply w-36 max-w-xs m-0 p-1;
  @apply border-none rounded shadow;
  @apply bg-gray-300 text-gray-900 bg-opacity-90;
  @apply list-none select-none;
  z-index: 1000000;
  transform: translate(-16px, -28px);
}

.vue-simple-context-menu--active {
  display: block;
}

.vue-simple-context-menu__item {
  @apply flex items-center;
  @apply p-1 rounded;
  /* @apply cursor-pointer text-gray-900 text-sm select-none */
  @apply bg-opacity-75;
  @apply transition-colors;

  &:hover {
    @apply bg-gray-600 text-gray-100;
  }
}

.vue-simple-context-menu__divider {
  @apply bg-gray-400 pointer-events-none;
  box-sizing: content-box;
  background-clip: content-box;
  height: 1px;
  padding: 4px 0;
}

.cursor-is-not-allowed,
.cursor-is-not-allowed span {
  cursor: not-allowed !important;
  &:hover {
  cursor: not-allowed !important;
  }
}