<template>
	<div class="absolute inset-0">
		<div class="absolute p-12 flex top-0 right-12 bottom-0 left-0">
			<SvgSymbols />

			<header class="layout-header">
				<Logo :settings="getSettings" :version="version" />
			</header>

			<main>
				<Nuxt />
			</main>

			<footer class="layout-footer">
				<FooterLeft
					:settings="getSettings"
					:loading-settings="loadingSettingsFromServer"
					:deleting-registration="deletingRegistration"
					:version="version"
					:device-pixel-ratio="devicePixelRatio"
				/>
				<FooterMenu />
			</footer>
		</div>

		<div class="sidebar">
			<SidebarMenu />
		</div>

		<BlueScreen />

		<modals-container></modals-container>
	</div>
</template>

<script>
import Vue from 'vue'
// eslint-disable-next-line
import VueSimpleContextMenu from "vue-simple-context-menu";
import { version } from '../package.json';
// eslint-disable-next-line
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'

// Other Components:
import BlueScreen from '@/components/BlueScreen.vue'
import SvgSymbols from '@/components/SvgSymbols.vue'
import Logo from '@/components/Logo.vue'
import FooterMenu from '@/components/FooterMenu.vue'
import SidebarMenu from '@/components/SidebarMenu.vue'
import FooterLeft from '@/components/FooterLeft.vue'

// MAIN MODALS
import ContentModal from '@/components/modals/InfoModals/ContentModal.vue'
import InfoModal from '@/components/modals/InfoModals/InfoModal.vue'
import FeedbackModal from '@/components/modals/InfoModals/FeedbackModal.vue'
// RE-REGISTER
import ReRegisterModal from '@/components/modals/InfoModals/ReRegisterModal.vue'
// Explanations
import DescriptorsListModal from '@/components/modals/Explanations/DescriptorsListModal.vue'
import KeyboardUsageModal from '@/components/modals/Explanations/KeyboardUsageModal.vue'
import VideoModal from '@/components/modals/Explanations/VideoModal.vue'
import VideoModalStandalone from '@/components/modals/Explanations/VideoModalStandalone.vue'
// Pilot
import PilotSubmitCodeModal from '@/components/modals/Pilot/PilotSubmitCodeModal.vue'
// Experiment / Playground
import AnalysisCompleteModal from '@/components/modals/AnalysisCompleteModal.vue'
import DescriptorsModal from '@/components/modals/DescriptorsModal.vue'
import ExperimentStepOneWithPreloaderModal from '@/components/modals/ExperimentStepOneWithPreloaderModal.vue'
// Submit message
import MessageModal from '@/components/modals/MessageModal'

Vue.component("VueSimpleContextMenu", VueSimpleContextMenu);

Vue.component('ContentModal', ContentModal)
Vue.component('InfoModal', InfoModal)
Vue.component('FeedbackModal', FeedbackModal)

Vue.component('ReRegisterModal', ReRegisterModal)

Vue.component('DescriptorsListModal', DescriptorsListModal)
Vue.component('KeyboardUsageModal', KeyboardUsageModal)
Vue.component('VideoModal', VideoModal)
Vue.component('VideoModalStandalone', VideoModalStandalone)

Vue.component('PilotSubmitCodeModal', PilotSubmitCodeModal)

Vue.component('AnalysisCompleteModal', AnalysisCompleteModal)
Vue.component('DescriptorsModal', DescriptorsModal)
Vue.component('ExperimentStepOneWithPreloaderModal', ExperimentStepOneWithPreloaderModal)

Vue.component('MessageModal', MessageModal)

// Pixel density
const scale = 5 / window.devicePixelRatio

// Colors for the console
const consCol = 'color:indigo'
const consColWarn = 'color:crimson'

/**
 * Window Close Protection
 * info, when window.close() is called, since the experiment is ongoing
 */
window.addEventListener('beforeunload', function (e) {
	// Cancel the event (Preventing default behavior in Firefoxalways shows prompt)
	e.preventDefault();
	// Chrome requires returnValue to be set
	e.returnValue = '';
	// Further actions can be set here
});

export default {
	components: {
		BlueScreen,
		SvgSymbols,
		Logo,
		SidebarMenu,
		FooterLeft,
		FooterMenu,
	},

	transition: {
		name: 'fadescale',
		appear: true,
	},

	data: () => ({
		loadingSettingsFromServer: false,
		deletingRegistration: false,
		version,
		devicePixelRatio: 0,
		developmentStatus: false,
		isExperiment: false
	}),

	computed: {
		...mapGetters('status', ['getSettings']),
	},

	watch: {
		$route(newVal) {
			// Always check, if we are on the start- or a sub-page
			this.checkIfSubpage(newVal.fullPath)

			// Hide all modals (see also middleware/closeModals.js, which is not in use)
			this.$vfm.hideAll()
		},
	},

	/**
	 * Use beforeMount for things that have to be done before any other
	 * component is activated (their "mounted()" method executes earlier then
	 * this LAYOUT "mounted()" method)
	 */
	async beforeMount() {
		console.group('%cDEFAULT beforeMount() invoked', consCol)
		this.devicePixelRatio = window.devicePixelRatio

		// Get the latest settings (important for "phase" of app) and also texts
		await this.refreshSettings();

		// Are we on a sub page or not?
		this.checkIfSubpage(this.$nuxt.$route.fullPath)

		try {
			const currentStatusData = await db.status.toArray()
			console.log('currentStatusData =', currentStatusData);

			// Set light mode
			document.body.classList.add('light-mode')

			// Set initial font size
			this.rootFontSize = currentStatusData[0].rootFontSize
			this.$store.commit('status/updateRootFontSize', currentStatusData[0].rootFontSize)

			// Set development mode
			this.developmentStatus = currentStatusData[0].settings.development
			this.$store.commit('status/updateDevelopment', currentStatusData[0].settings.development)

			// Set initial audio values (important for esp. autosave function, which
			// needs a clickTrackVolume that is otherwise not available)
			this.$store.commit('status/setAudioTrackVolume', 0.35)
			this.$store.commit('status/setClickTrackVolume', 0.35)
		}
		catch (error) {
			throw new Error('An error in default.vue happened: IndexedDB / dexie not defined. Error =', error)
		}
		finally {
			console.groupEnd()
		}
	},

	/**
	 * Nuxt's Event Bus system:
	 *
	 * These listeners must be turned off in 'beforeDestroy'
	 * @src https://aneesshameed.medium.com/event-bus-in-nuxt-7728315e81b6
	 */
	mounted() {
		// Button listener functions
		this.$nuxt.$on('refreshSettings', () => this.refreshSettings())
		this.$nuxt.$on('deleteRegistrationData', () => this.deleteRegistrationData())

		// Modals
		this.$nuxt.$on('showInfoModal', params => this.openModal('InfoModal', params))
		this.$nuxt.$on('showContentModal', params => this.openModal('ContentModal', params))
		this.$nuxt.$on('showFeedbackModal', params => this.openModal('FeedbackModal', params))

		this.$nuxt.$on('showReRegisterModal', params => this.openModal('ReRegisterModal', params))

		this.$nuxt.$on('showModalForVideo', () => this.openModal('VideoModal'))
		this.$nuxt.$on('showModalForVideoStandalone', () => this.openModal('VideoModalStandalone'))
		this.$nuxt.$on('showModalForKeyboardUsage', () => this.openModal('KeyboardUsageModal'))
		this.$nuxt.$on('showModalForDescriptorsList', () => this.openModal('DescriptorsListModal'))

		this.$nuxt.$on('showModalForPilotSubmitCode', params => this.openModal('PilotSubmitCodeModal', params))

		this.$nuxt.$on('showModalForAnalysisComplete', params => this.openModal('AnalysisCompleteModal', params))
		this.$nuxt.$on('showModalForExperimentStepOneWithPreloader', () => this.openModal('ExperimentStepOneWithPreloaderModal'))

		this.$nuxt.$on('showModalForDescriptors', point => this.openModal('DescriptorsModal', point))

		this.$nuxt.$on('showModalForMessage', params => this.openModal('MessageModal', params))

		// this.$nuxt.$on('peaksRightClick', event => this.showContextMenu(event))

		// Signal that page is loaded by ading a class to the body tag
		document.body.classList.add('is-loaded')
	},

	/**
	 * Remove Nuxt Bus Listeners
	 *
	 * Since this is the layout file which is present all the time, un-registering
	 * listeners will probably never happen.
	 */
	beforeDestroy() {
		this.$nuxt.$off('showInfoModal')
		this.$nuxt.$off('showContentModal')
		this.$nuxt.$off('showFeedbackModal')

		this.$nuxt.$off('showReRegisterModal')

		this.$nuxt.$off('showModalForVideo')
		this.$nuxt.$off('showModalForVideoStandalone')
		this.$nuxt.$off('showModalForKeyboardUsage')

		this.$nuxt.$off('showModalForPilotSubmitCode')

		this.$nuxt.$off('showModalForAnalysisComplete')
		this.$nuxt.$off('showModalForExperimentStepOneWithPreloader')

		this.$nuxt.$off('showModalForDescriptors')
		this.$nuxt.$off('showModalForMessage')
	},

	methods: {
		/**
		 * Open a modal
		 *
		 * @param {Object} component   The component used for the modal
		 * @param {Object} params      Some parameters (like header, body...)
		 */
		openModal(component, params = {}) {
			this.$vfm.show({
				component
			}, {
				...params
			})
		},

		/**
		 * Check, if the app is on a subpage. If so, add classes to body
		 *
		 * @param {String} routeFullPath
		 */
		checkIfSubpage(routeFullPath) {
			if (routeFullPath !== '/') {
				if (!document.body.classList.contains('is-subpage')) {
					document.body.classList.add('is-subpage')
				}
			}
			else {
				document.body.classList.remove('is-subpage')
			}

			this.$nextTick(() => {
				this.setPlaygroundOrExperimentLinkToActive()
			})
		},

		/**
		 * Set menu item to active.
		 *
		 * The route "peaks" is not a separate nav item, instead it is the waveform
		 * that is reached from either playground or pilot. Therefore either of
		 * those menu items must be set to active "artifically", since Vue's router
		 * cannot do that.
		 */
		async setPlaygroundOrExperimentLinkToActive() {
			const status = await db.status.get(0)
			this.isExperiment = status.isExperiment
			const playgroundEl = document.querySelector('footer ul a[href="/playground"]')
			const phase = this.getSettings.phase

			if (phase !== undefined) {
				const phaseEl = document.querySelector(`footer ul a[href="/${phase.toLowerCase()}"]`)

				if ((this.$route.path === '/peaks' && this.isExperiment) || this.$route.path === '/pilot' || this.$route.path === '/experiment') {
					if (!phaseEl.classList.contains('nuxt-link-exact-active')) {
						phaseEl.classList.add('nuxt-link-exact-active', 'nuxt-link-active')
					}
					if (playgroundEl.classList.contains('nuxt-link-exact-active')) {
						playgroundEl.classList.remove('nuxt-link-exact-active', 'nuxt-link-active')
					}
				}
				else if ((this.$route.path === '/peaks' && !this.isExperiment) || this.$route.path === '/playground') {
					if (!playgroundEl.classList.contains('nuxt-link-exact-active')) {
						playgroundEl.classList.add('nuxt-link-exact-active', 'nuxt-link-active')
					}
					if (phaseEl.classList.contains('nuxt-link-exact-active')) {
						phaseEl.classList.remove('nuxt-link-exact-active', 'nuxt-link-active')
					}
				}
				else {
					if (phaseEl.classList.contains('nuxt-link-exact-active')) {
						phaseEl.classList.remove('nuxt-link-exact-active', 'nuxt-link-active')
					}

					if (playgroundEl.classList.contains('nuxt-link-exact-active')) {
						playgroundEl.classList.remove('nuxt-link-exact-active', 'nuxt-link-active')
					}
				}
			}
		},

		/**
		 * Load descriptors into indexedDB
		 */
		async getDescriptors() {
			if (db.descriptors) {
				const descriptors = await this.$axios.get('/descriptors')
				await db.descriptors.bulkPut(descriptors.data.name)

				const texts = [
					{ id: 1, description_for_adding_optional_free_text: descriptors.data.description_for_adding_optional_free_text },
					{ id: 2, description_for_descriptor_selection: descriptors.data.description_for_descriptor_selection },
					{ id: 3, description_for_marker_options: descriptors.data.description_for_marker_options },
					{ id: 4, description_for_optional_free_text_option: descriptors.data.description_for_optional_free_text_option },
					{ id: 5, description_for_selecting_descriptors: descriptors.data.description_for_selecting_descriptors },
					{ id: 6, descrition_for_marker_placement_reason_text: descriptors.data.descrition_for_marker_placement_reason_text }
				]
				await db.descriptor_texts.bulkPut(texts)
				await db.descriptor_placement_options.bulkPut(descriptors.data.options_for_marker_placement)
			}
		},

		/**
		 * Load certain texts into indexedDB (modals, contents, ...)
		 *
		 * Update this if a new strapi content type and therefore a new indexedDB
		 * table is added
		 */
		async getTexts() {
			if (db.contents) {
				const contentsTxts = await this.$axios.get('/contents')
				await db.contents.bulkPut(contentsTxts.data)
			}
			if (db.modals) {
				const modalsTxts = await this.$axios.get('/lightboxes')
				await db.modals.bulkPut(modalsTxts.data)
			}
		},

		/**
		 * Since we save all data to indexedDB, we do not automatically receive
		 * changes of the app settings from the server. Therefore we must manually
		 * trigger an update/refresh
		 * Called from components/footerLeft.vue
		 */
		async refreshSettings() {
			console.group('%cDEFAULT refreshSettings invoked', consCol)

			this.loadingSettingsFromServer = true

			// Save app settings to vuex store, which in turn saves the data to indexeddb
			try {
				const settingsFromServer = await this.$axios.get('/application-settings')
				const settingsSaved = await this.$store.dispatch('status/setSettings', settingsFromServer.data)
				// console.log('settingsSaved =', settingsSaved); // always returns undefined
			}
			catch (error) {
				console.error('An error happened in default.vue, when trying to load the application settings from the server. Error =', error)
			}
			finally {
				console.log('refreshSettings (try-catch-)finally.')
			}

			// Also, getTexts and getDescriptors again
			await this.getTexts()
			await this.getDescriptors()

			this.loadingSettingsFromServer = false

			console.groupEnd()
		},

		/**
		 * Delete registration data, intended only for development
		 * Called from components/footerLeft.vue
		 */
		async deleteRegistrationData() {
			this.deletingRegistration = true
			const query = await db.registrationData.clear()
			this.deletingRegistration = false
		}
	},
}
</script>