<template>
  <div class="[ nuxt-changed-content-wrapper ] text-gray-600">
    <div v-if="isLoading">Loading...</div>

    <div v-if="!isLoading && settings !== null && tbl !== null"
      class="[ audio-file-list-wrapper ] max-h-full overflow-x-hidden overflow-y-scroll">
      <h1 class="text-2xl mb-6">Deleting {{ capitalize(settings.comingFrom) }} Snapshot:</h1>

      <ul v-if="settings.settings.development">
        <li>
          <span class="w-12 text-right mr-4">comingFrom</span>
          {{ settings.comingFrom }}
        </li>
        <li>
          <span class="w-12 text-right mr-4">isExperiment</span>
          {{ settings.isExperiment }}
        </li>
        <li>
          <span class="w-12 text-right mr-4">tbl</span>
          {{ tbl }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie'

const consCol = 'color:BurlyWood'
const consColWarn = 'color:crimson'

export default {
  data: () => ({
    isLoading: false,
    settings: null,
    isDeleting: false,
    tbl: null
  }),
  async mounted() {
    console.log(' ');
    console.log('********');
    console.group('%cDELETE SNAPSHOT mounted() invoked', consCol)

    this.isLoading = true

    const settings = await db.status.get(0)
    console.log('settings =', settings);

    this.settings = settings
    console.log('this.settings =', this.settings);

    this.tbl = `snapshot_${this.settings.comingFrom}`
    console.log('this.tbl =', this.tbl);

    this.isLoading = false

    console.groupEnd()
    console.log('********');
    console.log(' ');

    this.deleteTaskSnapshot()
  },
  methods: {
    async deleteTaskSnapshot() {
      console.log(' ');
      console.log('********');
      console.group('%cDELETE SNAPSHOT deleteTaskSnapshot() invoked', consCol)

      this.isDeleting = true

      try {
        // Dexie's "delete" always resolves successfully with "undefined"
        await db[this.tbl].delete(0)

        // Set VueX's 'status/setSnapshotDetected' to false
        this.$store.commit(`status/setSnapshot${this.capitalize(this.settings.comingFrom)}Detected`, false)

        // Redirect only, when delete was successful
        this.$nextTick(() => {
          setTimeout(() => {
            this.redirect()
          }, 500)
        })
      }
      catch (error) {
        console.error(`error deleting snapshot${this.capitalize(this.settings.comingFrom)}: error = ${error}`)
      }
      finally {
        console.log(`deleteSnapshot${this.capitalize(this.settings.comingFrom)} finished`);

        this.isDeleting = false

        console.groupEnd()
        console.log('********');
        console.log(' ');
      }
    },

    redirect() {
      console.log('redirect this.comingFrom =', this.comingFrom);
      this.$router.push(`/${this.settings.comingFrom}`)
    },

    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  }
}
</script>