<template>
  <div class="flex flex-col w-full h-full m-12 border rounded p-12">
    <h1>Environment</h1>

    <ul>
      <li>config: {{ $config }}</li>
      <li>baseURL: {{ $config.baseURL }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log('Environment: process.env.NODE_ENV =', process.env.NODE_ENV);
  }
}
</script>