<template>
	<div
		class="absolute inset-0 flex flex-col items-center justify-center h-full w-full pl-6 overflow-hidden"
	>
		<div class="flex flex-col max-w-2xl w-full">
			<header class="relative w-full mb-12 ml-0 text-left select-none">
				<h1 class="text-3xl font-semibold font-dreamscape mb-0">Thank you!</h1>
			</header>

			<p class="mb-8" v-html="thankYouTxt1"></p>

			<p>
				We can keep you informed about the results of this experiment and outcomes of our research project; if you would like to receive e-mailed information (no more than four e-mails per year), please send an e-mail to
				<a
					href="mailto:team@points-of-discontinuity.at"
					class="txt-underlined"
				>team@points-of-discontinuity.at</a> with
				<em class="text-gray-500">subscribe</em> in the subject line.
			</p>
		</div>

		<Topic header="Thank you!"></Topic>
	</div>
</template>

<script>
import Topic from '@/components/Topic'

export default {
	components: { Topic },
	data: () => ({
		thankYouTxt1: 'Thank you for taking part in the <strong>PoD Experiment on Listening to Post-tonal Music</strong>!'
	}),
	mounted() { },
	methods: {}
}

</script>