<template>
  <div class="[ nuxt-changed-content-wrapper ]">
    <div v-if="isLoading">Loading...</div>

    <div v-if="!isLoading && audioFileList.length > 0" class="[ audio-file-list-wrapper ]">
      <h1>Experiment</h1>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import registrationCheck from '@/mixins/registrationCheck'

export default {
  name: 'Experiment',
  mixins: [
    registrationCheck
  ],
  data: () => ({
    isLoading: false,
    audioFileList: []
  }),
  computed: {
    ...mapGetters('status', ['getSettings'])
  },
  watch: {
    /**
     * If registered is switched to true on mounted(), initiate the respective
     * app phase (see "regitration-check" mixin for script snippets)
     */
    registered(newVal) {
      if (newVal) {
        // check for PILOT or EXPERIMENT
        // this.checkProjectPhase()
      }
    }
  },
  methods: {
    checkProjectPhase() {
      switch (this.getSettings.phase) {
        case 'PILOT': {
          this.initiatePilotPhase()
          break
        }

        case 'EXPERIMENT': {
          this.initiateExperimentPhase()
          break
        }

        default:
          this.initiateTestPhase()
      }
    },

    initiateTestPhase() {
      console.log('Initiate Test phase');
    },

    initiatePilotPhase() {
      console.log('Initiate Pilot phase');
      $nuxt.$emit('showModalForPilotSubmitCode', { id: this.participantId })
    },

    initiateExperimentPhase() {
      console.log('Initiate Experiment phase');
    }
  },
}
</script>