<template>
  <div class="absolute inset-0 flex flex-row justify-center items-center">
    <div v-if="isLoading" class="ph-wrapper">
      <Preloader />
    </div>

    <div v-else class="ph-wrapper">
      <header>
        <h1 v-if="data.header" class="font-dreamscape text-6xl text-center">{{ data.header }}</h1>
        <h2 v-if="data.subheader" class="text-lg font-thin text-center">{{ data.subheader }}</h2>
      </header>

      <template v-if="data.buttons">
        <div v-if="getSettings.maintenance_mode">
          <h1 class="mb-0 mt-6">Maintenance!</h1>
          <p>We'll be up and running soon again!</p>
        </div>
        <nuxt-link
          v-for="btn in data.buttons"
          v-else
          :key="btn.id"
          :to="btn.route"
          class="mt-16 hover:text-primary-500 transition-all duration-150"
        >
          <svg id="btn-enter" class="w-12 h-12">
            <use href="#play" />
          </svg>
        </nuxt-link>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'
import Preloader from '@/components/loadingIndicators/bouncingRectangles.vue'

const consCol = 'font-weight: bold; color: lightseagreen'
const consColWarn = 'font-weight: bold; color: crimson'

export default {
  name: 'Index',
  components: { Preloader },
  transition: {
    name: 'fadescale',
    mode: 'out-in',
  },
  async asyncData(context) {
    console.group('%cINDEX: asyncData() invoked', consCol)

    try {
      const startPageData = await context.$axios.get('/start-page')
      console.log('startPageData.data.content =', startPageData.data.content);

      return {
        data: startPageData.data.content
      }
    }
    catch (error) {
      throw new Error(error.message)
    }
    finally {
      // console.log('Fetch initial data is finished.');
      console.groupEnd()
    }
  },
  data: () => ({
    isLoading: false,
    data: null
  }),
  computed: {
    ...mapGetters('status', ['getSettings']),
  },
  watch: {
    // getSettings(newVal, oldVal) {
    //   console.group('%cINDEX watching `getSettings`', consCol);
    //   console.log('   newVal =', newVal);
    //   console.log('   oldVal =', oldVal);
    //   console.log('   this.getSettings =', this.getSettings);
    //   console.groupEnd()

    //   if (this.getSettings && !this.getSettings.maintenance_mode) {
    //     setTimeout(() => {
    //       this.checkIfAlreadyRegistered()
    //     }, 750)
    //   }
    // }
  },
  mounted() {
    console.group('%cINDEX mounted() invoked', consCol)
    // console.log('this.getSettings =', this.getSettings);
    // console.log('this.getSettings.maintenance_mode =', this.getSettings.maintenance_mode);
    console.groupEnd()
  },
  methods: {
    /*
      async loadData() {
        console.group('%cINDEX loadData() invoked', consCol)
        try {
          const startPageData = await this.$axios.get('/start-page')
          console.log('loadData: startPageData.data.content =', startPageData.data.content);
          return {
            data: startPageData.data.content
          }
        }
        catch (error) {
          throw new Error(error.message)
        }
        finally {
          console.log('`loadData` is finished.');
          console.groupEnd()
        }
      },
    */

    // TODO: why is this here? we have a mixin for that
    async checkIfAlreadyRegistered() {
      console.group('%cINDEX checkIfAlreadyRegistered() invoked', consCol);
      console.log('this.getSettings =', this.getSettings);

      const query = await db.registrationData.toArray()

      if (query.length > 0) {
        $nuxt.$emit('showFeedbackModal', {
          strict: false,
          phase: this.getSettings.phase,
          message: "You participant ID: " + query[0].id,
          message_type: 'success',
          modal_domain: 'REGISTRATION',
          content_domain: 'ALREADY_REGISTERED'
        })
      }
      else {
        console.warn('%cWARNING: no registration data found', 'font-weight: bold')
      }

      console.groupEnd()
    }
  }
}
</script>

<style scoped lang="postcss">
#btn-enter {
  @apply transition duration-200;
}

body.dark-mode #btn-enter:hover {
  @apply text-crimson-800;
}

.ph-wrapper {
  @apply flex flex-col flex-nowrap items-center;
  @apply opacity-0;
  @apply transform-gpu scale-90;
  @apply transition-all duration-1000 ease-in-out;
}

.is-loaded .ph-wrapper {
  @apply opacity-100 transform scale-100;
}
</style>
