<template>
	<article class="absolute inset-0 flex flex-row h-full px-6 overflow-hidden">
		<div class="flex items-center justify-center w-1/4 h-full">
			<nav class="[ navigation ]">
				<ul v-for="article in introArticles" :key="article.id">
					<li v-if="article.published_at !== null">
						<nuxt-link :key="$route.name" :to="`/introduction/${article.slug}`" class="leading-tight">
							<div class="line"></div>
							<div v-html="article.title"></div>
						</nuxt-link>
					</li>
				</ul>
			</nav>
		</div>

		<div
			class="wrapper relative flex flex-col items-center justify-center w-3/4 h-full py-4 overlow-hidden"
		>
			<div class="[ section-content ] flex flex-row w-3/4 max-w-4xl h-auto m-auto overflow-hidden">
				<NuxtChild :key="$route.params.slug" />
			</div>

			<Topic :header="introAbstract.header"></Topic>
		</div>
	</article>
</template>

<script>
import Topic from '@/components/Topic'

export default {
	name: 'Introduction',
	components: { Topic },
	transition: {
		name: 'fade',
		appear: true,
	},
	async asyncData(ctx) {
		// see: https://github.com/nuxt/nuxt.js/issues/978
		const [abstract, articles] = await Promise.all([
			// https://strapi.io/documentation/developer-docs/latest/developer-resources/content-api/content-api.html#publication-state
			await ctx.$axios.get('/introduction-abstract?_publicationState=live'),
			await ctx.$axios.get('/introductions?_publicationState=live'),
		])
		return {
			introAbstract: abstract.data,
			introArticles: articles.data,
		}
	},
	beforeMount() {
		/**
		 * There is a chance that we return from pilot or experiment and therefore
		 * still have "isExperiment" set to true, which would hide the navigation.
		 * Therefore, just to make sure, set "isExperiment" to false here.
		 */
		this.$store.dispatch('status/setIsExperiment', false)
	}
}
</script>