<template>
	<div class="[ peaks-wrapper ]">
		<div v-if="isLoading || !fileData" class="[ peaks-content ] text-center">
			<p v-if="loadWarning" class="text-crimson-800">
				If nothing loads, please go back to the previous page
				<br />and select an audio experiment.
			</p>
			<p v-else>
				Preparing experiment.
				<br />It will be ready in a short little bit...
				<br />Thank you for your patience!
			</p>
		</div>

		<div v-else class="[ peaks-content ]">
			<client-only>
				<Waveform
					:file-data="fileData"
					:coming-from="comingFrom"
					:is-experiment-prop="isExperiment"
					:restore-task="restoreTask"
					:show-restored-in-header="showRestoredInHeader"
					@setEditingMode="setIsEditing"
				/>

				<div
					class="[ autosave ] absolute right-0.5 bottom-0.5 w-8 text-3xs text-green-200 text-right"
				>{{ autoSaveCurrentTask ? 'x' : '' }}</div>
			</client-only>
		</div>

		<Topic :header="topic"></Topic>
	</div>
</template>

<script>
/**
 * This file contains the main Waveform component. Depending on which file was
 * chosen in the step before ("playground.vue", "pilot.vue", "experiment.vue"),
 * the fileData is transfered as property.
 *
 * There is also a "reload-blocker" in order to prevent unintended navigation
 * (e.g. via swipe ob MacBooks). See beforeRouteLeave, beforeMount, etc.
 */
import { mapGetters } from 'vuex'
import db from '@/db/dexie'
import Waveform from '@/components/peaks/Waveform.vue'
import Topic from '@/components/Topic'
// MIXINS
// import registrationCheck from '@/mixins/registrationCheck'

const consCol = 'color:blue; font-weight: bold'
const consColWarn = 'color:darkorange; font-weight: bold'

export default {
	name: 'Peaks',

	components: {
		Waveform,
		Topic
	},

	// mixins: [
	// 	registrationCheck
	// ],

	beforeRouteUpdate() {
		console.group('%cPEAKS beforeRouteUpdate', 'color:blue; font-weight: bold')
		console.log('this =', this);
		console.groupEnd()
	},

	// Warn, when leaving this page while editing
	beforeRouteLeave(to, from, next) {
		console.group('%cPEAKS beforeRouteLeave', 'color: blue; font-weight: bold');
		console.log('this =', this);
		if (this.isEditing) {
			console.log('   this.isEditing is true, so warn');

			if (!window.confirm("Are you sure you want to leave? This will result in a loss of all data for the current Task.")) {
				return;
			}
		}
		console.groupEnd()
		next();
	},

	data: () => ({
		isLoading: true,
		fileData: null,
		loadWarning: false,
		isExperiment: false,
		phase: null,
		section: null,
		comingFrom: 'noWhere',
		// params for autoSave feature
		isEditing: false,
		autoSave: true,
		autoSaveIntervalId: null,
		autoSaveInterval: 5000,
		autoSaveCurrentTask: false,
		// Params for restoreTask (set from this.$route in beforeMount)
		restoreTask: false,
		restoreTaskAction: null,
		showRestoredInHeader: false,
		worker: null,
		appSettings: null
	}),

	computed: {
		...mapGetters('status', ['getSettings', 'getIsExperiment']),

		// Text to be shown in the right bottom corner
		topic() {
			if (this.getIsExperiment) {
				return this.getSettings.phase === 'PILOT' ? 'PILOT EXPERIMENT' : 'EXPERIMENT'
			}
			return 'PLAYGROUND'
		},

		// Save a snapshot of VueX to a appSection-specific indexeddb db
		toggleAutoSave: {
			get() {
				console.log('toggleAutosave.get() invoked: this.autoSaveIntervalId =', this.autoSaveIntervaId);
				return this.autoSaveintervalId
			},
			set(val) {
				console.log('toggleAutosave.set() invoked: val =', val);

				if (val) {
					this.autoSaveIntervalId = setInterval(() => {
						console.log('> call backup');
						console.log('this.autoSaveIntervalId =', this.autoSaveIntervalId);
						this.backupCurrentTask()
					}, this.autoSaveInterval)
				}
				else {
					clearInterval(this.autoSaveIntervalId)
					this.autoSaveIntervalId = null
					this.deleteBackupOfCurrentTask()
					console.log('this.autoSaveIntervalId =', this.autoSaveIntervalId);
				}
			}
		},

		// Playground, Pilot or Experiment
		appSection: {
			get() {
				if (!this.appSettings.isExperiment) {
					return 'playground'
				}

				return this.appSettings.settings.phase.toLowerCase()
			}
		}
	},

	watch: {
		isEditing(newVal, oldVal) {
			console.group('%cPEAKS watch "isEditing"', consCol)
			console.log('start / stop autoSave accordingly');
			console.log('   newVal =', newVal);
			console.log('   oldVal =', oldVal);
			this.toggleAutoSave = newVal
			console.groupEnd()
		}
	},

	beforeMount() {
		// Create listener to warn on browser history change (e.g. because of swipe action)
		window.addEventListener("beforeunload", this.preventNav)
	},

	async mounted() {
		console.log(' ');
		console.log('++++++++++++++');
		console.group('%cPEAKS mounted', consCol);

		$nuxt.$on('resetRestoreTask', () => {
			console.log('INVOKE resetRestoreTask BUS');
			this.restoreTask = false
			console.log('this.restoreTask =', this.restoreTask);
		})

		// Get the current status from dexie (important for reload of Peaks route)
		this.appSettings = await db.status.get(0)
		console.log('this.appSettings =', this.appSettings);

		/**
		 * IMPORTANT:
		 * "restoreTaskAction" is defined in Strapi as URL param in JSON
		 * field of "Content for Modals" => "Feedbacks" => "Unfinished Task detected"
		 */
		if (this.$route.query.restoreTaskAction !== undefined) {
			this.restoreTask = this.$route.query.restoreTaskAction === 'restoreSnapshot'
			this.restoreTaskAction = this.$route.query.restoreTaskAction
		}

		/**
		 * Since playground and pilot / experiment are different sources, which can
		 * send params via route, let's get `isExperiment` from them (not from "status")
		 */
		if (this.$route.params.isExperiment !== undefined) {
			this.isExperiment = this.$route.params.isExperiment
		} else if (this.appSettings.isExperiment !== undefined) {
			this.isExperiment = this.appSettings.isExperiment
		} else {
			console.log('this.$route did not have isExperiment defined; leave local param isExperiment unchanged');
		}

		if (this.$route.params.comingFrom) {
			this.comingFrom = this.$route.params.comingFrom
		}
		else if (this.$store.getters[`status/getSnapshot${this.capitalize(this.appSection)}FromRoute`]) {
			this.comingFrom = this.$store.getters[`status/getSnapshot${this.capitalize(this.appSection)}FromRoute`]
		}
		else {
			// const stat = await db.status.get(0)
			console.warn('> There is no "comingFrom" params on the $route: this.comingFrom = ', this.appSettings.comingFrom);
			console.warn('> Redirect to previous page')
			console.groupEnd()
			console.log('++++++++++++++');
			console.log(' ');

			this.$router.push(`/${this.appSettings.comingFrom}`)
			return
		}

		/**
		 * Delete or restore snapshot
		 */
		if (this.restoreTaskAction === 'restoreSnapshot') {
			this.restoreTaskSnapshot()
		}

		/**
		 * "this.fileData" is empty, when the Peaks page is reloaded; if that happens,
		 *  we need to get the data of the currently active audio file from
		 * indexedDB, to where "[playground|pilot|experiment].vue" saved the info
		 * (as soon as a user clicked on an audio file in the audio file list).
		 *
		 * TODO: could be easly constructed with "this.comingFrom"
		 */
		const appSection = `${this.appSettings.comingFrom}_info`

		/**
		 * The fileData – list of all tasks of one expriment coming from
		 * playground.vue (or experiment...) – must be saved to dexie, otherwise a
		 * page reload causes errors.
		 */
		this.fileData = await this.$route.params.fileData
		console.log('this.fileData transfered via $route from playround/pilot/experiment =', this.fileData);

		if (this.fileData === undefined || Object.keys(this.fileData).length < 1) {
			const info = await db[appSection].toArray()
			this.fileData = await info[0].active_audio

			if (!this.fileData) {
				console.error('PEAKS `this.fileData` has not been populated with data, neither from vuex nor from the dexie.')
			}
			else {
				console.warn('%cPEAKS page reload happened – Redirect to peaks and rebuild latest-saved state of task; clear snapshot', consColWarn)
			}
		}

		setTimeout(() => {
			this.isLoading = false

			if (!this.fileData) {
				this.loadWarning = true
			}
		}, 500)

		// Create worker
		this.worker = this.$worker.createWorker()

		console.groupEnd()
	},

	beforeDestroy() {
		console.group('%cPEAKS beforeDestroy', consColWarn)

		// clear autoSave interval id
		if (this.autoSaveIntervalId !== null) {
			clearInterval(this.autoSaveIntervalId)
			this.autoSaveIntervalId = null
		}

		/**
		 * When leaving the playground for whatever reason (e.g. clicking on a nav
		 * item and therefore changing route), clear out any and all currently
		 * saved cues from VueX (NOT indexedDB, where they might be saved as a
		 * snapshot). Otherwise they will be loaded again, when the next example
		 * is opened [and added to the new example's cues].
		 * Absolutely necessary, when going back from a finished task to the
		 * playlist again
		 * CHECK: this is also done in "wavefrom.vue => mounted" - do we need both?
		 *        Update 2022-03-07: deactivated in waveform.vue
		 */
		this.$store.commit('experiment/resetCues')

		// remove listener
		window.removeEventListener("beforeunload", this.preventNav);
		$nuxt.$off('resizeFont')
		$nuxt.$off('resetRestoreTask')

		console.groupEnd()
	},

	methods: {
		/**
		 * Creat snapshot (backup)
		 */
		backupCurrentTask() {
			console.group('%cPEAKS backupCurrentTask invoked (save Vuex data to IndexedDB)', consCol);
			// console.log('this.$store.state.experiment =', this.$store.state.experiment);

			this.autoSaveCurrentTask = true;

			const obj = {
				action: 'save',
				state: this.$store.state.experiment,
				audioTrackVolume: this.$store.getters['status/getAudioTrackVolume'],
				clickTrackVolume: this.$store.getters['status/getClickTrackVolume'],
				section: this.comingFrom
			}

			this.worker.onmessage = (e) => {
				// console.log('Received message from worker: e =', e);
				setTimeout(() => {
					this.autoSaveCurrentTask = false;
					console.groupEnd()
				}, 300)
			}
			this.worker.postMessage(obj)
		},

		deleteBackupOfCurrentTask() {
			console.log('%cPEAKS deleteBackupOfCurrentTask invoked', consColWarn);

			const obj = {
				action: 'delete',
				state: null,
				section: this.comingFrom
			}

			this.worker.onmessage = (e) => {
				// console.log('Received message from worker: e =', e);
			}
			this.worker.postMessage(obj)

			console.groupEnd()
		},

		restoreTaskSnapshot() {
			console.log(' ');
			console.log('********');
			console.group('%cRESTORE SNAPSHOT', 'color:green');
			console.log('   this.comingFrom =', this.comingFrom);

			// If the /peaks route is called directly, redirect back
			if (this.comingFrom === 'noWhere' || this.comingFrom === null) {
				console.groupEnd()
				console.warn('> redirect to prev route in "restoreSnapshot" section - could this ever happen?');
				this.redirect()
			}

			// Send as prop to `Waveform` component
			this.restoreTask = true
			// Set in Mixin detectSnapshot[comingFrom]
			this.comingFrom = this.$store.getters[`status/getSnapshot${this.capitalize(this.appSection)}FromRoute`];

			/**
			 * What has to be done?
			 *
			 * 1. move snapshot to Vuex
			 * 2. display waveform
			 *   - with markers
			 *   - in proper experiment step
			 *   - set some props (see data "restore...")
			 *
			 * Do NOT:
			 *
			 * 1. check registration
			 * 2. delete snapshot
			 *
			 * The following is done in Waveform.vue
			 *   const snapshot = await db.snapshot.toArray()
			 *   console.log('snapshot =', snapshot);
			 *   this.$store.commit('experiment/restoreTaskFromSnapshot', snapshot)
			 *   /// We must set the experiment step: when there are cues in cuesOfStepOne
			 *   /// then the app was already in experimentStep 2
			 *   this.snapshotExperimentStep = snapshot[0].cuesOfStepOne.length > 0 ? 2 : 1
			 *   console.log('this.snapshotExperimentStep =', this.snapshotExperimentStep);
			 */

			// Unset the 'setSnapshotFromRoute' to null again
			this.$store.commit(`status/setSnapshot${this.capitalize(this.appSection)}FromRoute`, null)

			// Show "RESTORED" in Header
			this.showRestoredInHeader = true

			// During Feature implementation do a return for the moment...
			// but of course the script has to go on...
			console.groupEnd()
			console.log('*******');
			console.log(' ');
		},

		/**
		 * `isEditing` is set after audio file finished loading. It "turns on" autoSave
		 * and is needed by window un/reload attempts (opens a warning alert; see
		 * this.prevetNav())
		 *
		 * @param {Boolean} bool Sets isEditing to true/false
		 */
		setIsEditing(bool) {
			console.group('%cPEAKS setIsEditing() invoked', consCol);
			this.isEditing = bool
			this.autoSave = bool
			console.log('this.isEditing =', this.isEditing);
			console.log('this.autoSave =', this.autoSave);
			console.groupEnd()
		},

		preventNav(event) {
			console.log('%cPEAKS preventNav() invoked', consCol);
			if (!this.isEditing) return
			event.preventDefault()
			event.returnValue = ""
		},

		redirect() {
			console.group('%cPEAKS redirect() invoked', consCol);
			console.log('this.isExperiment =', this.isExperiment);

			if (!this.isExperiment) {
				this.$router.push('/playground')
			}
			else if (this.appSection === 'pilot') {
				this.$router.push('/pilot')
			}
			else {
				this.$router.push('/experiment')
			}
			console.groupEnd()
		},

		capitalize(str) {
			return str.charAt(0).toUpperCase() + str.slice(1);
		}

		/// delete is called from playground/pilot/experiiment
		// async deleteTaskSnapshot() {
		// 	console.log(' ');
		// 	console.log('********');
		// 	console.group('DELETE SNAPSHOT')
		// 	try {
		// 		// Dexie's "delete" always resolves successfully with "undefined"
		// 		await db[`snapshot_${this.appSection}`].delete(0)
		// 		// Set VueX's 'status/setSnapshotDetected' to false
		// 		this.$store.commit(`status/setSnapshot${this.capitalize(this.appSection)}Detected`, false)
		// 		// Redirect only, when delete was successful
		// 		this.$nextTick(() => {
		// 			this.redirect()
		// 		})
		// 	}
		// 	catch (error) {
		// 		console.error(`error deleting snapshot${this.capitalize(this.appSection)}: error = ${error}`)
		// 	}
		// 	finally {
		// 		console.log('deleteSnapshot finished');
		// 		console.groupEnd()
		// 		console.log(' ');
		// 		console.log('********');
		// 	}
		// },
	}
}
</script>

<style scoped>
.peaks-wrapper {
	overscroll-behavior: none;
}
</style>
