<template>
	<div class="[ nuxt-changed-content-wrapper ]">
		<div v-if="isLoading && !getInviteCodeAccepted">Loading...</div>

		<div v-if="!isLoading && getInviteCodeAccepted && audioFileList.length > 0"
			class="[ audio-file-list-wrapper ] max-h-full">
			<header v-if="infoTxt" class="[ audio-file-list-header ]">
				<h1>{{ infoTxt.header }}</h1>
				<p v-if="!analysesComplete">{{ infoTxt.subheader }}</p>
			</header>

			<div v-if="!analysesComplete" class="[ audio-file-list ] relative overflow-x-hidden overflow-y-scroll">
				<!-- Easter Egg -->
				<div class="absolute top-0 left-0 w-3 h-3 cursor-pointer" :class="[resetting ? 'bg-gray-800' : '']"
					@click="resetAnalysedTasks()"></div>

				<div class="w-1/3 flex h-full items-center text-right" v-html="infoTxt.select_task_text"></div>

				<div class="w-2/3">
					<ul>
						<li v-for="file in finishedTasks" :key="file.id" class="flex flex-row items-center gap-x-4 w-full mb-1.5">
							<div class="btn-between flex-row gap-x-1 btn-large btn-blue cursor-pointer w-72 border border-blue-500">
								<span>{{ file.title }}</span>
								<span v-if="file.duration_visible" class="text-xs text-green-400">{{ file.duration }}</span>
							</div>
							<font-awesome-icon class="text-blue-500" :icon="['fas', 'check']" />
						</li>

						<li v-for="file in nextTask" :key="file.id" class="flex flex-row items-center gap-x-4 w-full mb-1.5">
							<div class="btn-between flex-row gap-x-1 btn-large btn-green cursor-pointer w-72 border border-green-600"
								@click="setActivateAudioFile(file)">
								<span>{{ file.title }}</span>
								<span v-if="file.duration_visible" class="text-xs text-green-400">{{ file.duration }}</span>
							</div>
							<font-awesome-icon class="text-green-400 hover:text-green-500" :icon="['fas', 'play']"
								@click="setActivateAudioFile(file)" />
						</li>

						<li v-for="file in remainingTasks" :key="file.id" class="flex flex-row items-center gap-x-4 w-full mb-1.5">
							<div
								class="btn-between flex-row gap-x-1 btn-large btn-gray cursor-not-allowed w-72 border border-gray-400">
								<span>{{ file.title }}</span>
								<span v-if="file.duration_visible" class="text-xs text-green-400">{{ file.duration }}</span>
							</div>
							<font-awesome-icon class="text-gray-500 opacity-50" :icon="['fas', 'pause-circle']" />
						</li>
					</ul>
				</div>
			</div>

			<div v-if="!analysesComplete && infoTxt" class="w-full mt-5 px-8 select-none" v-html="infoTxt.comment"></div>

			<div v-if="regData && !analysesComplete" class="w-full mt-5 px-8 select-none" v-html="displayGracePeriodNote">
			</div>

			<div v-if="analysesComplete" class="w-full mt-5 px-8 select-none">
				<div class="mb-4" v-html="infoTxt.comment_when_all_analyses_are_done"></div>

				<div class="flex flex-row items-center justify-between">
					<!--
					<button class="btn btn-large btn-green cursor-pointer gap-x-2" @click="exitPilotExperiment">
						<span>{{ infoTxt.button_text_finish_experiment }}</span>
						<font-awesome-icon :icon="['fas', 'play']" class="w-5 h-5" />
					</button>
					-->

					<button class="btn btn-large btn-danger cursor-pointer gap-x-2"
						@click="$nuxt.$emit('showModalForMessage', getFeedbackMessage)">
						<span>Add Message</span>
						<font-awesome-icon :icon="['fas', 'play']" class="w-5 h-5" />
					</button>

					<button class="btn btn-large btn-info cursor-pointer gap-x-2" @click="reviewPilotExperiment">
						<span>Review</span>
						<font-awesome-icon :icon="['fas', 'redo-alt']" class="w-5 h-5" />
					</button>
				</div>
			</div>

			<div v-if="getSettings.development" class="w-full mt-5 px-8 select-none">
				<button class="btn btn-large btn-green cursor-pointer gap-x-2" @click="resetAnalysedTasks()">
					<span>Clear Pilot / Experiment data</span>
					<font-awesome-icon :icon="['fas', 'play']" class="w-5 h-5" />
				</button>
				<div v-if="deleteRemoteTasks" class="text-gray-300 text-2xs">deleting remote tasks</div>
			</div>
		</div>

		<Topic header="Experiment"></Topic>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie'
import Topic from '@/components/Topic'
// MIXINS
import detectSnapshotPilot from '@/mixins/detectSnapshotPilot.js'
import registrationCheck from '@/mixins/registrationCheck'
import gracePeriodNote from '@/mixins/gracePeriodNote'

const consCol = 'color:#005f6a'
const consColWarn = 'color:crimson'

export default {
	components: { Topic },

	mixins: [
		detectSnapshotPilot,
		gracePeriodNote,
		registrationCheck,
	],

	data: () => ({
		// check mixins!!!
		isLoading: false,
		//
		audioFileList: [],
		finishedTasks: [],
		nextTask: {},
		remainingTasks: [],
		// structure of the [experiment]_info table (mainy to restore it?)
		pilotInfo: [{
			active_audio: {},
			// active_audio_id: {},
			analysed_audio_files_media_ids: [],
			analyses_complete: false,
			// id: null,
			// total_audio_files: null
		}],
		pilotDataSaved: false,
		analysesComplete: false,
		infoTxt: undefined,
		// Extras that are not in Playground
		resetting: false,
		// participantID & pilotId
		params: {},
		regData: {},
		// urlParams: null,
		deleteRemoteTasks: false
	}),

	computed: {
		...mapGetters('status', ['getSettings', 'getInviteCodeAccepted']),
		...mapGetters('experiment', ['getFeedbackMessage'])
	},

	update() {
		console.log('%cPILOT updated', consCol);
	},

	beforeMount() {
		console.group('%cPILOT beforeMount() invoked', consCol)

		/**
		 * Set isExperiment in indexedDB; so we have access to it in Peaks.vue and
		 * Waveform.vue (here this is done via VueX)
		 * Set it also in Vuex, since during navigating the app, this param will
		 * change (going from playground to pilot, e.g.)
		 */
		this.$store.dispatch('status/setIsExperiment', true)

		console.groupEnd()
	},

	async mounted() {
		console.group('%cPILOT mounted() invoked', consCol)
		/**
		 * Make sure there is no old data about the active audio file available.
		 * This data will only be set once a user clicked on an audio file and serves
		 * the simple purpose of a backup in case the "peaks.vue" page is reloaded.
		 */
		await db.pilot_info.update(0, {
			active_audio_id: -1,
			active_audio: {}
		})

		/**
		 * Update status, so Peaks gets proper infos from there, when the Peaks page
		 * should be reloaded
		 */
		await db.status.update(0, {
			comingFrom: 'pilot',
			isExperiment: true
		})

		const getTexts = await db.contents.get({ type: 'PILOT' })
		const getContents = getTexts.blocks.find(item => item.content_domain === 'WELCOME')
		this.infoTxt = getContents.contents

		/**
		 * The call to automatically open the modal for entering the invite code
		 * happens via the mixin "registration check", which sets "registered" to
		 * true. This is recognised by the watcher. This BUS is called from
		 * PilotSubmitCodeModal.vue. (This is different from playground & experiment)
		 * Also called from PilotSubmitModal, there we use a Nuxt BUS
		 */
		$nuxt.$on('loadPilotAudioFiles', params => this.loadPilotData(params))

		console.groupEnd()
	},

	beforeDestroy() {
		console.group('%cPILOT beforeDestroy() invoked', consCol)
		// remove listener
		$nuxt.$off('loadPilotAudioFiles')
		console.groupEnd()
	},

	methods: {
		/**
		 * Fetch the pilot data from strapi (called from a modal after invite code
		 * was successfully entered)
		 * - create a track list
		 * - save all the info to indexedDB.
		 *
		 * @param {Object} params  Contains participantId and pilotId
		 */
		async loadPilotData(params = {}) {
			console.group('%cPILOT: loadPilotData invoked', consCol);

			// ParticipantId & pilotId
			this.params = params

			// Hide Invite Code Modal
			this.$vfm.hideAll()

			// Get registration data
			const registrationData = await db.registrationData.toArray()
			this.regData = registrationData[0]

			// See playground.vue for detailed description
			/// UPDATE 2022-03-11: Remove, since we always load from server
			// this.audioFileList = await db.pilot.toArray();

			// Check if there are completed analyses
			this.pilotInfo = await db.pilot_info.toArray()

			/**
			 * "analyses_complete" is set in "store/experiment -> saveTask"; once
			 * all files have been analysed, the displayed text is changed
			 */
			if (this.pilotInfo[0] === undefined || this.pilotInfo[0]?.analyses_complete === undefined) {
				console.error('pilot_info table seems to be corrupt or non-existent.')
				// this.fixInfoTable('pilot')
			}
			else if (this.pilotInfo[0].analyses_complete) {
				this.analysesComplete = true
			}

			/// UPDATE 2022-03-11: Remove loading from indexedDB, always load from server
			// if (this.audioFileList.length > 0) {
			// 	console.log('Audio files already in indexedDB and are assigned to local instance:')
			// 	// Set analysed audio files to non-selectable
			// 	this.checkAnalysedStatus(this.audioFileList, this.pilotInfo)
			// 	// Split the playlist into "finishedTasks", "nextTask", "remainingTasks"
			// 	this.splitPlaylist()
			// }
			// else {
			// 	console.log('Audio files loaded from strapi, not yet in indexedDB');

			console.log('NEW (2022-03-11): Audio files always loaded from strapi BE!');

			this.isLoading = true

			try {
				console.log('trying this.params =', this.params);
				console.log('trying this.params.pilotId =', this.params.pilotId);

				const result = await this.$axios.get(`/pilots/${this.params.pilotId}`)
				const pilotData = await result.data

				// Throw error when no mp3_files could be found
				if (pilotData.mp3_files.length < 1) {
					console.error('No mp3 files found!')
					return false
				}

				// Throw error when at least one task has no mp3_files assigned to it
				pilotData.mp3_files.filter(item => {
					if (item.mp3_file.url === '' || item.mp3_file.url === null || item.mp3_file.url === undefined) {
						console.error('PILOT (check if all items have audio files): Item ' + item + ' has no audio url.')
						return item
					}

					return false
				})

				// Create a tracklist from only the mp3 files and save it to indexedDB
				await this.createTrackList('audio', pilotData.mp3_files, pilotData.click_sounds[0].url)
			}
			catch (error) {
				console.error('Error loading pilot data:', error)

				$nuxt.$emit('showFeedbackModal', {
					message: 'Error: At least one missing audio file deteced.',
					message_type: 'error',
					modal_domain: 'GENERAL',
					content_domain: 'NO_AUDIO_FILE_FOUND',
					strict: true,
					phase: this.getSettings.phase
				})
			}
			finally {
				this.isLoading = false
				// Close here, because the whole thing is async!
				console.groupEnd()
			}
		},

		/**
		 * Create the actual track list
		 *
		 * @param string type   Create playlist for an audio file or a click sound
		 * @param string clickSoundUrl   Pass along a url to a click sound separately
		 */
		async createTrackList(type, mp3Files, clickSoundUrl) {
			console.group('%cPILOT: createTrackList invoked', consCol)

			if (type === 'audio') {
				/**
				 * When "resetFiles" is clicked, we must assume, that the number of
				 * audio files could have changed. If the "new set" of audio files is
				 * shorter than the existing one in dexie, we must find a way to delete
				 * old entries from dexie. `diff` checks the difference
				 */
				const diff = mp3Files.length - this.audioFileList.length

				mp3Files.forEach(async (file, index) => {
					const obj = {
						analysed: false,
						clickSoundUrl,
						description: file.description,
						duration: file.duration,
						duration_visible: file.duration_visible,
						id: index,
						mediaUrl: file.mp3_file.url,
						mediaName: file.mp3_file.name,
						mediaId: file.mp3_file.id,
						mediaAlternativeText: file.mp3_file.alternativeText,
						offsetStartMarker: {
							id: 0,
							type: 1,
							degree: 1,
							time: parseFloat(file.offset_start_time),
							color: '#808080'
						},
						offsetEndMarker: {
							id: 9999,
							type: 1,
							degree: 1,
							time: parseFloat(file.offset_end_time),
							color: '#808080'
						},
						title: file.title,
						totalAmountOfCues: file.total_cues_allowed
					}

					if (file.dat_file && file.dat_file.url) {
						obj.datFileUrl = file.dat_file.url
					}

					// Update object the "Vue reactive way for objects"
					this.$set(this.audioFileList, index, obj)

					// Save separate audio file object to db
					const saveAudioFileData = await db.pilot.put({
						...obj
					})
				})

				if (diff < 0) {
					this.deleteFilesFromDB(diff)
				}

				// Save total number of audio files to "pilot_info" table
				await this.updatePilotInfo(mp3Files.length)

				// Set analysed audio files to "analysed: true" (and therefore non-selectable)
				this.checkAnalysedStatus(this.audioFileList, this.pilotInfo)

				// Files have to be clicked in order, therefore the list has to be split
				// into 'analysed' (file(s)), 'next' (file), 'remaining' (file(s))
				this.splitPlaylist()
			}

			console.groupEnd()
		},

		/**
		 * Split the audio files into "finishedTasks", "nextTask" and "remainingTasks"
		 */
		splitPlaylist() {
			console.group('%cPILOT: Split Playlist into finishedTasks, reaminingTasks and nextTask', consCol);
			this.finishedTasks = this.audioFileList.filter(item => item.analysed === true)
			this.remainingTasks = this.audioFileList.filter(item => item.analysed === false)
			this.nextTask = this.remainingTasks.splice(0, 1)
			// console.log('   this.finishedTasks =', this.finishedTasks);
			// console.log('   this.remainingTasks =', this.remainingTasks);
			// console.log('   this.nextTask =', this.nextTask);
			console.groupEnd()
		},

		/**
		 * Once a user clicked on an audio to start an experiment, first save the
		 * data of the selected audio file to dexie. This makes it available in
		 * peaks.vue, too. If it wasn't available there, a reload would cause an
		 * error.
		 *
		 * @param number index   The index of the audio file the user clicked on.
		 */
		async setActivateAudioFile(file) {
			console.group('%cPILOT: setActivateAudioFile invoked', consCol)
			console.log('file =', file);

			const savedToDB = await this.$store.dispatch('experiment/setActiveAudio', {
				file,
				isExperiment: true, // should be available on VueX, no need to set it here; see mounted()
				phase: 'PILOT'
			})
			console.log('savedToDB (VueX, from there to indexedDB) =', savedToDB);

			if (savedToDB) {
				// Move on to peaks.vue, where the audioFileId MUST BE read from dexie
				// this.$router.push({path: this.localePath('search'), query: {q: this.q}});
				this.$router.push({
					name: 'peaks',
					params: {
						fileData: file,
						isExperiment: true, // should be available on VueX, no need to set it here; see mounted()
						phase: 'PILOT',
						comingFrom: 'pilot'
					}
				})
			}
			else {
				console.error('An error occured saving the selected audio file to indexeddb')
			}

			console.groupEnd()
		},

		/**
		 * @param object data   The data that describes the whole audio experiment
		 *                      status (how many audio files there are, how many
		 *                      analyses have been completed yet, etc)
		 */
		async updatePilotInfo(filesTotal) {
			console.group('%cPILOT: updatePilotInfo invoked', consCol)
			console.log('filesTotal =', filesTotal);

			await db.pilot_info.update(0, {
				total_audio_files: filesTotal,
			})
			this.pilotDataSaved = true

			console.groupEnd()
		},

		/**
		 * After a refresh we need to compare the new data (that has overridden all
		 * information, also a file's "analysed" property) to the locally saved "backup"
		 * data in pilot_info. There, the array "analysed_audio_files_media_ids"
		 * holds the media ids of those audio files that already have been analysed.
		 * We need to write back this information.
		 */
		checkAnalysedStatus(list, infoTable) {
			console.group('%cPILOT: checkAnalysedStatus() invoked: update display of already analysed audio files', consCol)

			// Check, if info table exists
			if (infoTable[0] === undefined || infoTable[0]?.analysed_audio_files_media_ids === undefined) {
				console.error("ERROR: pilot_info table does not exist or is corrupted!")
				// await this.fixInfoTable('pilot', list.length)
				// await this.updateInfoTable('pilot', 'analysed_audio_files_media_ids', [])
			}

			// Check, if we aready analysed files
			if (list?.length > 0) {
				const newList = list.forEach(async item => {
					// This updates the reactive local audioFile list and therefore the display
					item.analysed = infoTable[0].analysed_audio_files_media_ids.includes(item.mediaId)

					// Update item in indexeddb, too (this is async, but since we do not need
					// a feedback in the interface, just let it stop silently)
					const updateResult = await db.pilot.update(item.id, {
						analysed: infoTable[0].analysed_audio_files_media_ids.includes(item.mediaId)
					})

					console.log('> PILOT checkAnalysedStatus: updateResult =', updateResult);
				})
			}
			else {
				console.warn('checkAnalysedStatus: Cannot check analysedStatus because list.length < 1.');
			}

			console.groupEnd()
		},

		addFeedback() {
			console.log('%cPILOT addFeedback invoked', consCol);
		},

		getFeedback() {
			console.group('%cPILOT getFeedback invoked', consCol);
			// console.log('this.getFeedbackMessage =', this.getFeedbackMessage);
			const feedback = this.getFeedbackMessage
			// console.log('feedback =', feedback);
			// console.log('feedback.msg =', feedback.msg);
			console.groupEnd()
			return feedback.msg
		},

		/* ------------------ For development purposes ---------------- */

		// delete task data of pilot
		async resetAnalysedTasks() {
			console.group('%cPILOT resetAnalysedTasks() invoked', consCol)
			this.resetting = true
			console.log('resetting, this.params =', this.params);

			// delete pilot_info / reset analysed to false ...
			await db.pilot_info.update(0, {
				analysed_audio_files_media_ids: [],
				analyses_complete: false
			})
			await db.pilot_finished.clear()
			await db.pilot.clear();

			this.loadPilotData(this.params)

			// Update current audioFileList data via reloading from indexeddb, refresh display
			this.audioFileList = await db.pilot.toArray()
			this.analysesComplete = false

			// Reset local data
			this.pilotInfo[0].analysed_audio_files_media_ids = []
			this.pilotInfo[0].analyses_complete = false

			// Delete remote tasks connected to this participant (this could be done way more effectively)
			const participant = await this.$axios.get(`/pilot-participants/${this.params.participantId}`)
			console.log('participant =', participant);

			const tasks = await participant.data.results
			console.log('tasks =', tasks);

			if (tasks && tasks.length) {
				const total = tasks.length
				let counter = 0

				// Show inidicator next to button
				this.deleteRemoteTasks = true

				tasks.forEach(async task => {
					console.log('delete task.id =', task.id)
					const res = await this.$axios.delete(`/results/${task.id}`)
					console.log('Task deletion res =', res)
					counter++

					console.log('counter =', counter);
					console.log('total =', total);

					if (counter === total) {
						console.log('counter = total');
						setTimeout(() => {
							this.deleteRemoteTasks = false
						}, 750)
					}
				})
			}
			else {
				console.log('No (remote) tasks assigned to this participant found.');
			}

			this.resetting = false

			console.groupEnd()
		},

		/**
		 * This creates required fields in the [playground|pilot|experiment]_info table.
		 * During development it can happen, that this table is manually deleted in
		 * the browser's Application pane, when e.g clearing table from old data. In
		 * order to prevent errors, re-create these tables here. (See also dexie.js =>
		 * on('populate))
		 */
		async fixInfoTable(tbl, len) {
			console.log('fixInfoTable invoked');
			console.log('   this.audioFileList.length =', this.audioFileList.length);
			console.log('   len =', len);

			await db[`${tbl}_info`].put({
				id: 0,
				active_audio: {},
				analysed_audio_files_media_ids: [],
				analyses_complete: false,
				total_audio_files: this.audioFileList.length,
			})

			console.log(`   ...adding ${tbl}_info fields finished`);
		},

		async deleteTaskSnapshot() {
			console.log(' ');
			console.log('********');
			console.group('%cPILOT deleteTaskSnapshot() invoked', consCol)
			console.log('this.appSection =', this.appSection);

			try {
				// Dexie's "delete" always resolves successfully with "undefined"
				await db.snapshot_pilot.delete(0)

				// Set VueX's 'status/setSnapshotDetected' to false
				this.$store.commit(`status/setSnapshotPilotDetected`, false)

				// Redirect only, when delete was successful
				// this.$nextTick(() => {
				// 	this.redirect()
				// })
			}
			catch (error) {
				console.error(`error deleting snapshotPilot: error = ${error}`)
			}
			finally {
				console.log('deleteSnapshotPilot finished');
				console.groupEnd()
				console.log('********');
				console.log(' ');
			}
		},


		/**
		 * `reviewPilotExperiment` also sends / saves "Feedback"
		 */
		async reviewPilotExperiment() {
			console.group('%cPILOT reviewPilotExperiment() invoked', consCol);

			// Set pilot experiment to finished
			const params = {
				"experiment_finished": "true",
				"feedback": this.getFeedback()
			}

			const query = await this.updatePilotData(this.regData.pilot_id, params)
				.then(strapiResponse => {
					console.log('> strapiResponse =', strapiResponse);

					// When saving feedback was successful, move on
					this.$router.push('/review')
				})
				.catch(error => {
					console.error(error)
					throw new Error("An error happened putting a feedback message in the exitPilots function: ", error)
				})

			console.log('query =', query);

			console.groupEnd()
		},

		updatePilotData(id, data) {
			console.group('%cPILOT updatePilotData invoked', consCol)
			console.log('data =', data);

			return new Promise((resolve, reject) => {
				this.$axios.put('/pilots/' + id, data)
					.then(response => {
						resolve(response)
					})
					.catch(error => {
						reject(error)
					})
					.finally(_ => {
						console.groupEnd()
					})
			})
		},
	}
}

</script>