<template>
	<div class="[ nuxt-changed-content-wrapper ]">
		<div v-if="isLoading">Loading...</div>

		<div v-if="!isLoading && audioFileList.length > 0" class="[ audio-file-list-wrapper ]">
			<header v-if="infoTxt" class="[ audio-file-list-header ]">
				<h1>{{ infoTxt.header }}</h1>
				<p v-if="!analysesComplete">{{ infoTxt.subheader }}</p>
			</header>

			<div v-if="!analysesComplete" class="[ audio-file-list ]">
				<div class="w-1/3 flex h-full items-center text-right" v-html="infoTxt.select_task_text"></div>

				<div class="w-2/3">
					<ul>
						<li v-for="file in finishedTasks" :key="file.id" class="flex flex-row items-center gap-x-4 w-full mb-1.5">
							<div class="btn-between flex-row gap-x-1 btn-large btn-blue cursor-pointer w-72 border border-blue-500">
								<span>{{ file.title }}</span>
								<span v-if="file.duration_visible" class="text-xs text-green-400">{{ file.duration }}</span>
							</div>

							<font-awesome-icon class="text-blue-500" :icon="['fas', 'check']" />
						</li>

						<li v-for="file in nextTask" :key="file.id" class="flex flex-row items-center gap-x-4 w-full mb-1.5">
							<div class="btn-between btn-large btn-green cursor-pointer w-72 border border-green-600"
								@click="setActivateAudio(file)">
								<span>{{ file.title }}</span>
								<span v-if="file.duration_visible" class="text-xs text-green-400">{{ file.duration }}</span>
							</div>
							<font-awesome-icon class="text-green-400 hover:text-green-500" :icon="['fas', 'play']"
								@click="setActivateAudio(file)" />
						</li>

						<li v-for="file in remainingTasks" :key="file.id" class="flex flex-row items-center gap-x-4 w-full mb-1.5">
							<div class="btn-between btn-large btn-gray cursor-not-allowed w-72 border border-gray-400">
								<span>{{ file.title }}</span>
								<span v-if="file.duration_visible" class="text-xs text-green-400">{{ file.duration }}</span>
							</div>
							<font-awesome-icon class="text-gray-500 opacity-50" :icon="['fas', 'pause-circle']" />
						</li>
					</ul>
				</div>
			</div>

			<div v-if="!analysesComplete && infoTxt" class="w-full mt-5 px-8 select-none" v-html="infoTxt.comment"></div>

			<div v-if="analysesComplete" class="w-full mt-5 px-8 select-none">
				<div class="mb-4" v-html="infoTxt.comment_when_all_analyses_are_done"></div>
				<button class="btn btn-large btn-green cursor-pointer gap-x-2" @click="exitExperiment">
					<span>{{ infoTxt.button_text_finish_experiment }}</span>
					<font-awesome-icon :icon="['fas', 'play']" class="w-5 h-5" />
				</button>
			</div>

			<div class="w-full mt-5 px-8 select-none flex justify-between flex-nowrap gap-x-1">
				<div v-if="getSettings.development" class="flex flex-row flex-nowrap gap-x-1">
					<div class="btn btn-green btn-medium cursor-pointer" @click="refreshAudioFiles()">
						<div class="flex flex-col">
							{{ infoTxt.button_text_refresh_examples }}
							<div v-if="infoTxt.button_text_refresh_examples_comment" class="leading-tight text-xs text-green-400">
								<small>{{ infoTxt.button_text_refresh_examples_comment }}</small>
							</div>
						</div>
					</div>
					<font-awesome-icon :icon="['fas', 'info-circle']" class="cursor-pointer select-none" @click="$nuxt.$emit('showInfoModal', {
						modal_domain: 'INFORMATION_ABOUT_BUTTONS',
						content_domain: 'REFRESH_TASKS_BUTTON'
					})" />
				</div>

				<div class="flex flex-row flex-nowrap gap-x-1">
					<div class="btn btn-green btn-medium cursor-pointer" @click="resetAnalysedExamples()">
						<div class="flex flex-col">
							{{ infoTxt.button_text_reset_analysed_examples }}
							<div v-if="infoTxt.button_text_reset_analysed_examples_comment"
								class="leading-tight text-xs text-green-400">
								<small>{{ infoTxt.button_text_reset_analysed_examples_comment }}</small>
							</div>
						</div>
					</div>
					<font-awesome-icon :icon="['fas', 'info-circle']" class="cursor-pointer select-none" @click="$nuxt.$emit('showInfoModal', {
						modal_domain: 'INFORMATION_ABOUT_BUTTONS',
						content_domain: 'RESET_ANALYSED_AUDIO_FILES_BUTTON'
					})" />
				</div>
			</div>
		</div>

		<Topic header="Playground"></Topic>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie'
import Topic from '@/components/Topic'
// MIXINS
import detectSnapshotPlayground from '@/mixins/detectSnapshotPlayground.js'

const consCol = 'color:maroon'
const consColWarn = 'color:crimson'

export default {
	components: { Topic },

	mixins: [
		detectSnapshotPlayground
	],

	data: () => ({
		// check mixins!!!
		isLoading: false,
		//
		audioFileList: [],
		finishedTasks: [],
		nextTask: {},
		remainingTasks: [],
		// structure of the playground_info table (to fix it in case it's broken)
		playgroundInfo: [{
			active_audio: {},
			// active_audio_id: {},
			analysed_audio_files_media_ids: [],
			analyses_complete: false,
			// id: null,
			// total_audio_files: null
		}],
		playgroundDataSaved: false,
		analysesComplete: false,
		infoTxt: undefined
	}),

	computed: {
		...mapGetters('status', ['getSettings', 'getIsExperiment'])
	},

	beforeMount() {
		console.group('%cPLAYGROUND beforeMount() invoked', consCol)
		/**
		 * Set isExperiment in indexedDB; so we have access to it in Peaks.vue and
		 * Waveform.vue (here this is done via VueX)
		 * Set it also in Vuex, since during navigating the app, this param will
		 * change (going from playground to pilot, e.g.)
		 */
		this.$store.dispatch('status/setIsExperiment', false)
		console.log('this.getIsExperiment =', this.getIsExperiment);
		console.groupEnd()
	},

	async mounted() {
		console.group('%cPLAYGROUND mounted() invoked', consCol);

		/**
		 * Make sure there is no old data about the active audio file available.
		 * This data will only be set, once a user clicked on an audio file and serves
		 * the simple purpose of a backup in case the "peaks.vue" page is reloaded.
		 */
		await db.playground_info.update(0, {
			active_audio_id: -1,
			active_audio: {}
		})

		await db.status.update(0, { comingFrom: 'playground' })

		const getTexts = await db.contents.get({ type: 'PLAYGROUND' })
		const txts = getTexts.blocks.find(item => item.content_domain === 'WELCOME')
		this.infoTxt = txts.contents

		// The `Pilot` script is different at this spot, because it uses invite codes
		// and needs a different callback mechanism. Here, we can simply call the
		// loadPlaygroundData function.
		await this.loadPlaygroundData()

		console.groupEnd()
	},

	methods: {
		/**
		 * Fetch the playground data (mp3 files) from strapi
		 * - create a track list
		 * - save all the info to indexedDB.
		 */
		async loadPlaygroundData() {
			console.group('%cPLAYGROUND: loadPlaygroundData invoked', consCol);
			/**
			 * Check, if the playground audio files are already available from indexedDB.
			 * If so, there is no need to load them again from the strapi backend.
			 * Instead, simply create "this.audioFileList" (in the correct format)
			 */
			/// UPDATE 2022-03-11: Remove, since we always load from server
			// this.audioFileList = await db.playground.toArray();

			// Check if there are completed anaylses
			this.playgroundInfo = await db.playground_info.toArray()

			/**
			 * "analyses_complete" is set in "Waveform.vue"; once all files have been
			 * analysed, change the display
			 */
			if (this.playgroundInfo[0] === undefined || this.playgroundInfo[0]?.analyses_complete === undefined) {
				console.error('playground_info table seems to be corrupt or non-existent.')
				// this.fixInfoTable('playground')
			}
			else if (this.playgroundInfo[0].analyses_complete) {
				this.analysesComplete = true
			}

			/// UPDATE 2022-03-11: Remove loading from indexedDB, always load from server
			// if (this.audioFileList.length) {
			// 	console.log('Audio files already in indexedDB and are assigned to local instance:')
			// 	// Set analysed audio files to "analysed: true" (and therefore non-selectable)
			// 	this.checkAnalysedStatus(this.audioFileList, this.playgroundInfo)
			// 	// Split the playlist into "finishedTasks", "nextTask", "remainingTasks"
			// 	this.splitPlaylist()
			// }
			// else {
			// console.log('Audio files must be loaded from strapi BE, not yet in indexedDB');
			console.log('NEW (2022-03-11): Audio files always loaded from strapi BE!');

			this.isLoading = true

			try {
				const result = await this.$axios.get('/playground')
				const playgroundData = await result.data

				// Throw error when no mp3_files could be found
				if (playgroundData.mp3_files.length < 1) {
					console.error('No mp3 files found!')
					return false
				}

				// Throw error when at least one task has no mp3_files assigned to it
				playgroundData.mp3_files.filter(item => {
					if (item.mp3_file.url === '' || item.mp3_file.url === null || item.mp3_file.url === undefined) {
						console.error('PLAYGROUND (check if all items have audio files): Item ' + item + ' has no audio url.')
						return item
					}

					return false
				})

				// Create a tracklist from only the mp3 files and save it to indexedDB
				this.createTrackList('audio', playgroundData.mp3_files, playgroundData.click_sounds[0].url)
			}
			catch (error) {
				console.error(error.message)

				$nuxt.$emit('showFeedbackModal', {
					message: 'Error: At least one missing audio file deteced.',
					message_type: 'error',
					modal_domain: 'GENERAL',
					content_domain: 'NO_AUDIO_FILE_FOUND',
					strict: true,
					phase: this.getSettings.phase
				})
			}
			finally {
				this.isLoading = false
				// Close here, because the whole thing is async!
				console.groupEnd()
			}
		},

		/**
		 * Create track list and save to indexedDB
		 *
		 * @param {String} type            Create playlist for an audio file or a click sound
		 * @param {String} mp3Files        Array of mp3 files
		 * @param {String} clickSoundUrl   Pass along a url to a click sound
		 */
		async createTrackList(type, mp3Files, clickSoundUrl) {
			console.group('%cPLAYGROUND createTrackList invoked', consCol)

			if (type === 'audio') {
				/**
				 * When "resetFiles" is clicked, we must assume, that the number of
				 * audio files could have changed. If the "new set" of audio files is
				 * shorter than the existing one in dexie, we must find a way to delete
				 * old entries from dexie. `diff` checks the difference
				 */
				const diff = mp3Files.length - this.audioFileList.length

				mp3Files.forEach(async (file, index) => {
					console.log('file =', file);
					const obj = {
						analysed: false,
						clickSoundUrl,
						description: file.description,
						duration: file.duration,
						duration_visible: file.duration_visible,
						id: index,
						// ONLY ONE file activated in strapi BE
						mediaUrl: file.mp3_file.url,
						mediaName: file.mp3_file.name,
						mediaId: file.mp3_file.id,
						mediaAlternativeText: file.mp3_file.alternativeText,
						offsetStartMarker: {
							id: 0,
							type: 1,
							degree: 1,
							time: parseFloat(file.offset_start_time),
							color: '#808080'
						},
						offsetEndMarker: {
							id: 9999,
							type: 1,
							degree: 1,
							time: parseFloat(file.offset_end_time),
							color: '#808080'
						},
						title: file.title,
						totalAmountOfCues: file.total_cues_allowed
					}

					if (file.dat_file && file.dat_file.url) {
						obj.datFileUrl = file.dat_file.url
					}

					// Update object the "Vue reactive way for objects"
					this.$set(this.audioFileList, index, obj)

					// Save separate audio file object to indexedDB
					try {
						await db.playground.put({ ...obj })
					}
					catch (err) {
						console.error('An error happened when trying to save audio file to indexedDB. Error =', err)
					}
					finally {
						console.log('Put obj to db.playground finished.')
					}
				})

				if (diff < 0) {
					this.deleteFilesFromDB(diff)
				}

				// Save total number of audio files to "playground_info" table
				await this.updatePlaygroundInfo(mp3Files.length)

				// Set analysed audio files to "analysed: true" (and therefore non-selectable)
				await this.checkAnalysedStatus(this.audioFileList, this.playgroundInfo)

				// Files have to be clicked in order, therefore the list has to be split
				// into 'analysed' (file(s)), 'next' (file), 'remaining' (file(s))
				this.splitPlaylist()
			}

			console.groupEnd()
		},

		/**
		 * Split the audio files into "finishedTasks", "nextTask" and "remainingTasks"
		 */
		splitPlaylist() {
			// console.log('%cPLAYGROUND splitPlaylist() invoked', consCol);
			this.finishedTasks = this.audioFileList.filter(item => item.analysed === true)
			this.remainingTasks = this.audioFileList.filter(item => item.analysed === false)
			this.nextTask = this.remainingTasks.splice(0, 1)
		},

		/* --------------------- */

		/**
		 * Once a user clicked on an audio to start an experiment, first save the
		 * data of the selected audio file to dexie. This makes it available in
		 * peaks.vue, too. If it wasn't available there, a reload would cause an
		 * error.
		 *
		 * @param number index   The index of the audio file the user clicked on.
		 */
		async setActivateAudio(file) {
			console.group('%cPLAYGROUND setActiveAudio invoked', consCol);
			console.log('file =', file);

			try {
				await this.$store.dispatch('experiment/setActiveAudio', {
					file,
					isExperiment: false, // should be available on VueX, no need to set it here; see mounted()
					phase: this.getSettings.phase
				})

				// Move on to peaks.vue, where the audioFileId MUST BE read from dexie
				// this.$router.push({path: this.localePath('search'), query: {q: this.q}});
				this.$router.push({
					name: 'peaks',
					params: {
						fileData: file,
						isExperiment: false,
						phase: this.getSettings.phase,
						comingFrom: 'playground'
					}
				})
			}
			catch (error) {
				console.error('An error occured saving the selected audio file to indexeddb, error =', error)
			}
			finally {
				console.groupEnd()
			}
		},

		/**
		 * Reset all analysed examples to their non-analysed state again.
		 * This function is only available in the app state "playground", but not in
		 * the app state "experiments"!
		 *
		 * @return {Boolean)
		 */
		async resetAnalysedExamples() {
			console.log('%cPLAYGROUND resetAnalysedExamples invoked', consCol);
			// Set "analysed" to false in all audio files
			const dbPlayground = await db.playground.toArray()
			if (dbPlayground && dbPlayground.length > 0) {
				// console.log('   dbPlayground to be updated');
				dbPlayground.forEach(async item => {
					await db.playground.update(item.id, {
						analysed: false
					})
				})
			}

			// Reset all "backup info" in playground_info
			const dbPlaygroundInfo = await db.playground_info.toArray()
			if (dbPlaygroundInfo && dbPlaygroundInfo.length > 0) {
				// console.log('   dbPlaygroundIngo to be updated');
				await db.playground_info.update(0, {
					analysed_audio_files_media_ids: [],
					analyses_complete: false
					// do NOT reset total_audio_files!!!
				})
			}

			// Delete all finished analyses
			await db.playground_finished.clear()

			// Update audio list and local data
			this.audioFileList = await db.playground.toArray()
			this.analysesComplete = false
			this.playgroundInfo[0].analysed_audio_files_media_ids = []
			this.playgroundInfo[0].analyses_complete = false
			this.splitPlaylist()

			return true
		},

		/**
		 * If any data was changed in the strapi backend, we need to refresh the data
		 * locally (which does not haen automatically, since on first load we save
		 * everything to indexeddb and work from there). To update, a dedicated
		 * button must be pressed.
		 * This is most likely only for testing purposes. During the experiment, data
		 * must not change.
		 *
		 * @return {}
		 */
		async refreshAudioFiles() {
			console.group('%cPLAYGROUND refreshAudioFiles invoked', consCol);
			// First execute the "normal" data fetching, which overrides all files
			// including the "analysed" property of each audio file
			console.log('loadPlaygroundData');
			await this.loadPlaygroundData()

			console.log('invoke checkAnalysedFiles');
			// Then "reset" the analysed properties of the audio files again
			this.checkAnalysedStatus(this.audioFileList, this.playgroundInfo)

			console.groupEnd()
		},

		/**
		 *
		 * @param {Number} diff  The difference in length of the incoming audiofile
		 *                      array and the currently existing one. The incoming
		 *                      length can change, when "resetFiles" was clicked in
		 *                      order to load all the data from the server anew
		 */
		async deleteFilesFromDB(diff) {
			console.group('%cPLAYGROUND deleteFilesFromDB() invoked', consCol);
			console.log('diff < 0:', diff);

			const len = Math.abs(diff)
			const collection = await db.playground.toArray()

			for (let i = 0; i < len; i++) {
				console.group('%cxxx Delete file from IndexedDB', consColWarn)

				/**
				 * We can use `lastPos` here, because Vue already pushed all new audio
				 * files to the very first positions in the array with `this.$set()`. So
				 * anything that exists after those files in the array, must be deleted.
				 */
				const lastPos = collection.length - 1
				// console.log('lastPos =', lastPos);

				// Delete file from IndexedDB
				const deleted = await db.playground.delete(parseInt(collection[lastPos].id))

				// console.log('this.audioFileList.length =', this.audioFileList.length);
				// delete file from this.audioFileList
				// const audioDeleted = this.$delete(this.audioFileList, lastPos)
				const audioDeleted = this.audioFileList.splice(lastPos)
				// console.log('      audioDeleted =', audioDeleted);
				this.splitPlaylist()

				// Reduce collection to properly calculate lastPos on next loop
				collection.splice(lastPos, 1)
				// console.log('   reduced collection.length =', collection.length);

				console.groupEnd()
			}

			console.groupEnd()
		},

		/**
		 * @param {Object} filesTotal   Save total number of audio files to
		 *    "playground_info" table ( where other info is stored, too)
		 */
		async updatePlaygroundInfo(filesTotal) {
			await db.playground_info.update(0, {
				total_audio_files: filesTotal,
			})

			this.playgroundDataSaved = true
		},

		/**
		 * After a refresh we need to compare the new data (that has overridden all
		 * information, also a file's "analysed" property) to the locally saved "backup"
		 * data in playground_info. There, the array "analysed_audio_files_media_ids"
		 * holds the media ids of those audio files that already have been analysed.
		 * We need to write back this information.
		 *
		 * @param {Array} list     Array of audio files
		 * @param {Object} pgInfo  Object of playground_info settings
		 *
		 * @return {}
		 */
		checkAnalysedStatus(list, infoTable) {
			console.group('%cPLAYGROUND checkAnalysedStatus invoked', consCol)

			// Check, if info table exists
			if (infoTable[0] === undefined || infoTable[0]?.analysed_audio_files_media_ids === undefined) {
				console.error("ERROR: playground_info table does not exist or is corrupted!")
				throw new Error("ERROR: playground_info table does not exist or is corrupted!")
				// await this.fixInfoTable('playground', list.length)
				// await this.updatePlaygroundInfoTable('analysed_audio_files_media_ids', [])
			}

			// Check, if we aready analysed files
			if (list.length > 0) {
				list.forEach(async item => {
					// This updates the reactive local audioFile list and therefore the display
					item.analysed = infoTable[0].analysed_audio_files_media_ids.includes(item.mediaId)
					console.log('item.analysed =', item.analysed);

					// Update item in indexeddb
					const updateResult = await db.playground.update(item.id, {
						analysed: infoTable[0].analysed_audio_files_media_ids.includes(item.mediaId)
					})

					console.log('> PLAYGROUND checkAnalysedStatus: updateResult =', updateResult);
				})
			}
			else {
				console.warn('Cannot check analysedStatus because list.length < 1.');
			}

			console.groupEnd()
		},

		/**
		 * ExitExperiment leads to the exit page.
		 */
		exitExperiment() {
			this.$router.push('/exit')
		},

		/* ----------- FIX INFO TABLE FUNCTIONS -------------- */

		/**
		 * Add only a specific field to
		 * @param {String} key  The name of the database field to be added
		 * @param {Mixed} item  The type of the database field (an array, an object, ...)
		 */
		async updatePlaygroundInfoTable(key, item = '') {
			console.log('updatePlaygroundInfoTable invoked to add key', key, ' with item', item)
			await db.playground_info[0].add(item, key)
			console.log('   ...done');
		},

		/**
		 * This creates required fields in the [playground|pilot|experiment]_info table.
		 * During development it can happen, that this table is manually deleted in
		 * the browser's Application pane, when e.g clearing table from old data. In
		 * order to prevent errors, re-create these tables here. (See also dexie.js =>
		 * on('populate))
		 */
		async fixInfoTable(tbl, len) {
			console.log('fixInfoTable invoked');
			console.log('   this.audioFileList.length =', this.audioFileList.length);
			console.log('   len =', len);

			await db[`${tbl}_info`].put({
				id: 0,
				active_audio: {},
				analysed_audio_files_media_ids: [],
				analyses_complete: false,
				total_audio_files: this.audioFileList.length,
			})

			console.log(`   ...adding ${tbl}_info fields finished`);
		},

		/*
			async clearLocalData() {
				// Clear local data
				try {
					const [r1, r2, r3, r4] = await Promise.all([
						db.playground.clear(),
						db.playground_finished.clear(),
						db.playground_info.update(0, {
							id: 0,
							active_audio: {},
							analysed_audio_files_media_ids: [],
							analyses_complete: false,
							total_audio_files: 0,
						})
					])
				}
				catch (error) {
					console.error('An error happened when trying to delete local data:', error)
				}
			},
		*/

	},
}

</script>




<!-- Download button -->
<!--
<span class="flex flex-row items-start gap-x-1 ml-2">
	<font-awesome-icon
		title="Download Result as JSON"
		class="text-blue-500 hover:text-blue-600 cursor-pointer"
		:icon="['fas', 'download']"
		@click="downloadResult({ taskFileId: file.id, appSection: 'playground' })"
	/>
	<font-awesome-icon
		:icon="['fas', 'info-circle']"
		class="select-none w-3 h-3 cursor-pointer"
		title="What is this button good for?"
		@click="$nuxt.$emit('showInfoModal', {
			modal_domain: 'INFORMATION_ABOUT_BUTTONS',
			content_domain: 'DOWNLOAD_RESULT_BUTTON'
		})"
	/>
</span>




* How to check, if there are already cues for the loaded audio file available?
* And why do we want to check if cues belong to an id?
*
* Remember: vuex getters CANNOT have additional parameters others than "store",
* so we cannot send along the id of the audio file and test within the getter
* if cues for the appropriate audio file with id XY exist.
*
* Also remember: vuex actually hold cues for only 1 file at the time. When the
* file changes, we need to clear vuex and start anew. But: what happens if the
* app shuts down unexpectedly? Cues have already been save... will the user
* open the same file...? Actually, in this case the user should not be allowed
* to decide which file to open, but instead a "repair" process should set up
* the "lost" state. However, this might not work for Playground (check this!).
* So even if we know that the cues available from vuex can only belong to the
* one file, we better setup an id check, anyway. – But how?
*
* How about this:
* 1. once an audio fielwas clicked, get id from vuex first, before audio is
*    loaded
* 2. if an id exists:
*    - check, if it is equal to the currently loaded file (is this done in
*      playground or waveform?)
*    - if the ids match, check, if there are cues assigned to it in vuex
*      (what kind of json structure do we need for that?)
*    - if there are cues, load them (also check the step state...)
*    - if not, don't, and just load the audio file (but keep the id)
* 3. if it does NOT exist:
*    - Simpley create a new id in Vuex
*    - load the audio file
* 4. Always remember that we need to send along the offset markers
*
-->