<template>
	<div class="absolute inset-0 flex flex-col h-full px-6 overflow-hidden">
		<FormulateForm
			v-if="formData"
			v-slot="{ hasErrors }"
			ref="regstration-form"
			v-model="formValues"
			:errors="inputErrors"
			:form-errors="formErrors"
			class="form-wrapper active-fieldset-0 relative flex flex-row w-3/4 max-w-5xl h-full mx-auto my-12 overflow-hidden"
			name="pod-registration-form"
			@submit="submitHandler"
		>
			<div
				class="[ all-fieldsets ] absolute inset-x-0 top-0 bottom-24 overflow-x-hidden overflow-y-auto"
			>
				<fieldset class="fieldset-0">
					<FormIntroHeader title="Personal Data" />

					<FormulateInput
						id="personal_data_salutation"
						type="select"
						name="salutation"
						label="Title"
						placeholder="Select an option"
						:options="{
							female: 'Ms.',
							male: 'Mr.',
							other: 'Other',
						}"
						class="w-2/6"
						error-behavior="live"
						:validation="[getIsTesting ? '' : 'required']"
						:validation-messages="{
							required: 'Title is required.',
						}"
					/>

					<div class="flex flex-column flex-nowrap justify-between">
						<FormulateInput
							id="personal_data_first_name"
							type="text"
							name="first_name"
							label="Enter your first name"
							class="w-2/6"
							error-behavior="live"
							:validation="[getIsTesting ? '' : 'required']"
							:validation-messages="{
								required: 'First name is required.',
							}"
						/>
						<FormulateInput
							id="personal_data_middle_initial"
							type="text"
							name="middle_initial"
							label="Middle initial"
							class="w-1/6"
						/>
						<FormulateInput
							id="personal_data_last_name"
							type="text"
							name="last_name"
							label="Enter your last name"
							class="w-2/6"
							error-behavior="live"
							:validation="[getIsTesting ? '' : 'required']"
							:validation-messages="{
								required: 'Last name is required.',
							}"
						/>
					</div>

					<FormulateInput
						id="personal_data_date_of_birth"
						type="date"
						name="date_of_birth"
						label="Date of birth"
						min="1901-01-01"
						max="2021-01-01"
						class="w-2/6"
						error-behavior="live"
						validation="after:01/01/1901|before:01/01/2018"
						:validation-messages="{
							before: 'Date of birth must be between beginning of 1901 and end of 2017',
							after: 'Date of birth must be between beginning of 1901 and end of 2017'
						}"
					/>

					<div class="flex flex-column flex-nowrap justify-between">
						<FormulateInput
							id="personal_data_email"
							type="email"
							name="email"
							label="Enter your email address"
							class="w-2/5"
							error-behavior="live"
							validation="required|email"
						/>
						<FormulateInput
							id="personal_data_phone"
							type="text"
							name="phone"
							label="Enter your phone number"
							help="Optional, but it would help us if we need to get in touch with you."
							class="w-2/5"
							validation="matches:/^[+]*[-\s\./0-9]*$/"
						/>
					</div>
				</fieldset>

				<fieldset class="fieldset-1">
					<FormIntroHeader title="Questionaire about your musical education" />

					<FormulateInput type="group" name="expertise">
						<div class="relative w-full mb-6">
							<FormInputHeader :quiz-data="formData.quizzes[0]" :small="false" />

							<section
								:id="`question_id_${formData.quizzes[0].id}`"
								:data-question="getSluggedTxt(formData.quizzes[0].question)"
								:data-formfield_name="getSluggedTxt(formData.quizzes[0].formfield_name)"
								class="quiz-answers mb-8 ml-4"
							>
								<FormulateInput
									:v-model="''"
									:type="formData.quizzes[0].type"
									:options="createAnswerOptions(formData.quizzes[0].answer_options)"
									:name="getSluggedTxt(formData.quizzes[0].formfield_name)"
									:validation="[getIsTesting ? '' : 'required']"
									:validation-messages="{
										required: 'Please select an option.'
									}"
									error-behavior="live"
									:class="[]"
								/>
							</section>
						</div>

						<!-- DEPENDENT FORM -->
						<div class="relative w-full pl-6 mb-6" :class="[isActive ? '-mt-6' : '']">
							<!-- has no header! -->
							<section
								:id="`question_id_${formData.quizzes[1].id}`"
								:data-question="getSluggedTxt(formData.quizzes[1].question)"
								:data-formfield_name="getSluggedTxt(formData.quizzes[1].formfield_name)"
								class="quiz-answers mb-8 ml-4"
							>
								<FormulateInput
									v-if="!hideDependentForm"
									:v-model="[]"
									:type="formData.quizzes[1].type"
									:options="createAnswerOptions(formData.quizzes[1].answer_options)"
									:name="getSluggedTxt(formData.quizzes[1].formfield_name)"
									:validation="isActive ? 'required' : ''"
									:validation-messages="{
										required: 'Please select an option.'
									}"
									error-behavior="live"
									class="small"
								/>
							</section>
						</div>

						<div class="relative w-full mb-6">
							<FormInputHeader :quiz-data="formData.quizzes[2]" :small="false" />

							<section
								:id="`question_id_${formData.quizzes[2].id}`"
								:data-question="getSluggedTxt(formData.quizzes[2].question)"
								:data-formfield_name="getSluggedTxt(formData.quizzes[2].formfield_name)"
								class="quiz-answers mb-8 ml-4"
							>
								<FormulateInput
									:v-model="''"
									:type="formData.quizzes[2].type"
									:options="createAnswerOptions(formData.quizzes[2].answer_options)"
									:name="getSluggedTxt(formData.quizzes[2].formfield_name)"
									:validation="[getIsTesting ? '' : 'required']"
									:validation-messages="{
										required: 'Please select an option.'
									}"
									error-behavior="live"
									:class="[]"
								/>
							</section>
						</div>
					</FormulateInput>
				</fieldset>

				<fieldset class="fieldset-2">
					<FormIntroHeader title="Agreements" />

					<div class="relative w-full pb-4 mb-6 border-b border-gray-200">
						<header v-if="formData.accept_terms_and_conditions_text" class="mb-6">
							<h1 class="text-xl font-medium mb-0">{{ formData.accept_terms_and_conditions_text.header }}</h1>
						</header>

						<div
							v-if="formData.accept_terms_and_conditions_text"
							v-html="formData.accept_terms_and_conditions_text.content"
						></div>

						<div class="flex flex-row gap-3 items-center">
							<!---->
							<button
								class="btn btn-medium btn-secondary"
								@click.prevent="$nuxt.$emit('showContentModal', {
									domain: 'IMPRINT'
								})"
							>Imprint & Disclaimers</button>

							<button
								class="btn btn-medium btn-secondary"
								@click.prevent="$nuxt.$emit('showContentModal', {
									domain: 'GDPR'
								})"
							>PoD General Data Protection Regulation</button>
						</div>
					</div>

					<FormulateInput
						name="gdpr"
						label="I agree to the terms & conditions that are outlined by the IMPRINT & DISCLAIMERS and the GENERAL DATA PROTECTION REGULATION."
						type="checkbox"
						:validation="[getIsTesting ? '' : 'required']"
						:validation-messages="{
							required: 'Please read and accept our Terms & Conditions outlined in the IMPRINT & DISCLAIMERS and the GENERAL DATA PROTECTION REGULATION.',
						}"
						error-behavior="live"
					></FormulateInput>

					<FormulateInput type="hidden" name="yammy-yammi-pot"></FormulateInput>
				</fieldset>
			</div>

			<div
				class="[ all-buttons ] absolute right-0 bottom-0 left-0 h-12 pt-2 border-t flex flex-row items-center"
			>
				<div class="w-1/3 prev">
					<button
						class="btn btn-medium btn-secondary btn-prev flex items-center gap-2 leading-none"
						@click.prevent="prevFieldset()"
					>
						<font-awesome-icon :icon="['fas', 'chevron-left']" />
						<span>prev</span>
					</button>
				</div>

				<div v-if="!savingData" class="w-1/3 text-center">
					<FormulateInput
						:class="[hasErrors ? 'btn-error-wrapper' : 'btn-success-wrapper']"
						type="submit"
						:disabled="hasErrors"
						:label="hasErrors ? 'Required fields are missing.' : 'Submit'"
					/>
				</div>

				<div v-if="savingData" class="w-1/3 text-center">
					<FormulateInput
						class="btn-success-wrapper"
						type="submit"
						:disabled="true"
						label="Sending data..."
					/>
				</div>

				<div class="w-1/3 next ml-auto mr-0">
					<button
						class="btn btn-medium btn-secondary btn-next flex items-center gap-2 ml-auto leading-none"
						@click.prevent="nextFieldset()"
					>
						<span>next</span>
						<font-awesome-icon :icon="['fas', 'chevron-right']" />
					</button>
				</div>
			</div>
		</FormulateForm>

		<Topic header="Registration Form"></Topic>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie'
import FormIntroHeader from '@/components/form/FormIntroHeader.vue'
import FormInputHeader from "@/components/form/FormInputHeader.vue"
import Topic from '@/components/Topic.vue'
import registrationForm from '@/mixins/registrationForm.js'

export default {
	components: {
		FormIntroHeader,
		FormInputHeader,
		Topic
	},

	mixins: [
		registrationForm
	],

	transition: {
		name: 'fade',
		mode: 'out-in',
	},

	async asyncData(ctx) {
		console.info('\nREGISTRATIONFORM: asyncData invoked');
		const formData = await ctx.$axios.get('/application-form')

		/**
		 * Form dependency: show a form only, when a certain value of another form
		 * element is given in Nuxt's / VueFormulate's formValues
		 * - Find a form that is dependent on the value of another form
		 * - Re-assign the result to that very form object to a new obj
		 */
		const quizzes = formData.data.quizzes
		let expertLevel = 'non-expert'

		for (const f of quizzes) {
			if (f.formfield_name === 'training_level') {
				for (let i = 0; i < f.answer_options.length; i++) {
					const a = f.answer_options[i]
					if (a.expertise_level === 'expert') {
						expertLevel = ctx.$slugify(a.answer)
					}
				}
			}
		}

		return {
			formData: formData.data,
			expertLevel
		}
	},

	data() {
		return {
			formValues: null,
			formErrors: [],
			inputErrors: {},
			expertLevel: '',
			savingData: false,
			hideDependentForm: true,
			participantId: undefined
		}
	},

	computed: {
		...mapGetters('status', ['getSettings', 'getIsTesting']),

		isActive() {
			if (!this.hideDependentForm) {
				return true;
			}

			return false;
		},
	},

	mounted() {
		console.info('\nREGISTRATION FORM: mounted() invoked');

		this.formWrapper = document.querySelector('.form-wrapper')
		this.fieldsetsTotal = this.formWrapper.querySelectorAll('fieldset')

		setTimeout(() => {
			this.checkIfAlreadyRegistered()
		}, 350)
	},

	methods: {
		async checkIfAlreadyRegistered() {
			console.info('\nREGISTRATION FORM: checkIfAlreadyRegistered invoked');
			const query = await db.registrationData.toArray()
			console.log('   query[0] =', query[0]);

			if (query.length) {
				$nuxt.$emit('showFeedbackModal', {
					strict: true,
					phase: this.getSettings.phase,
					message: "You participant ID: " + query[0].id,
					message_type: 'success',
					modal_domain: 'REGISTRATION',
					content_domain: 'ALREADY_REGISTERED'
				})
			} else {
				console.log('   no registration data found')
			}
		},

		/**
		 * Save form data
		 *
		 * This is a weid situation: if the if-clause is wrong, NO `await` is possible;
		 * but we need this function to be async, because if the if-clause is true,
		 * we save to the DB, which needs await. If both actions would be handled
		 * within the same function, the error clause would cuase weird troubles.
		 * Therefore split this task into 2 functions.
		 */
		submitHandler(data) {
			// Only for dev mode, when validation is switched off. Otherwise this
			// should not be necessary, since we do a validation check
			console.info('\nREGISTRATION FORM submitHandler');
			console.info('   data =', data);

			if (!Object.keys(data).length) {
				console.log('   No data given');
			}

			// If the honeypot has data, return
			if (data['yammy-yammi-pot'] && data['yammy-yammi-pot'] !== '') {
				console.error('   Honeypot error');
				throw new Error('This form has invalid data, probably added by a bot.')
			}
			else {
				this.prepareSubmitData(data)
			}
		},

		async prepareSubmitData(data) {
			console.log(' ');
			console.log('--------------');
			console.group('REGISTRATION FORM: prepareSubmitData');
			console.info('data =', data);

			// Change form status implement a loader indicator
			this.savingData = true

			// remove the honeypot entry from the data
			delete data['yammy-yammi-pot']

			/**
			 * Data is saved to strapi fields (then it is easier to check against unique
			 * email addresses) as well as to IndexedDB (then a task file will have all
			 * data together)
			 * Structure the data as strapi needs it
			 */
			const restructuredData = {
				display_name: data.last_name + ', ' + data.first_name,
				email: data.email,
			}

			if (data.middle_initial) {
				restructuredData.display_name = restructuredData.display_name + ' ' + data.middle_initial + '.'
			}

			restructuredData.jsondata = {}
			restructuredData.jsondata.participant_data = {
				gender: data.salutation,
				date_of_birth: data.date_of_birth,
			}
			restructuredData.jsondata.person = {
				gender: data.salutation,
				display_name: restructuredData.display_name,
				first_name: data.first_name,
				middle_initial: data.middle_initial || '',
				last_name: data.last_name,
				date_of_birth: data.date_of_birth,
				email: data.email,
				phone: data.phone || '+00-000-0000000'
			}

			if (data.expertise && data.expertise[0]) {
				restructuredData.jsondata.musical_expertise = data.expertise[0]

				if (data.expertise[0].training_level === this.expertLevel) {
					restructuredData.jsondata.musical_expertise.expert = true
					restructuredData.jsondata.participant_data.expert = true
					restructuredData.expert = true
				} else {
					restructuredData.jsondata.musical_expertise.expert = false
					restructuredData.jsondata.participant_data.expert = false
					restructuredData.expert = false
				}
			}

			// Save according to project phase
			if (this.getSettings.phase === 'TEST') {
				restructuredData.participantId = -1
				this.saveRegistrationDataToIndexedDB(restructuredData)

				// Clear the form
				this.$formulate.reset('pod-registration-form')
				this.$refs['regstration-form'].registry.map(input => {
					input.formShouldShowErrors = true;
					return true
				})
			}

			if (this.getSettings.phase === 'PILOT') {
				console.log('saving registration data as pilot participant to PILOT now:');

				const strapiResponse = await this.savePilotParticipant(restructuredData)
					.then(strapiResponse => {
						// console.log('   > strapiResponse =', strapiResponse);
						// console.log('   > strapiResponse.status =', strapiResponse.status);
						// console.log('   > strapiResponse.statusText =', strapiResponse.statusText);

						// Important: when saving to indexedDB, the id must be the same that was
						// returned from strapi. Otherwise the online validatin check, when
						// entering the pilot experiment, will fail!!!
						this.saveRegistrationDataToIndexedDB(strapiResponse.data)
					})
					.catch(err => {
						console.error('   Saving registration data to strapi failed. Response was rejected (possibly due to unique value constraint or RestAPI not accessible): err =', err);

						$nuxt.$emit('showFeedbackModal', {
							phase: this.getSettings.phase,
							message: 'There was an error saving your data. Possible reason: Email already in use?',
							message_type: 'warn',
							modal_domain: 'REGISTRATION',
							content_domain: 'REGISTRATION_ERROR'
						})
					})

				this.savingData = false
				// Clear the form
				this.$formulate.reset('pod-registration-form')
			}

			if (this.getSettings.phase === 'EXPERIMENT') {
				console.log('   saving registration data to EXPERIMENT now (to be implemented yet:');
				this.saveExperimentParticipant(restructuredData)
			}

			console.groupEnd()
			console.log('--------------');
			console.log(' ');
		},

		/**
		 * SAVE DATA TO SERVER AND INDEXEDDB OPTIONS
		 */
		saveExperimentParticipant(data) {
			console.group("REGISTRATION FORM: saveExperimentParticipant invoked")
			console.log('data =', data);

			// Send the data to strapi
			const result = this.$axios.post('/experiment-participants', data)
				.then(response => {
					// Save to IndexedDB
					return response.data
				})
				.catch(error => {
					console.log('saveExperimentParticipant: error =', error);

					if (error.response) {
						// The request was made and the server responded with a status code
						// that falls out of the range of 2xx
						console.log('saveExperimentParticipant: error.response.data:', error.response.data);
						console.log('saveExperimentParticipant: error.response.status:', error.response.status);
						console.log('saveExperimentParticipant: error.response.headers:', error.response.headers);
					}
					else if (error.request) {
						// The request was made but no response was received
						// `error.request` is an instance of XMLHttpRequest in the browser
						// and an instance of http.ClientRequest in node.js
						console.log('saveExperimentParticipant: error.request', error.request);
					}
					else {
						// Something happened in setting up the request that triggered an Error
						console.log('saveExperimentParticipant: Error', error);
					}

					console.log('saveExperimentParticipant: Error config:', error.config);
				})
				.finally(() => {
					console.groupEnd()
				})
		},

		savePilotParticipant(data) {
			console.group("REGISTRATION FORM: savePilotParticipant invoked")
			console.log('data =', data);

			// Send the data to strapi
			return new Promise((resolve, reject) => {
				this.$axios.post('/pilot-participants', data)
					.then(response => {
						// console.log('   then response =', response);
						resolve(response)
					})
					.catch(error => {
						// console.error('   savePilotParticipant: error =', error);
						// // Duplicate field errors should return 400, but strapi returns 500! keep that in mind!

						// if (error.response) {
						// 	// The request was made and the server responded with a status code
						// 	// that falls out of the range of 2xx
						// 	console.error('   savePilotParticipant: error.response:', error.response);
						// }
						// else if (error.request) {
						// 	// The request was made but no response was received
						// 	// `error.request` is an instance of XMLHttpRequest in the browser
						// 	// and an instance of http.ClientRequest in node.js
						// 	console.error('   savePilotParticipant: error.request', error.request);
						// }
						// else {
						// 	// Something happened in setting up the request that triggered an Error
						// 	console.error('   savePilotParticipant: Error', error);
						// }

						reject(error)
					})
					.finally(() => {
						// console.log('  ');
						// console.log('>>> Save registration data to strapi`s pilot_participants table finished.')
						// console.log('  ');
						console.groupEnd()
					})
			})
		},

		saveTestParticipant(data) {
			console.log("SAVE TEST PARTICIPANT invoked . probably never to be integrated")
		},

		async saveRegistrationDataToIndexedDB(formData) {
			console.group('REGISTRATION FORM: saveRegistrationDataToIndexedDB');
			// console.log('formData =', formData);
			// console.log('this.getSettings.phase =', this.getSettings.phase);
			const dataAvailable = await db.registrationData.toArray()
			// console.log('dataAvailable =', dataAvailable);

			if (!dataAvailable.length) {
				const result = await db.registrationData.put(formData)

				$nuxt.$emit('showFeedbackModal', {
					strict: true,
					phase: this.getSettings.phase,
					message: 'Your participant ID: ' + result,
					message_type: 'info',
					modal_domain: 'REGISTRATION',
					content_domain: 'REGISTRATION_SUCCESSFUL'
				})
			}
			else {
				// Do this in a "non-breaking" way
				// TODO: This needs a different Error scenario, because at this point the data was already
				//       saved on the server; so trying t register again will fail...
				//       (This probably should never happen!)
				console.error('Error saving data to indexedDB´s registration table: Data already available: ', dataAvailable)

				$nuxt.$emit('showFeedbackModal', {
					strict: false,
					phase: this.getSettings.phase,
					message: 'Error saving the registration data to indexedDB: Data is already available.',
					message_type: 'error',
					modal_domain: 'REGISTRATION',
					content_domain: 'REGISTRATION_ERROR'
				})
			}

			console.groupEnd()
		},
	}
}
</script>
