<template>
  <div class="[ nuxt-changed-content-wrapper ]">
    <div v-if="isLoading">Loading...</div>

    <div v-if="!isLoading && Object.keys(regData).length" class="flex flex-col max-w-5xl overflow-y-scroll">
      <h1 class="flex flex-row items-end justify-between gap-x-3 w-full">
        Review
        <div v-if="isRestoring" class="text-xs text-crimson-700">...restoring data...</div>
        <div class="text-crimson-700 text-xs">PLEASE SCROLL DOWN AND CLICK FINISH</div>
      </h1>

      <div class="flex flex-row w-full border rounded min-w-3xl mb-2">
        <div v-if="completeResults && completeResults.length" class="flex flex-col p-0 w-full">
          <div class="flex flex-row bg-gray-200 text-gray-800">
            <!-- <th class="w-1/4 py-1 px-2 border-r-1 border-gray-400">Pilot Experiment ID</th> -->
            <div :class="[getSettings.show_composition_info_on_table ? 'w-1/4' : 'w-1/3']"
              class="py-1 px-2 border-r-1 border-gray-400">Local Tasks done</div>
            <div :class="[getSettings.show_composition_info_on_table ? 'w-1/4' : 'w-1/3']"
              class="py-1 px-2 border-r-1 border-gray-400">Saved Remote Tasks</div>
            <div v-if="getSettings.show_composition_info_on_table" class="w-1/4 py-1 px-2 border-r-1 border-gray-400">
              Composition</div>
            <div :class="[getSettings.show_composition_info_on_table ? 'w-1/4' : 'w-1/3']" class="py-1 px-2">Action
            </div>
          </div>

          <div v-for="task in completeResults" :key="task.filename" class="flex flex-col w-full">
            <div class="block bg-gray-100 w-full px-2 py-1 text-sm">
              <b>{{ task.localTask.results.fileData.title }}</b>
              <span class="ml-8 text-xs">Unique identifier = filename:
                <b>{{ task.filename }}</b></span>
            </div>

            <div class="flex flex-row w-full p-0 rounded text-xs text-gray-400">
              <div :class="[getSettings.show_composition_info_on_table ? 'w-1/4' : 'w-1/3']"
                class="border-r p-2 overflow-x-scroll">
                <div v-if="!task.localTask.error" class="text-xs p-0 m-0">
                  Task ID:
                  <b>{{ task.localTask.task_id }}</b>
                  <br />Total # of cues:
                  <b>{{ Object.keys(task.localTask.results.combinedCues).length }}</b>
                  <br />
                  <span class="whitespace-nowrap">Filename: {{ task.localTask.filename }}</span>
                </div>
                <div v-else class="text-crimson-700">{{ task.localTask.error }}</div>
              </div>

              <div :class="[getSettings.show_composition_info_on_table ? 'w-1/4' : 'w-1/3']"
                class="border-r p-2 overflow-x-scroll">
                <div v-if="!task.remoteTask.error" class="p-0 m-0">
                  Task ID:
                  <b>{{ task.remoteTask.task_id }}</b>
                  <br />Total # of cues:
                  <b>{{ Object.keys(task.remoteTask.results.combinedCues).length }}</b>
                  <br />
                  <span class="whitespace-nowrap">Filename: {{ task.remoteTask.filename }}</span>
                </div>
                <div v-else class="text-crimson-700">{{ task.remoteTask.error }}</div>
              </div>

              <div v-if="getSettings.show_composition_info_on_table" class="w-1/4 p-2 overflow-x-scroll">
                <div v-html="task.localTask.results.fileData.description" />
              </div>

              <div :class="[getSettings.show_composition_info_on_table ? 'w-1/4' : 'w-1/3']" class="p-2">
                <div v-if="task.remoteTask.error" class="text-crimson-700">
                  <div v-if="!task.localTask.error" class="w-full">
                    <div>ACTION required</div>
                    <button class="btn btn-medium btn-error"
                      @click="restoreRemoteTask(task.localTask.id, task.localTask.filename)">Restore remote
                      task</button>
                  </div>
                  <div v-else class="text-crimson-700">For this task there is neither a local not a remote result
                    available. It cannot be restored</div>
                </div>
                <div v-else class="flex gap-x-2">
                  <font-awesome-icon class="text-green-500" :icon="['fas', 'check']" />
                  <span class="text-2xs text-gray-300">(no action required)</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-else>No results available</div>
      </div>

      <div v-if="pilotInfo.id !== null" class="flex flex-col w-full mb-2 text-xs text-gray-400">
        <div class="hidden">Registration data: pilot ID: {{ regData[0].pilot_id }}</div>
        <div class="hidden flex-row w-full">
          <div class="w-1/3">Pilot Experiment data: pilot ID: {{ pilotInfo.id }}</div>
          <div class="w-1/3">total # of tasks: {{ pilotInfo.totalMp3s }}</div>
          <div class="w-1/3">saved results: {{ pilotInfo.totalResults }}</div>
        </div>
        <div class="flex flex-row w-full justify-between">
          <div>
            Total # of tasks is equal to total # of saved results:
            <span class="font-bold"
              :class="[pilotInfo.totalMp3s === pilotInfo.totalResults ? 'text-green-600' : 'text-crimson-700']">{{
                  pilotInfo.totalMp3s === pilotInfo.totalResults
              }}</span>
          </div>

          <div v-if="errors.length" class="pl-2">
            Total errors found:
            <span class="text-crimson-700">{{ errors.length }}</span>
          </div>
        </div>
      </div>

      <div v-if="errors.length" class="flex flex-col w-full mb-2 text-xs text-gray-400"
        :class="[errors.length ? 'text-crimson-700 font-bold' : '']">Please fix the errors by clicking ont he respective
        buttons</div>
      <div v-else class="flex flex-row items-center justify-between text-green-500">
        <div>Everything seems to be ok. Please click on the "Finish Experiment" button.</div>
        <button class="btn btn-medium btn-success" @click="exitPilotExperiment">Finish Experiment</button>
      </div>
    </div>
    <Topic header="Review"></Topic>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie'
import Topic from '@/components/Topic'

const consCol = 'color:darkorange'
const consColWarn = 'color:crimson'

export default {
  components: { Topic },
  data: () => ({
    isLoading: false,
    isRestoring: false,
    localTasks: {},
    remoteTasks: {},
    regData: {},
    pilotInfo: {
      id: null,
      totalMp3s: null,
      totalResults: null
    },
    completeResults: [],
    errors: []
  }),

  computed: {
    ...mapGetters('status', ['getSettings'])
  },

  async mounted() {
    this.isLoading = true
    console.log('this.getSettings =', this.getSettings);
    await this.getRegData()
    // console.log('this.regData[0] =', this.regData[0]);
    await this.getLocalTasks()
    // console.log('this.localTasks =', this.localTasks);
    console.log('this.completeResults =', this.completeResults);
    await this.getPilotExperiment()
    // console.log('this.pilotInfo =', this.pilotInfo);
    this.isLoading = false
  },

  methods: {
    async getRegData() {
      this.regData = await db.registrationData.toArray()
      // console.log('this.regData =', this.regData);
    },

    async getPilotExperiment() {
      try {
        const res = await this.$axios.get(`/pilots/${this.regData[0].pilot_id}`)
        const expData = await res.data

        // console.log('expData =', expData);

        this.pilotInfo.id = expData.id
        this.pilotInfo.totalMp3s = expData.mp3_files.length
        this.pilotInfo.totalResults = expData.results_id.length

        // console.log('this.pilotInfo =', this.pilotInfo);
      }
      catch (error) {
        console.error('Error fetching remote tasks. Error =', error)
      }
    },

    async getLocalTasks() {
      try {
        this.localTasks = await db.pilot_finished.toArray()

        // use `for await ( ... of ...)` when there are asyncs involed
        // src: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for-await...of
        for await (const task of this.localTasks) {
          const obj = {}
          obj.filename = task.filename
          obj.localTask = task
          obj.remoteTask = await this.getRemoteTask(task.filename)

          // console.log('obj =', obj);

          this.completeResults.push(obj)
        }
      }
      catch (error) {
        console.error('Error fetching remote tasks. Error =', error)
      }
    },

    async getRemoteTask(filename) {
      // console.log('filename =', filename);
      let remoteTask

      try {
        // Search remote task using `filename` (see strapi controller for changes)
        const res = await this.$axios.get(`/results/${filename}`)
        remoteTask = await res.data
        // console.log('found matching remoteTask =', remoteTask);

        return remoteTask
      }
      catch (error) {
        console.error('Error finding a remote task that exists locally!')

        this.errors.push(filename)

        remoteTask = { error: 'No matching remote task result found for ' + filename }
        return remoteTask
      }
      finally {
        /*  */
        // return remoteTask
      }
    },

    async restoreRemoteTask(id, filename) {
      console.group('%cREVIEW restoreRemoteTask() invoked', consColWarn);
      console.log('id =', id);
      console.log('filename =', filename);

      this.isRestoring = true

      const localTask = await db.pilot_finished.get(id)
      const res = await this.$store.dispatch('experiment/saveToPilot', localTask)

      // Revuild the interface with new info
      this.completeResults = []
      this.errors = []
      await this.getPilotExperiment()
      await this.getLocalTasks()

      this.isRestoring = false

      console.groupEnd()
    },

    async exitPilotExperiment() {
      await this.clearLocalData()
      this.$router.push('/exit')
    },

    async clearLocalData() {
      console.group('%cPILOT clearLocalData invoked', consCol)

      try {
        await db.registrationData.clear()
        await db.pilot.clear()
        await db.pilot_finished.clear()
        await db.pilot_info.update(0, {
          id: 0,
          active_audio: {},
          analysed_audio_files_media_ids: [],
          analyses_complete: false,
          total_audio_files: 0,
        })
      }
      catch (error) {
        console.error('an error happened when trying to delete local data:', error)
      }
      finally {
        console.groupEnd()
      }
    },

  }
}
</script>
