<template>
  <vue-final-modal v-bind="$attrs" classes="modal-container" content-class="modal-content" name="AnalysisCompleteModal"
    :esc-to-close="false" :click-to-close="false" v-on="$listeners">
    <header class="relative flex flex-col items-start justify-start mb-12 mx-4 pb-6 select-none">
      <span class="modal__title">
        <slot name="title">Task saved</slot>
      </span>
      <span class="modal__subtitle">
        <slot name="subtitle"></slot>
      </span>
    </header>

    <div class="flex flex-col flew-nowrap max-h-full m-4 justify-center">
      <div class="flex flex-col flex-nowrap gap-y-4 items-center justify-center mb-6">
        <p class="text-center">You have successfully completed this task.</p>

        <div
          v-if="getSettings.show_composition_info_on_task_finished && params && params.taskFileData && params.taskFileData.description"
          class="mx-auto border rounded p-6 mb-6" v-html="params.taskFileData.description"></div>

        <!-- Download button -->
        <!--
          <span class="flex flex-row items-start gap-x-1 ml-2">
            <font-awesome-icon
              title="Download Result as JSON"
              class="text-blue-500 hover:text-blue-600 cursor-pointer"
              :icon="['fas', 'download']"
              @click="downloadResult(params)"
            />
            <font-awesome-icon
              :icon="['fas', 'info-circle']"
              class="select-none w-3 h-3 cursor-pointer"
              title="What is this button good for?"
              @click="$nuxt.$emit('showInfoModal', {
                modal_domain: 'INFORMATION_ABOUT_BUTTONS',
                content_domain: 'DOWNLOAD_RESULT_BUTTON'
              })"
            />
          </span>
        -->
      </div>

      <div v-if="!getIsExperiment" class="mx-auto btn btn-large btn-green cursor-pointer"
        @click="changeRoute('/playground')">Back to list of tasks</div>

      <div v-else class="mx-auto btn btn-large btn-green cursor-pointer" @click="changeRoute(phaseDependentRoute)">Back
        to list of tasks</div>
    </div>
  </vue-final-modal>
</template>

<script>
/**
 * Important:
 * Modal must not be closeable by click outside nor ESC nor via a close btn.
 */
import { mapGetters } from 'vuex'
// import downloadResult from '@/mixins/downloadResult'

export default {
  name: 'AnalysisCompleteModal',
  // mixins: [
  // downloadResult
  // ],
  data() {
    return {
      showModal: false,
      loading: false,
      params: {}
    }
  },
  computed: {
    ...mapGetters('status', ['getSettings', 'getIsExperiment']),
    phaseDependentRoute() {
      return this.getSettings.phase === 'PILOT' ? '/pilot' : '/experiment'
    },
    appSection() {
      let section = 'playground'
      if (this.getIsExperiment && this.getSettings.phase === 'PILOT') {
        section = 'pilot'
      }
      if (this.getIsExperiment && this.getSettings.phase === 'EXPERIMENT') {
        section = 'experiment'
      }
      return section
    }
  },
  mounted() {
    // Provides the fileId.id, which is actually the taskId
    console.group('%cANALYSIS COMPLETE MODAL mounted() invoked', 'font-weight: bold');
    this.params = this.$children[0].params
    console.log('this.params =', this.params);
    console.log('this.getSettings =', this.getSettings);
    console.groupEnd()
  },
  methods: {
    changeRoute(route) {
      console.log('AnalysisCompleteModal changeRoute: route =', route);
      console.log('this.appSection =', this.appSection);
      console.log('this.params =', this.params);

      this.$router.push({
        path: route,
        params: {
          id: this.params.participantId
        }
      })
    }
  },
}
</script>
