<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    class="modal-opacity"
    classes="modal-container"
    content-class="modal-content modal-content-full min-h"
    v-on="$listeners"
  >
    <header
      class="relative flex flex-col flex-nowrap items-start justify-start w-full h-12 mb-12 px-4 select-none"
    >
      <div
        v-if="params.markerDegree"
        class="modal__title flex flex-row justify-between items-end w-full"
      >
        <span>Provide your reasons for placing the marker here</span>
        <span class="text-2xs ml-auto font-thin" :class="degreeColor">[Marker ID {{ markerId }}]</span>
      </div>

      <div
        class="modal__subtitle relative w-full h-6 flex flex-row justify-between z-50"
        :class="[params.deleted ? 'deleted' : 'not-deleted']"
      >
        <div
          v-if="params.markerDegree < 3"
          class="text-xs whitespace-nowrap"
          :class="validClass"
        >Required for all markers of degree 1 and 2</div>

        <div v-else class="text-xs text-gray-400 whitespace-nowrap">Optional for markers of degree 3</div>

        <div class="flex flex-col text-xs text-gray-500 ml-2">
          <div
            class="flex flex-row gap-x-2 justify-end items-center w-full mb-2 select-none"
            :class="[params.deleted ? 'deleted' : 'not-deleted']"
          >
            <span class="whitespace-nowrap">Opacity of window</span>
            <input v-model="modalOpacity" type="range" min="0.15" max="1" step="0.0125" />
            <span class="w-12 text-right">{{ (modalOpacityVal * 100).toFixed(2) }}%</span>
          </div>

          <!-- Player -->
          <!--
          <div
            class="[ audio-excerpt ] relative flex flex-col flex-nowrap flex-grow-0 px-0 py-1 select-none"
            :class="[params.deleted ? 'deleted' : 'not-deleted']"
          >
            <div class="flex flex-row gap-x-2">
              <div>
                <div v-if="!isPlaying" class="btn-mediaplayer" @click="playAudio()">
                  <font-awesome-icon :icon="['fas', 'play']" class="cursor-pointer" />
                </div>

                <div v-if="isPlaying" class="btn-mediaplayer" @click="stopAudio()">
                  <font-awesome-icon :icon="['fas', 'stop']" class="cursor-pointer" />
                </div>
              </div>

              <div class="flex flex-col flex-grow">
                <input
                  id="audioOffsetSlider"
                  v-model="offset"
                  type="range"
                  name="audioOffset"
                  min="0"
                  max="5"
                  step="0.1"
                  class="w-full"
                />

                <p class="text-xs text-gray-500 select-none mb-0">
                  Start
                  <strong>{{ offset }} sec.</strong> before curr. marker.
                </p>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </header>

    <button class="absolute top-4 right-4" @click="close">
      <svg
        class="block w-5 h-5 cursor-pointer select-none"
        role="button"
        aria-label="Close this modal"
      >
        <use href="#cross" />
      </svg>
    </button>

    <div class="flex flex-row flex-nowrap flex-grow w-full relative max-h-16 z-40">
      <div class="[ descriptor-position-checkboxes ] relative flex flex-row w-full h-14 pr-4">
        <div class="flex flex-row p-1 4-full" :class="[params.deleted ? 'deleted' : 'not-deleted']">
          <div class="[ before ] flex flex-shrink flex-row gap-x-3 items-end px-4">
            <div class="flex flex-col relative">
              <span
                class="transform -rotate-90 origin-top-left p-0 m-0 max-w-0 absolute text-2xs uppercase text-gray-400 tracking-wider leading-none"
              >Before</span>
              <div class="flex flex-row items-center justify-start gap-x-3">
                <span>
                  <input v-model="beforeChecked" type="checkbox" name="beforeCheckbox" />
                </span>
              </div>
            </div>
          </div>

          <div class="[ after ] flex flex-shrink flex-row gap-x-3 items-end px-4">
            <div class="flex flex-col relative">
              <span
                class="transform -rotate-90 origin-top-left p-0 m-0 max-w-0 absolute text-2xs uppercase text-gray-400 tracking-wider leading-none"
              >After</span>
              <div class="flex flex-row items-center justify-start gap-x-3">
                <span>
                  <input v-model="afterChecked" type="checkbox" name="afterCheckbox" />
                </span>
              </div>
            </div>
          </div>

          <div
            class="pl-4 whitespace-nowrap flex items-end select-none"
            :class="[params.deleted ? 'deleted' : 'not-deleted']"
          >
            <div
              v-if="validDescriptorSelection === 0"
              class="flex flex-row gap-x-2 items-center w-full text-primary-500 whitespace-nowrap select-none -ml-4"
            >
              <font-awesome-icon :icon="['fas', 'chevron-left']" />
              <span>Activate a descriptor area</span>
            </div>
            <div
              v-if="validDescriptorSelection === parseInt(1)"
              class="inline-block min-w-full text-yellow-600 whitespace-nowrap"
            >Select a maximum of 3 descriptors in the selected area.</div>
            <div
              v-else-if="validDescriptorSelection === 2"
              class="inline-block min-w-full text-green-500 whitespace-nowrap"
            >Maximum number of descriptors reached.</div>
            <div
              v-else-if="validDescriptorSelection === 3"
              class="inline-block min-w-full text-yellow-600 whitespace-nowrap"
            >Select at least 1 descriptor in each column and a maximum of 3 all together.</div>
            <div
              v-else-if="validDescriptorSelection === 4"
              class="inline-block min-w-full text-green-500 whitespace-nowrap"
            >Maximum number of descriptors reached.</div>
            <div
              v-else-if="validDescriptorSelection === 5"
              class="inline-block text-red-500 whitespace-nowrap"
            >With both options selected, please select at least one descriptor from each column.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row flex-nowrap flex-grow w-full relative min-h-full h-full">
      <!-- COLUMN 1: DESCRIPTORS -->
      <div
        class="[ left-column ] relative flex flex-row flex-nowrap flex-grow min-w-2xl"
        :class="[params.deleted ? 'deleted' : 'not-deleted']"
      >
        <div
          v-if="descriptors"
          class="[ descriptors-table ] absolute inset-0 overflow-y-scroll flex flex-col flew-nowrap w-full max-h-full"
        >
          <div
            class="flex flex-col w-full border rounded-md"
            :class="[validDescriptorSelection === 5 ? 'border-red-500' : '']"
          >
            <div
              v-for="(d, index) in descriptors"
              :key="d.id"
              class="flex flex-row border-bottom"
              :class="{ 'hide-descriptor': !d.visible }"
            >
              <div
                class="flex flex-shrink flex-row gap-x-3 items-center justify-start px-4"
                :class="[beforeChecked === false ? 'opacity-50' : '']"
              >
                <span
                  :class="[beforeChecked === true ? 'text-gray-600' : 'text-gray-300 border-red-500']"
                >
                  <input
                    data-position="before"
                    type="checkbox"
                    :name="_descriptorId((index + 1), '1')"
                    :disabled="!descriptorBeforeActive"
                    @change="handleDescriptor($event)"
                  />
                  <span v-if="getSettings.development">{{ _descriptorId((index + 1), '1') }}</span>
                </span>
              </div>

              <div
                class="flex flex-shrink flex-row gap-x-3 items-center justify-start px-4"
                :class="[afterChecked === false ? 'opacity-50' : '']"
              >
                <span
                  :class="[afterChecked === true ? 'text-gray-600 ' : 'text-gray-300 border-red-500']"
                >
                  <input
                    data-position="after"
                    type="checkbox"
                    :name="_descriptorId((index + 1), '2')"
                    :disabled="!descriptorAfterActive"
                    @change="handleDescriptor($event)"
                  />
                  <span v-if="getSettings.development">{{ _descriptorId((index + 1), '2') }}</span>
                </span>
              </div>

              <div class="pl-4 whitespace-nowrap">{{ d.text }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- COLUMN 2 -->
      <div
        class="[ right-column ] relative flex flex-col flex-nowrap flex-grow gap-y-4 min-h-full max-h-full"
      >
        <div
          class="[ marker-manipulation-options ] relative flex flex-col flex-nowrap flex-grow w-full overflow-y-scroll bg-gray-100 bg-opacity-50 border border-gray-200 rounded-md"
        >
          <div
            class="[ change-marker-degree ] block border-b my-4 px-4 pb-4"
            :class="[params.deleted ? 'deleted' : 'not-deleted']"
          >
            <p class="font-bold">Change marker degree</p>
            <label class="flex flex-row items-center gap-x-3">
              <input
                id="degree1"
                v-model="checkedMarkerDegree"
                value="1"
                type="radio"
                name="degree1"
                @change="handlePointMarkerDegree(1)"
              />
              <span class="text-red-500">1 (very important)</span>
            </label>
            <label class="flex flex-row items-center gap-x-3">
              <input
                id="degree2"
                v-model="checkedMarkerDegree"
                value="2"
                type="radio"
                name="degree2"
                @change="handlePointMarkerDegree(2)"
              />
              <span class="text-blue-500">2 (important)</span>
            </label>
            <label class="flex flex-row items-center gap-x-3">
              <input
                id="degree3"
                v-model="checkedMarkerDegree"
                value="3"
                type="radio"
                name="degree3"
                @change="handlePointMarkerDegree(3)"
              />
              <span class="text-green-500">3 (somewhat important)</span>
            </label>
          </div>

          <div class="[ delete-marker ] block border-b mb-4 px-4 pb-2">
            <p class="font-bold">Delete / restore marker</p>

            <div class="flex flex-row justify-between mb-2">
              <div class="text-xs text-gray-400 select-none">
                Marker is
                <span
                  v-if="updatePointDeletedFlag"
                  class="text-xs text-yellow-600 text-right"
                >being updated</span>
                <span
                  v-else
                  :class="[params.deleted ? 'text-red-500 font-bold' : 'font-bold']"
                >{{ markerDeleted }}</span>
              </div>
              <font-awesome-icon
                v-if="!params.deleted"
                :icon="['fas', 'toggle-off']"
                class="cursor-pointer"
                @click="toggleMarker(params.deleted)"
              />
              <font-awesome-icon
                v-else
                :icon="['fas', 'toggle-on']"
                class="cursor-pointer"
                @click="toggleMarker(params.deleted)"
              />
            </div>
          </div>

          <div
            class="[ remarks ] flex flex-col flex-grow h-full px-4 pb-2"
            :class="[params.deleted ? 'deleted' : 'not-deleted']"
          >
            <div class="flex flex-col">
              <p class="font-bold mb-0">Remarks</p>
              <p class="text-xs text-gray-400">Add your own description (optional)</p>
            </div>

            <textarea
              id="remarks"
              ref="remarks"
              v-model="remarks"
              name="remarks"
              :maxlength="totalRemarkCharacters"
              class="flex flex-col flex-grow w-full border rounded-sm p-1 mb-2 text-sm"
              style="min-height: 120px;"
            ></textarea>

            <div class="flex flex-row gap-x-2 justify-between">
              <div
                class="text-xs"
                :class="[remarks.length > totalRemarkCharactersWarningAt ? 'text-red-500' : 'text-gray-400']"
              >Characters: {{ remarks.length }} (max: {{ totalRemarkCharacters }})</div>
              <div
                class="text-xs text-yellow-600"
                :class="[updateRemarks ? 'flex' : 'hidden']"
              >...saving</div>
            </div>
          </div>
        </div>

        <div
          class="[ audio-excerpt ] relative flex flex-col flex-nowrap flex-grow-0 px-4 py-2 bg-gray-100 bg-opacity-50 border border-gray-200 rounded select-none"
          :class="[params.deleted ? 'deleted' : 'not-deleted']"
        >
          <p class="font-bold">Listen to audio at current marker</p>

          <div class="flex flex-row gap-x-4 mb-2">
            <div>
              <div v-if="!isPlaying" class="btn-mediaplayer" @click="playAudio()">
                <font-awesome-icon :icon="['fas', 'play']" class="cursor-pointer" />
              </div>

              <div v-if="isPlaying" class="btn-mediaplayer" @click="stopAudio()">
                <font-awesome-icon :icon="['fas', 'stop']" class="cursor-pointer" />
              </div>
            </div>

            <div class="flex flex-grow">
              <input
                id="audioOffsetSlider"
                v-model="offset"
                type="range"
                name="audioOffset"
                min="0"
                max="5"
                step="0.1"
              />
            </div>
          </div>

          <p class="text-xs text-gray-500 select-none">
            Start playback
            <strong>{{ offset }} sec.</strong> before curr. marker.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-row items-center justify-between w-full pt-4">
      <div
        class="text-xs text-gray-400"
        :class="[params.deleted ? 'deleted' : 'not-deleted']"
      >Changes are saved in real-time.</div>
      <div v-if="params.markerDegree < 3" class="ml-auto mr-4 font-thin text-xs text-grey">
        Valid:
        <span :class="[validated ? 'text-green-500' : 'text-red-500']">{{ validated }}</span>
        <span v-if="validated">
          <font-awesome-icon class="text-green-500" :icon="['fas', 'check']" />
        </span>
      </div>
      <button class="btn btn-small btn-secondary" @click="close">Close</button>
    </div>
  </vue-final-modal>
</template>

<script>
import { mapGetters } from 'vuex'
import db from '@/db/dexie.js'

const consCol = 'font-weight: bold; color: maroon'

/**
 * The definition of "point" can be found in "Waveform.vue" => addNewMarker => pointOpts ()
 */
export default {
  name: 'DescriptorsModal',
  data: () => ({
    showModal: false,
    loading: false,
    infoTxt: {},
    // Marker Info
    markerId: -1, // only the numbers, stripped off is "peaks.point."
    params: {},
    // Descriptors
    descriptors: [],
    descriptorAfterActive: false,
    descriptorBeforeActive: false,
    maxSelectedDescriptors: 3,
    selectedDescriptors: [],
    activeColumns: 0, // 1: check against 1 col [3 items max], 2: check against 2 col [1 item of each]
    itemsInBeforeCol: 0,
    itemsInAfterCol: 0,
    // Remarks
    remarks: '',
    totalRemarkCharacters: 250,
    totalRemarkCharactersWarningAt: 200,
    remarksTimeoutActive: false,
    // Descriptor validated
    validated: false,
    // Indicators (to show a loading / saving / updating graphic)
    updateNewMarkerDegree: false,
    updatePointDeletedFlag: false,
    updateRemarks: false,
    // Play audio at marker
    isPlaying: false,
    offset: 0,
    // Opacity slider
    modalOpacityVal: 1,
    degreeColor: 'text-red-500'
  }),

  computed: {
    ...mapGetters('status', ['getSettings']),
    ...mapGetters('experiment', ['getCues']),

    beforeChecked: {
      get() {
        // console.log('\n> beforeChecked get this.decriptorBeforeActive =', this.decriptorBeforeActive);
        return this.descriptorBeforeActive
      },
      set(newValue) {
        // console.log('\n> beforeChecked set this.decriptorBeforeActive newValue =', newValue);
        // local (= within this modal) update
        this.descriptorBeforeActive = newValue;
        this._checkValidated()
        // peaks.points update & vuex
        $nuxt.$emit('updateDescriptorPosition', {
          position: 'before',
          value: newValue,
          id: this.params._id,
          validated: this.validated
        })
      }
    },

    afterChecked: {
      get() {
        // console.log('\n> afterChecked get this.decriptorAfterActive =', this.decriptorAfterActive);
        return this.descriptorAfterActive
      },
      set(newValue) {
        // console.log('\n> afterChecked set this.decriptorAfterActive newValue =', newValue);
        this.descriptorAfterActive = newValue;
        this._checkValidated()
        $nuxt.$emit('updateDescriptorPosition', {
          position: 'after',
          value: newValue,
          id: this.params._id,
          validated: this.validated
        })
      }
    },

    // validation depends on selectedDescriptors
    validDescriptorSelection: {
      get() {
        // console.log('\n   > validDescriptorSelection: this.activeColumns =', this.activeColumns);
        if (this.activeColumns === 1 && this.itemsInBeforeCol < this.maxSelectedDescriptors && this.itemsInAfterCol < this.maxSelectedDescriptors) {
          return 1
        }
        else if (this.activeColumns === 1 && (this.itemsInBeforeCol >= this.maxSelectedDescriptors || this.itemsInAfterCol >= this.maxSelectedDescriptors)) {
          return 2
        }
        else if (this.activeColumns === 2 && this.itemsInBeforeCol < this.maxSelectedDescriptors && this.itemsInAfterCol < this.maxSelectedDescriptors && (this.selectedDescriptors.length < this.maxSelectedDescriptors)) {
          return 3
        }
        else if (this.activeColumns === 2 && (this.itemsInBeforeCol < this.maxSelectedDescriptors) && (this.itemsInAfterCol < this.maxSelectedDescriptors) && (this.selectedDescriptors.length >= this.maxSelectedDescriptors)) {
          return 4
        }
        else if (this.activeColumns === 2 && (this.itemsInBeforeCol >= this.maxSelectedDescriptors || this.itemsInAfterCol >= this.maxSelectedDescriptors)) {
          return 5
        }

        return 0
      }
    },

    validClass() {
      if (this.params.markerDegree < 3) {
        if (this.validated) {
          return 'text-green-500'
        } else {
          return 'text-red-500'
        }
      }

      return 'text-gray-400'
    },

    checkedMarkerDegree: {
      get() {
        return this.params.markerDegree
      },
      set(val) {
        this.params.markerDegree = val
      }
    },

    markerDeleted() {
      return this.params.deleted ? 'deleted' : 'visible'
    },

    modalOpacity: {
      get() {
        return this.modalOpacityVal
      },
      set(val) {
        // console.log('set modalOpacity: val =', val);
        this.modalOpacityVal = val
        document.documentElement.style.setProperty('--modal-opacity', val)
      }
    },

    currentColor: {
      get() {
        return this.degreeColor
      },
      set(val) {
        this.degreeColor = val
      }
    }
  },

  watch: {
    // When the before / after checkbox is deactivated, clear all descriptor checkboxes
    beforeChecked(newVal) {
      if (!newVal) {
        this.removeSelectedCheckboxesOfSelectedDescriptorArea('before')
        // Decrease activeColumns
        this.adjustActiveColumnsCount('-')
      } else {
        // Increase activeColumns
        this.adjustActiveColumnsCount('+')
      }
    },

    afterChecked(newVal) {
      if (!newVal) {
        this.removeSelectedCheckboxesOfSelectedDescriptorArea('after')
        // Decrease activeColumns
        this.adjustActiveColumnsCount('-')
      } else {
        // Increase activeColumns
        this.adjustActiveColumnsCount('+')
      }
    },

    remarks() {
      if (!this.remarksTimeoutActive) {
        setTimeout(() => {
          this.handleRemarks()

          this.remarksTimeoutActive = false
        }, 700)

        this.remarksTimeoutActive = true
      }
    }
  },

  async mounted() {
    console.log('  ');
    console.log('------------------------------');
    console.info('> DESCRIPTORS MODAL mounted()')
    console.log('------------------------------');
    console.log('  ');
    console.log('   this.getSettings =', this.getSettings);
    console.log('   this.descriptorsBeforeActive =', this.descriptorsBeforeActive);
    console.log('   this.descriptorsAfterActive =', this.descriptorsAfterActive);
    console.log('   this.itemsInBeforeCol =', this.itemsInBeforeCol);
    console.log('   this.itemsInAfterCol =', this.itemsInAfterCol);
    console.log('   this.activeColumns =', this.activeColumns);
    console.log('   this.$children[0].params; =', this.$children[0].params);

    // Delete keyboard event listeners (otherwise typing remarks will trigger
    // the play event as soon as the spacebar is hit, or add markers, when 1, 2
    // or 3 is used). They MUST be activated again in beforeDestroy()
    // Methods can be found in mixin keyEvents.js
    $nuxt.$emit('removeKeyEventListeners')

    // Set opacity value (saved from a previously opened modal)
    const opacityValue = getComputedStyle(document.documentElement).getPropertyValue('--modal-opacity')
    this.modalOpacityVal = parseFloat(opacityValue)
    document.documentElement.style.setProperty('--modal-opacity', parseFloat(opacityValue))

    // load all descriptors from indexedDB async!
    await this.getDescriptors()

    // get params sent to this vue-final-modal
    this.params = this.$children[0].params;

    // This is called in MIXIN: audioPlayerMethods (part of Waveform.vue)
    $nuxt.$on('setIsPlayingToFalseInDescriptorModal', this.isPlaying = false)

    // This will only work, when "this.getDescriptors" (see above) was loaded async!
    this.updateParametersOnInitialModalOpening()
  },

  beforeDestroy() {
    $nuxt.$off('setIsPlayingToFalseInDescriptorModal')

    // Activate KeyboardEvents handler again
    $nuxt.$emit('addKeyEventListeners')
  },

  methods: {
    /**
     * Load descriptors on modal opening
     */
    async getDescriptors() {
      this.descriptors = await db.descriptors.toArray()
      return true
    },

    /**
     * Update parameters on initial modal opening
     */
    updateParametersOnInitialModalOpening() {
      console.log('%cDESCRIPTOR MODAL updateParametersOnInitialModalOpening invoked', consCol);
      console.log('   this.params =', this.params);

      // Activate before/after checkboxes
      this.descriptorBeforeActive = this.params.descriptorBeforeActive
      this.descriptorAfterActive = this.params.descriptorAfterActive

      this.itemsInBeforeCol = this.params.itemsInBeforeCol || 0
      this.itemsInAfterCol = this.params.itemsInAfterCol || 0

      // "activeColums" is set automatically via watcher

      this.params.descriptors.forEach(descr => {
        this.selectedDescriptors.push(descr)
      })

      // Set checkboxes to active, when selected
      const allCBs = document.querySelectorAll('.descriptors-table input[type="checkbox"]')
      const allCBsArr = Array.from(allCBs)

      // Set found checkbox's ":checked" to true
      this.params.descriptors.forEach(item => {
        const el = allCBsArr.find(cb => cb.name === item)
        el.checked = true
      })

      this.remarks = this.params.remarks
      this.validated = this.params.validated
      this.markerId = this.params._id.replace('peaks.point.', '')

      this._setCurrentColor(this.params.markerDegree)

      // console.log(' ');
      // console.log('-------------------');
      // console.log('this.activeColumns         =', this.activeColumns);
      // console.log('this.itemsInBeforeCol      =', this.itemsInBeforeCol);
      // console.log('this.itemsInAfterCol       =', this.itemsInAfterCol);
      // console.log('this.selectedDescriptors   =', this.selectedDescriptors);
      // console.log('this.beforeChecked         =', this.beforeChecked);
      // console.log('this.afterChecked          =', this.afterChecked);
      // console.log('...this.params.descriptors =', ...this.params.descriptors);
      // console.log('-------------------');
      // console.log(' ');

      this.$nextTick(() => {
        this.updateCheckboxes(this.params.descriptors, 'updateParametersOnInitialModalOpening')
        this._checkValidated('updateParametersOnInitialModalOpening')
      })

      // $nuxt.$emit('updateSelectedDescriptors', {
      //   id: this.params._id,
      //   descriptors: this.selectedDescriptors,
      //   validated: this.validated,
      //   itemsInBeforeCol: this.itemsInBeforeCol,
      //   itemsInAfterCol: this.itemsInAfterCol,
      // })

      console.groupEnd()
    },

    /**
     * Set not-used checkboxes to disabled:[true|false]
     *
     * If there is at least one selectedDescriptor and the marker is not deleted,
     * then this marker evaluates to "validated = true" ...unless, of course,
     * both selected areas are active, then one selector of each area must be
     * checked to get validated
     *
     * @param {Array} newVal   Array of descriptors
     */
    updateCheckboxes(currentlySelectedDescriptors, calledFrom) {
      // console.log('\nDESCRIPTOR MODAL / updateCheckboxes');
      // console.log('   currentlySelectedDescriptors =', currentlySelectedDescriptors);
      // console.log('   currentlySelectedDescriptors.length =', currentlySelectedDescriptors.length);
      // console.log('   this.maxSelectedDescriptors =', this.maxSelectedDescriptors);
      // console.log('   calledFrom =', calledFrom);
      // console.log('   this.descriptorBeforeActive =', this.descriptorBeforeActive);
      // console.log('   this.descriptorAfterActive =', this.descriptorAfterActive);
      // console.log('   currentlySelectedDescriptors.length >= this.maxSelectedDescriptors =', currentlySelectedDescriptors.length >= this.maxSelectedDescriptors);

      // Save empty checkbox nodes to this variable
      let allUncheckedCB;
      let area = 'before'
      if (this.descriptorAfterActive === true) {
        area = 'after'
      }

      // Only (de)activate checkboxes that belong to an area ("before", "after")
      // and only those that are not yet ":checked"
      if (currentlySelectedDescriptors.length >= this.maxSelectedDescriptors) {
        if (this.activeColumns === parseInt(1)) {
          allUncheckedCB = document.querySelectorAll(`input[data-position="${area}"]:not(:checked)`)
        }
        else if (this.activeColumns === parseInt(2)) {
          allUncheckedCB = document.querySelectorAll('.descriptors-table input:not(:checked)')
        }

        // set to disabled:true
        this.activeColumns !== parseInt(0) && allUncheckedCB.forEach(cb => {
          cb.disabled = true
        })
      }
      else {
        if (this.activeColumns === parseInt(1)) {
          allUncheckedCB = document.querySelectorAll(`input[data-position="${area}"]:disabled`)
        }
        else if (this.activeColumns === parseInt(2)) {
          allUncheckedCB = document.querySelectorAll('.descriptors-table input:disabled')
        }

        // set to disabled:false
        this.activeColumns !== parseInt(0) && allUncheckedCB.forEach(cb => { cb.disabled = false })
      }
    },

    /**
     * Delete / restore marker
     */
    toggleMarker(bool) {
      this.updatePointDeletedFlag = true

      if (bool === false) {
        $nuxt.$emit('deleteOrRestoreMarker', {
          setDeletedFlag: true,
          id: this.params._id
        })
        this.params.deleted = true
      }
      else {
        $nuxt.$emit('deleteOrRestoreMarker', {
          setDeletedFlag: false,
          id: this.params._id
        })
        this.params.deleted = false
      }

      setTimeout(() => {
        this.updatePointDeletedFlag = false
      }, 350)
    },

    /**
     * Set all checkboxes in the "before" and / or "after" areas to dis-/enabled
     * @params {string} position:   the checkboxes in the respective columns
     */
    removeSelectedCheckboxesOfSelectedDescriptorArea(position) {
      // get the name of the currently "manupulated" checkbox
      const posWithCapitalLetter = position.charAt(0).toUpperCase() + position.slice(1);
      const cb = document.querySelectorAll(`input[data-position="${position}"]`)

      cb.forEach(box => {
        // We need the name to identify the checkbox in the "selectedDescriptors"
        // array and delete it from there
        let boxName = ''
        if (box.checked) {
          boxName = box.name
          // find index of cheched selector in selectedDescriptors ...
          const index = this.selectedDescriptors.indexOf(boxName)
          // ... in order to remove it
          this.selectedDescriptors.splice(index, 1)
        }
        box.checked = false
      })

      this[`itemsIn${posWithCapitalLetter}Col`] = 0

      this._checkValidated('removeSelectedCheckboxesOfSelectedDescriptorArea')
    },

    adjustActiveColumnsCount(operator) {
      if (operator === '+') {
        this._clamp(this.activeColumns++)
      } else {
        this._clamp(this.activeColumns--)
      }
      $nuxt.$emit('updateActiveColumns', {
        id: this.params._id,
        activeColumns: this.activeColumns
      })
    },

    /**
     * Adds or removes a descriptor to the selectedDescriptors array of this point
     */
    handleDescriptor(e) {
      if (e.target.checked) {
        this.selectedDescriptors.push(e.target.name)

        if (e.target.name.charAt(0) === "1") {
          this.itemsInBeforeCol += 1
        }
        else {
          this.itemsInAfterCol += 1
        }
      }
      else {
        const itemIndex = this.selectedDescriptors.indexOf(e.target.name)
        this.selectedDescriptors.splice(itemIndex, 1)

        if (e.target.name.charAt(0) === "1") {
          this.itemsInBeforeCol -= 1
        }
        else {
          this.itemsInAfterCol -= 1
        }
      }

      this.updateCheckboxes(this.selectedDescriptors, 'handleDescriptors')

      this._checkValidated('handleDescriptor')

      $nuxt.$emit('updateSelectedDescriptors', {
        id: this.params._id,
        descriptors: this.selectedDescriptors,
        validated: this.validated,
        itemsInBeforeCol: this.itemsInBeforeCol,
        itemsInAfterCol: this.itemsInAfterCol,
      })
    },

    /**
     * Update Marker Degree
     */
    handlePointMarkerDegree(newDegree) {
      this.updateNewMarkerDegree = true
      this._setCurrentColor(newDegree)
      $nuxt.$emit('updateMarkerDegree', { degree: newDegree, id: this.params._id })
      setTimeout(() => {
        this.updateNewMarkerDegree = false
      }, 250)
    },

    /**
     * Save remarks every 700 ms. See "watch"
     */
    handleRemarks() {
      // Reset timer whenever this function is called (which happens on every change event)
      this.updateRemarks = true

      $nuxt.$emit('updateRemarks', {
        id: this.params._id,
        remarks: this.remarks
      })

      setTimeout(() => {
        this.updateRemarks = false
      }, 700)
    },

    /**
     * Play audio segment at marker
     */
    playAudio() {
      this.isPlaying = true
      // Call those function in audioPlayerMethods mixin
      $nuxt.$emit('trackAudioSetCurrentTime', this.params._time - this.offset)
      $nuxt.$emit('trackAudioOffsetPlay', this.offset)
    },

    stopAudio() {
      $nuxt.$emit('trackAudioOffsetStop')
      this.isPlaying = false
    },

    /**
     * --- Helper function ---
     */

    _clamp(num, min = 0, max = 2) {
      return Math.min(Math.max(num, min), max)
    },

    _setCurrentColor(val) {
      if (val === 1) this.currentColor = 'text-red-500'
      if (val === 2) this.currentColor = 'text-blue-500'
      if (val === 3) this.currentColor = 'text-green-500'
    },

    /**
     * Check if this marker is valid
     *
     * We need to check, whether either "before" or "after" or both descriptorAreas
     * have been selected. Depending on that we need to check, if the
     * selectedDescriptors have (simply) at least 1 descriptor or if selectedDescriptors
     * must have at least 1 descriptor of each column (1xx && 2xx)
     */
    _checkValidated(from) {
      if (
        (this.descriptorAfterActive && !this.descriptorBeforeActive) ||
        (!this.descriptorAfterActive && this.descriptorBeforeActive)
      ) {
        if (this.selectedDescriptors.length) {
          this.validated = true
        }
        else {
          this.validated = false
        }
      }
      else if (this.descriptorAfterActive && this.descriptorBeforeActive) {
        // check, if we have one from the first column and one from the second
        if (this.itemsInBeforeCol > 0 && this.itemsInAfterCol > 0) {
          this.validated = true
        } else {
          this.validated = false
        }
      }
      else {
        // No area active, so invalid
        this.validated = false
      }
    },

    /**
     * "before" descriptors are defined as "1[_descriptorId]", while "after" descr.
     * are defined as "2[_descriptorId]", where _descriptorId must be a 2-digit
     * number (therefore add a "0" to all numbers under 10)
     * Format the descriptor index to a 3 digit number
     */
    _descriptorId(index, int) {
      let number = 1

      if (index < 10) {
        number = int + '0' + index
      }
      else {
        number = int + index
      }

      return number
    },
  }
}
</script>

<style lang="postcss">
.border-bottom {
  @apply border-b  p-1;
}
.border-bottom:last-child {
  @apply border-none;
}
.hide-descriptor {
  @apply overflow-hidden h-0 min-h-0 max-h-0 border-none m-0 p-0;
  line-height: 0 !important;
}
</style>