<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    :click-to-close="true"
    :esc-to-close="true"
    v-on="$listeners"
    @before-close="beforeClose"
  >
    <header class="relative flex flex-col mb-4 mx-4 pb-2 select-none">
      <span class="modal__title">{{ infoTxt.title }}</span>
      <span v-if="infoTxt.subtitle" class="modal__subtitle">{{ infoTxt.subtitle }}</span>
    </header>

    <button v-if="waveformLoadingFinished" class="absolute top-4 right-4" @click="close">
      <svg
        class="block w-5 h-5 cursor-pointer select-none"
        role="button"
        aria-label="Close Experiment One Modal"
      >
        <use href="#cross" />
      </svg>
    </button>

    <div
      class="relative flex flex-col flew-nowrap flex-grow w-full h-full max-h-full p-4 overflow-x-hidden overflow-y-scroll"
    >
      <div class="relative flex flex-col flew-nowrap flex-grow w-full h-full max-h-full">
        <!-- Preloader -->
        <div
          class="flex flex-row items-center justify-center gap-x-2 mb-6 pb-4 text-lg tracking-wider"
        >
          <div
            v-if="!waveformLoadingFinished"
            class="flex flex-row items-center gap-x-4 text-gray-400 text-2xs leading-none"
          >
            <div class="text-right">
              Audio loading
              <br />This might take a while
            </div>
            <LoadingIndicator />
            <div>
              You will be able to close this window
              <br />once the audio file has been loaded.
            </div>
          </div>

          <div v-if="waveformLoadingFinished" class="text-green-600 text-center">
            The audio file has been loaded.
            <br />You can close this window now and start with
            <strong>STEP 1</strong> of the current experiment.
          </div>
        </div>

        <!-- Content -->
        <div class="flex flex-col flew-nowrap w-full">
          <div v-for="c in infoTxt.blocks" :key="c.id" class="block w-full mb-8">
            <header v-if="c.header_styled" class="mb-6">
              <div v-html="c.header_styled"></div>
              <h3 v-if="c.subheader" class="relative w-full mb-6">{{ c.subheader }}</h3>
            </header>

            <header v-else class="mb-6">
              <h2 class="relative w-full font-semibold mb-2 text-lg">{{ c.header }}</h2>
              <h3 v-if="c.subheader" class="relative w-full mb-6">{{ c.subheader }}</h3>
            </header>

            <div class="block list-with-styled-numbers" v-html="c.content"></div>
          </div>
        </div>
      </div>
    </div>
  </vue-final-modal>
</template>

<script>
import LoadingIndicator from '@/components/loadingIndicators/bouncingRectangles.vue'
import db from '@/db/dexie.js'

export default {
  name: 'ExperimentStepOneWithPreloaderModal',
  components: { LoadingIndicator },
  data() {
    return {
      showModal: false,
      loading: false,
      waveformLoadingFinished: false,
      infoTxt: {}
    }
  },
  computed: {
    escToCloseToggle: {
      get() {
        return this.$children[0].$options.props.escToClose
      },
      set(val) {
        this.$children[0].$options.props.escToClose = true
      }
    },
    clickToCloseToggle: {
      get() {
        return this.$children[0].$options.props.clickToClose
      },
      set(val) {
        this.$children[0].$options.props.clickToClose = true
      }
    }
  },
  async mounted() {
    const getModalTexts = await db.modals.get({ type: 'MODAL_CONTENT' })
    this.infoTxt = getModalTexts.blocks.find(item => item.modal_domain === 'TASK_ONE')

    this.$nuxt.$on('waveformLoadingFinished', () => {
      this.waveformLoadingFinished = true
    })
  },
  beforeDestroy() {
    this.$nuxt.$off('waveformLoadingFinished')
  },
  methods: {
    beforeClose() {
      this.$nuxt.$off('waveformLoadingFinished')
    }
  }
}
</script>