<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="modal-content"
    name="MessageModal"
    :esc-to-close="true"
    :click-to-close="true"
    v-on="$listeners"
  >
    <header class="relative flex flex-col items-start justify-start mb-12 mx-4 pb-6 select-none">
      <span class="modal__title">Add a message</span>
      <span
        class="modal__subtitle"
      >Please let us know, how your experience with the audio experiment and the web application was.</span>
    </header>

    <div class="flex flex-col flew-nowrap max-h-full m-4 justify-center">
      <div class="flex flex-col flex-nowrap gap-y-4 items-center justify-center">
        <div class="flex flex-row w-full h-full">
          <textarea
            id="message"
            v-model="message"
            name="message"
            class="w-full h-full min-h-xs relative border rounded-md p-4"
          ></textarea>
        </div>

        <!-- Download button -->
        <div class="btn btn-green btn-medium" @click="submitMessage()">Submit</div>
      </div>

      <button class="absolute top-4 right-4" @click="close">
        <svg
          class="block w-5 h-5 cursor-pointer select-none"
          role="button"
          aria-label="Close Privacy modal"
        >
          <use href="#cross" />
        </svg>
      </button>
    </div>
  </vue-final-modal>
</template>

<script>
/**
 * Feedback message box for pilot participant.
 * (Experiment participants won't be able to leave a feedback.)
 */
export default {
  name: 'MessageModal',
  data() {
    return {
      showModal: false,
      params: null,
      message: ''
    }
  },
  mounted() {
    // Assign params.msg to this.message
    // console.log('this.$children[0] =', this.$children[0]);
    // console.log('this.$children[0].params =', this.$children[0].params);
    this.message = this.$children[0].params.msg
  },
  methods: {
    submitMessage() {
      // console.log('submitmessage invoked: this.message =', this.message);

      // 1. save message somewhere to vuex experiment
      // 2. after closing this window, the participant will click "Finish
      //    experiment" - pick up the vuex Message there and send it to the
      //    pilot project
      this.$store.commit('experiment/feedbackMessage', { msg: this.message })

      this.$children[0].close()
    }
  },
}
</script>
