<template>
  <div>
    <h1>Application form error</h1>
    <p>How do we get the data here? See this.$route in console</p>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log('this.$route =', this.$route);
  }
}
</script>