<template>
  <div class="absolute inset-0 flex flex-col h-full p-16 overflow-hidden">

    <div class="intro">
      <header>
        <h1 class="text-2xl mb-5">Application from success</h1>
      </header>
      <div class="content">
        <p>You data was submitted successfully!</p>
        <p>status: {{ $router.params }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	created() {
		console.log(this.$route.params)
	},
}
</script>