<template>
  <vue-final-modal
    v-slot="{ close }"
    v-bind="$attrs"
    class="modal-opacity"
    classes="modal-container"
    content-class="modal-content"
    v-on="$listeners"
  >
    <div class="relative flex flex-col flex-nowrap flex-grow mb-8 mx-2 pb-2 px-0 select-none">
      <div class="modal__title border-b pb-4">List of available descriptors</div>

      <div class="modal__subtitle">
        This is a list of terms and phrases that can be chosen from and assigned to a marker to describe why it has been placed at its respective location.
        <br />Participants should get aquainted with these terms before they actually start an experiment.
      </div>
    </div>

    <button class="absolute top-4 right-5" @click="close">
      <svg
        class="block w-5 h-5 cursor-pointer select-none"
        role="button"
        aria-label="Close this modal"
      >
        <use href="#cross" />
      </svg>
    </button>

    <div
      class="flex flex-row flex-nowrap flex-grow w-full h-full max-h-full px-2 mb-4 overflow-x-hidden overflow-y-scroll"
    >
      <div v-if="descriptors" class="flex flex-col flew-nowrap">
        <div class="flex flex-col mr-2 border rounded-md">
          <div v-for="d in descriptors" :key="d.id" class="descriptor-item">
            <div class="px-4 whitespace-nowrap">{{ d.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </vue-final-modal>
</template>

<script>
import db from '@/db/dexie.js'

export default {
  name: 'DescriptorsListModal',
  data: () => ({
    showModal: false,
    loading: false,
    infoTxt: {},
    descriptors: [],
  }),

  async mounted() {
    await this.getDescriptors()
  },

  methods: {
    async getDescriptors() {
      this.descriptors = await db.descriptors.toArray()
      return true
    }
  }
}
</script>


<style lang="postcss">
.descriptor-item {
  @apply flex flex-row border-b p-1;
}
.descriptor-item:last-child {
  @apply border-none;
}
</style>