<template>
	<vue-final-modal
		v-slot="{ close }"
		v-bind="$attrs"
		classes="modal-container"
		content-class="modal-content modal-content-full"
		v-on="$listeners"
	>
		<header
			class="relative flex flex-col items-start justify-start h-12 mb-8 mx-2 pb-2 px-0 select-none"
		>
			<span class="modal__title">Keyboard Shortcuts & Mouse Interactions used in the PoD App</span>
		</header>

		<button class="absolute top-4 right-4" @click="close">
			<svg
				class="block w-5 h-5 cursor-pointer select-none"
				role="button"
				aria-label="Close Keyboard Usage"
			>
				<use xlink:href="#cross" />
			</svg>
		</button>

		<div
			v-if="contents && !loading"
			class="flex flex-row flex-nowrap flex-grow h-full max-h-full mx-2 pr-4 overflow-x-hidden overflow-y-scroll"
		>
			<div class="relative flex flex-col flew-nowrap w-full h-full max-h-full min-w-2xl">
				<div v-for="item in contents" :key="item.id" class="block w-full mb-6">
					<p class="text-xl font-thin mb-4 text-gray-400">{{ item.description }}</p>

					<div class="table-border">
						<!-- touche = fr for key -->
						<div v-for="touche in item.keys" :key="touche.id" class="table-border-cell">
							<div
								class="flex items-center justify-end p-1 pr-2 w-1/4 border-r bg-gray-100"
								:class="[touche.is_mouse_interaction ? 'text-right' : `text-center`]"
							>
								<div
									class
									:class="[
										touche.is_mouse_interaction ? '' : 'key',
										touche.key >= 1 && touche.key < 4
											? `w-1/3 key-color-${touche.key.toLowerCase().replace(/\s/g, '-')}`
											: touche.is_mouse_interaction
												? ''
												: 'key-bordered'
									]"
								>{{ touche.key }}</div>
							</div>
							<div class="pl-4 text-sm text-gray-600 w-3/4">{{ touche.description }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</vue-final-modal>
</template>

<script>
export default {
	name: 'KeyboardUsage',
	data() {
		return {
			contents: {},
			showModal: false,
			loading: false,
		}
	},
	mounted() {
		this.loadData()
	},
	methods: {
		async loadData() {
			this.loading = true
			const result = await this.$axios.get('/key-usages')
			this.contents = await result.data
			setTimeout(() => {
				this.loading = false
			}, 250)
		}
	},
}
</script>