<template>
	<vue-final-modal
		v-slot="{ params, close }"
		v-bind="$attrs"
		classes="modal-container"
		content-class="modal-content"
		v-on="$listeners"
	>
		<header class="relative flex flex-col items-center justify-center w-full h-auto min-h-12 mb-12">
			<div class="modal__title mb-1">
				<slot name="title">{{ params.title }}</slot>
			</div>
		</header>

		<video
			width="1438"
			height="820"
			allowfullscreen
			controls="controls"
			:poster="params.poster"
			:src="params.videoUrl"
			preload="metadata"
		></video>

		<button class="absolute top-4 right-4" @click="close">
			<svg class="block w-5 h-5 cursor-pointer select-none" role="button" aria-label="Close video">
				<use href="#cross" />
			</svg>
		</button>
	</vue-final-modal>
</template>

<script>
export default {
	name: 'VideoModal',
	data() {
		return {
			showModal: false,
			loading: false,
		}
	}
}
</script>