<template>
	<vue-final-modal
		v-slot="{ close }"
		v-bind="$attrs"
		classes="modal-container"
		content-class="modal-content"
		v-on="$listeners"
	>
		<div v-if="contentIsLoading" class="flex items-center justify-center w-full h-full">
			<Preloader />
		</div>

		<div v-else class="w-full min-w-3xl">
			<header class="relative flex flex-col items-center justify-center w-full h-auto min-h-12 mb-12">
				<div class="modal__title mb-1">
					<slot name="title">{{ params.title }}</slot>
				</div>
			</header>

			<video
				width="1438"
				height="820"
				allowfullscreen
				controls="controls"
				:poster="params.posterUrl"
				:src="params.videoUrl"
				preload="metadata"
			></video>

			<button class="absolute top-4 right-4" @click="close">
				<svg class="block w-5 h-5 cursor-pointer select-none" role="button" aria-label="Close video">
					<use href="#cross" />
				</svg>
			</button>
		</div>
	</vue-final-modal>
</template>

<script>
import Preloader from '~/components/loadingIndicators/bouncingRectangles.vue'

export default {
	name: 'VideoModalStandalone',
	components: { Preloader },
	data() {
		return {
			showModal: false,
			loading: false,
			contentIsLoading: false,
			params: {}
		}
	},
	mounted() {
		this.loadData()
	},
	methods: {
		async loadData() {
			this.contentIsLoading = true

			const query = await this.$axios.get('/video-standalone')
			this.content = await query.data

			this.params.title = this.content.Video.title
			this.params.posterUrl = this.content.Video.preview_image.formats.large.url
			this.params.videoUrl = this.content.Video.video.url

			// this.params = this.$children[0].params

			setTimeout(() => {
				this.contentIsLoading = false
			}, 500)
		}
	}
}
</script>